service-stubs/org.apache.stratos.cartridge.mgt.service.stub/src/main/resources/CartridgeMgtService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.controller.cloud.stratos.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://pojo.controller.cloud.stratos.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://impl.controller.cloud.stratos.apache.org">
    <wsdl:documentation>CartridgeMgtService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax212="http://pojo.controller.cloud.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.controller.cloud.stratos.apache.org">
            <xs:import namespace="http://pojo.controller.cloud.stratos.apache.org/xsd"/>
            <xs:element name="undeployCartridgeDefinition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCartridgeDefinition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeConfig" nillable="true" type="ax212:CartridgeConfig"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.controller.cloud.stratos.apache.org/xsd">
            <xs:complexType name="CartridgeConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="baseDir" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deploymentDirs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="iaasConfigs" nillable="true" type="ax211:IaasConfig"/>
                    <xs:element minOccurs="0" name="multiTenant" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="portMappings" nillable="true" type="ax211:PortMapping"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax211:Properties"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IaasConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="imageId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maxInstanceLimit" type="xs:int"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax211:Properties"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Properties">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax211:Property"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PortMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="proxyPort" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deployCartridgeDefinitionRequest">
        <wsdl:part name="parameters" element="ns:deployCartridgeDefinition"/>
    </wsdl:message>
    <wsdl:message name="undeployCartridgeDefinitionRequest">
        <wsdl:part name="parameters" element="ns:undeployCartridgeDefinition"/>
    </wsdl:message>
    <wsdl:portType name="CartridgeMgtServicePortType">
        <wsdl:operation name="deployCartridgeDefinition">
            <wsdl:input message="ns:deployCartridgeDefinitionRequest" wsaw:Action="urn:deployCartridgeDefinition"/>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <wsdl:input message="ns:undeployCartridgeDefinitionRequest" wsaw:Action="urn:undeployCartridgeDefinition"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CartridgeMgtServiceSoap11Binding" type="ns:CartridgeMgtServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deployCartridgeDefinition">
            <soap:operation soapAction="urn:deployCartridgeDefinition" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <soap:operation soapAction="urn:undeployCartridgeDefinition" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CartridgeMgtServiceSoap12Binding" type="ns:CartridgeMgtServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deployCartridgeDefinition">
            <soap12:operation soapAction="urn:deployCartridgeDefinition" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <soap12:operation soapAction="urn:undeployCartridgeDefinition" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CartridgeMgtServiceHttpBinding" type="ns:CartridgeMgtServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deployCartridgeDefinition">
            <http:operation location="deployCartridgeDefinition"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <http:operation location="undeployCartridgeDefinition"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CartridgeMgtService">
        <wsdl:port name="CartridgeMgtServiceHttpsSoap11Endpoint" binding="ns:CartridgeMgtServiceSoap11Binding">
            <soap:address location="https://10.144.132.229:9444/services/CartridgeMgtService.CartridgeMgtServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CartridgeMgtServiceHttpSoap11Endpoint" binding="ns:CartridgeMgtServiceSoap11Binding">
            <soap:address location="http://10.144.132.229:9764/services/CartridgeMgtService.CartridgeMgtServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CartridgeMgtServiceHttpSoap12Endpoint" binding="ns:CartridgeMgtServiceSoap12Binding">
            <soap12:address location="http://10.144.132.229:9764/services/CartridgeMgtService.CartridgeMgtServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CartridgeMgtServiceHttpsSoap12Endpoint" binding="ns:CartridgeMgtServiceSoap12Binding">
            <soap12:address location="https://10.144.132.229:9444/services/CartridgeMgtService.CartridgeMgtServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CartridgeMgtServiceHttpsEndpoint" binding="ns:CartridgeMgtServiceHttpBinding">
            <http:address location="https://10.144.132.229:9444/services/CartridgeMgtService.CartridgeMgtServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="CartridgeMgtServiceHttpEndpoint" binding="ns:CartridgeMgtServiceHttpBinding">
            <http:address location="http://10.144.132.229:9764/services/CartridgeMgtService.CartridgeMgtServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>