service-stubs/org.apache.stratos.autoscaler.service.stub/src/main/resources/AutoScalerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://deployment.policy.pojo.autoscaler.stratos.apache.org/xsd" xmlns:ax27="http://autoscale.policy.pojo.autoscaler.stratos.apache.org/xsd" xmlns:ns="http://api.autoscaler.stratos.apache.org" xmlns:ax25="http://policy.exception.autoscaler.stratos.apache.org/xsd" xmlns:ax23="http://exception.autoscaler.stratos.apache.org/xsd" xmlns:ax21="http://pojo.autoscaler.stratos.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax216="http://application.exception.autoscaler.stratos.apache.org/xsd" xmlns:ax218="http://pojo.applications.autoscaler.stratos.apache.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax222="http://kubernetes.exception.autoscaler.stratos.apache.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax210="http://network.partition.deployment.policy.pojo.autoscaler.stratos.apache.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://common.stratos.apache.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.autoscaler.stratos.apache.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://autoscale.policy.pojo.autoscaler.stratos.apache.org/xsd">
            <xs:complexType name="AutoscalePolicy">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="instanceRoundingFactor" type="xs:float"/>
                    <xs:element minOccurs="0" name="isPublic" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="loadThresholds" nillable="true" type="ax27:LoadThresholds"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoadThresholds">
                <xs:sequence>
                    <xs:element minOccurs="0" name="loadAverageThreshold" type="xs:float"/>
                    <xs:element minOccurs="0" name="memoryConsumptionThreshold" type="xs:float"/>
                    <xs:element minOccurs="0" name="requestsInFlightThreshold" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax219="http://common.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.applications.autoscaler.stratos.apache.org/xsd">
            <xs:import namespace="http://common.stratos.apache.org/xsd"/>
            <xs:complexType name="ApplicationContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="components" nillable="true" type="ax218:ComponentContext"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax211:Properties"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="teantAdminUsername" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ComponentContext">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cartridgeContexts" nillable="true" type="ax218:CartridgeContext"/>
                    <xs:element minOccurs="0" name="dependencyContext" nillable="true" type="ax218:DependencyContext"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="groupContexts" nillable="true" type="ax218:GroupContext"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CartridgeContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cartridgeMax" type="xs:int"/>
                    <xs:element minOccurs="0" name="cartridgeMin" type="xs:int"/>
                    <xs:element minOccurs="0" name="subscribableInfoContext" nillable="true" type="ax218:SubscribableInfoContext"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscribableInfoContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="autoscalingPolicy" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="dependencyAliases" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deploymentPolicy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maxMembers" type="xs:int"/>
                    <xs:element minOccurs="0" name="minMembers" type="xs:int"/>
                    <xs:element minOccurs="0" name="privateRepo" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax211:Properties"/>
                    <xs:element minOccurs="0" name="repoPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repoUrl" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repoUsername" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DependencyContext">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="scalingDependents" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="startupOrdersContexts" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminationBehaviour" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GroupContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cartridgeContexts" nillable="true" type="ax218:CartridgeContext"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="groupContexts" nillable="true" type="ax218:GroupContext"/>
                    <xs:element minOccurs="0" name="groupMaxInstances" type="xs:int"/>
                    <xs:element minOccurs="0" name="groupMinInstances" type="xs:int"/>
                    <xs:element minOccurs="0" name="groupScalingEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.autoscaler.stratos.apache.org/xsd">
            <xs:complexType name="ServiceGroup">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cartridges" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dependencies" nillable="true" type="ax21:Dependencies"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="groups" nillable="true" type="ax21:ServiceGroup"/>
                    <xs:element minOccurs="0" name="groupscalingEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Dependencies">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="scalingDependants" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="startupOrders" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminationBehaviour" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax213="http://network.partition.deployment.policy.pojo.autoscaler.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deployment.policy.pojo.autoscaler.stratos.apache.org/xsd">
            <xs:import namespace="http://network.partition.deployment.policy.pojo.autoscaler.stratos.apache.org/xsd"/>
            <xs:complexType name="DeploymentPolicy">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="allPartitions" nillable="true" type="ax213:Partition"/>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="applicationLevelNetworkPartitions" nillable="true" type="ax213:ApplicationLevelNetworkPartition"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="childLevelNetworkPartitions" nillable="true" type="ax213:ChildLevelNetworkPartition"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="childPolicies" nillable="true" type="ax29:ChildPolicy"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="isPublic" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChildPolicy">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="childLevelNetworkPartitions" nillable="true" type="ax213:ChildLevelNetworkPartition"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://application.exception.autoscaler.stratos.apache.org/xsd">
            <xs:complexType name="ApplicationDefinitionException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax212="http://common.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://network.partition.deployment.policy.pojo.autoscaler.stratos.apache.org/xsd">
            <xs:import namespace="http://common.stratos.apache.org/xsd"/>
            <xs:complexType name="Partition">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="isPublic" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="kubernetesClusterId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax212:Properties"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ApplicationLevelNetworkPartition">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeByDefault" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="kubernetesClusterId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="partitions" nillable="true" type="ax210:Partition"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChildLevelNetworkPartition">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="childLevelPartitions" nillable="true" type="ax210:ChildLevelPartition"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="min" type="xs:int"/>
                    <xs:element minOccurs="0" name="partitionAlgo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChildLevelPartition">
                <xs:sequence>
                    <xs:element minOccurs="0" name="max" type="xs:int"/>
                    <xs:element minOccurs="0" name="networkPartitionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="partitionId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://kubernetes.exception.autoscaler.stratos.apache.org/xsd">
            <xs:complexType name="InvalidServiceGroupException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.stratos.apache.org/xsd">
            <xs:complexType name="Properties">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax211:Property"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax28="http://autoscale.policy.pojo.autoscaler.stratos.apache.org/xsd" xmlns:ax26="http://policy.exception.autoscaler.stratos.apache.org/xsd" xmlns:ax24="http://exception.autoscaler.stratos.apache.org/xsd" xmlns:ax217="http://application.exception.autoscaler.stratos.apache.org/xsd" xmlns:ax22="http://pojo.autoscaler.stratos.apache.org/xsd" xmlns:ax214="http://deployment.policy.pojo.autoscaler.stratos.apache.org/xsd" xmlns:ax215="http://network.partition.deployment.policy.pojo.autoscaler.stratos.apache.org/xsd" xmlns:ax220="http://pojo.applications.autoscaler.stratos.apache.org/xsd" xmlns:ax221="http://common.stratos.apache.org/xsd" xmlns:ax223="http://kubernetes.exception.autoscaler.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.autoscaler.stratos.apache.org">
            <xs:import namespace="http://pojo.autoscaler.stratos.apache.org/xsd"/>
            <xs:import namespace="http://exception.autoscaler.stratos.apache.org/xsd"/>
            <xs:import namespace="http://policy.exception.autoscaler.stratos.apache.org/xsd"/>
            <xs:import namespace="http://autoscale.policy.pojo.autoscaler.stratos.apache.org/xsd"/>
            <xs:import namespace="http://deployment.policy.pojo.autoscaler.stratos.apache.org/xsd"/>
            <xs:import namespace="http://network.partition.deployment.policy.pojo.autoscaler.stratos.apache.org/xsd"/>
            <xs:import namespace="http://application.exception.autoscaler.stratos.apache.org/xsd"/>
            <xs:import namespace="http://pojo.applications.autoscaler.stratos.apache.org/xsd"/>
            <xs:import namespace="http://common.stratos.apache.org/xsd"/>
            <xs:import namespace="http://kubernetes.exception.autoscaler.stratos.apache.org/xsd"/>
            <xs:element name="removeServiceGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:ServiceGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AutoScalerServiceAutoScalerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AutoScalerException" nillable="true" type="ax23:AutoScalerException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceGroups">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceGroupsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:ServiceGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="serviceGroupExist">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="serviceGroupExistResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployServiceGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AutoScalerServiceInvalidPolicyException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidPolicyException" nillable="true" type="ax25:InvalidPolicyException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addAutoScalingPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="autoscalePolicy" nillable="true" type="ax27:AutoscalePolicy"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addAutoScalingPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAutoScalingPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="autoscalePolicy" nillable="true" type="ax27:AutoscalePolicy"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAutoScalingPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDeploymentPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="deploymentPolicyId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDeploymentPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DeploymentPolicy"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAutoscalingPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="autoscalingPolicyId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAutoscalingPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax27:AutoscalePolicy"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNetworkPartitions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="deploymentPolicyId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNetworkPartitionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax215:ApplicationLevelNetworkPartition"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AutoScalerServiceApplicationDefinitionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ApplicationDefinitionException" nillable="true" type="ax217:ApplicationDefinitionException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationContext" nillable="true" type="ax218:ApplicationContext"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax218:ApplicationContext"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplications">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax218:ApplicationContext"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="deploymentPolicy" nillable="true" type="ax29:DeploymentPolicy"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AutoScalerServiceInvalidArgumentException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidArgumentException" nillable="true" type="ax23:InvalidArgumentException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateClusterMonitor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="properties" nillable="true" type="ax221:Properties"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AutoScalerServiceInvalidServiceGroupException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidServiceGroupException" nillable="true" type="ax222:InvalidServiceGroupException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addServiceGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="servicegroup" nillable="true" type="ax21:ServiceGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAutoScalingPolicies">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAutoScalingPoliciesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:AutoscalePolicy"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://policy.exception.autoscaler.stratos.apache.org/xsd">
            <xs:complexType name="InvalidPolicyException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.autoscaler.stratos.apache.org/xsd">
            <xs:complexType name="AutoScalerException">
                <xs:complexContent>
                    <xs:extension base="xs:RuntimeException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="InvalidArgumentException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAutoScalingPoliciesRequest">
        <wsdl:part name="parameters" element="ns:getAutoScalingPolicies"/>
    </wsdl:message>
    <wsdl:message name="getAutoScalingPoliciesResponse">
        <wsdl:part name="parameters" element="ns:getAutoScalingPoliciesResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceGroupsRequest">
        <wsdl:part name="parameters" element="ns:getServiceGroups"/>
    </wsdl:message>
    <wsdl:message name="getServiceGroupsResponse">
        <wsdl:part name="parameters" element="ns:getServiceGroupsResponse"/>
    </wsdl:message>
    <wsdl:message name="AutoScalerServiceAutoScalerException">
        <wsdl:part name="parameters" element="ns:AutoScalerServiceAutoScalerException"/>
    </wsdl:message>
    <wsdl:message name="getApplicationRequest">
        <wsdl:part name="parameters" element="ns:getApplication"/>
    </wsdl:message>
    <wsdl:message name="getApplicationResponse">
        <wsdl:part name="parameters" element="ns:getApplicationResponse"/>
    </wsdl:message>
    <wsdl:message name="deployApplicationRequest">
        <wsdl:part name="parameters" element="ns:deployApplication"/>
    </wsdl:message>
    <wsdl:message name="deployApplicationResponse">
        <wsdl:part name="parameters" element="ns:deployApplicationResponse"/>
    </wsdl:message>
    <wsdl:message name="AutoScalerServiceApplicationDefinitionException">
        <wsdl:part name="parameters" element="ns:AutoScalerServiceApplicationDefinitionException"/>
    </wsdl:message>
    <wsdl:message name="getDeploymentPolicyRequest">
        <wsdl:part name="parameters" element="ns:getDeploymentPolicy"/>
    </wsdl:message>
    <wsdl:message name="getDeploymentPolicyResponse">
        <wsdl:part name="parameters" element="ns:getDeploymentPolicyResponse"/>
    </wsdl:message>
    <wsdl:message name="serviceGroupExistRequest">
        <wsdl:part name="parameters" element="ns:serviceGroupExist"/>
    </wsdl:message>
    <wsdl:message name="serviceGroupExistResponse">
        <wsdl:part name="parameters" element="ns:serviceGroupExistResponse"/>
    </wsdl:message>
    <wsdl:message name="addAutoScalingPolicyRequest">
        <wsdl:part name="parameters" element="ns:addAutoScalingPolicy"/>
    </wsdl:message>
    <wsdl:message name="addAutoScalingPolicyResponse">
        <wsdl:part name="parameters" element="ns:addAutoScalingPolicyResponse"/>
    </wsdl:message>
    <wsdl:message name="AutoScalerServiceInvalidPolicyException">
        <wsdl:part name="parameters" element="ns:AutoScalerServiceInvalidPolicyException"/>
    </wsdl:message>
    <wsdl:message name="addServiceGroupRequest">
        <wsdl:part name="parameters" element="ns:addServiceGroup"/>
    </wsdl:message>
    <wsdl:message name="AutoScalerServiceInvalidServiceGroupException">
        <wsdl:part name="parameters" element="ns:AutoScalerServiceInvalidServiceGroupException"/>
    </wsdl:message>
    <wsdl:message name="deleteApplicationRequest">
        <wsdl:part name="parameters" element="ns:deleteApplication"/>
    </wsdl:message>
    <wsdl:message name="getServiceGroupRequest">
        <wsdl:part name="parameters" element="ns:getServiceGroup"/>
    </wsdl:message>
    <wsdl:message name="getServiceGroupResponse">
        <wsdl:part name="parameters" element="ns:getServiceGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="undeployServiceGroupRequest">
        <wsdl:part name="parameters" element="ns:undeployServiceGroup"/>
    </wsdl:message>
    <wsdl:message name="getAutoscalingPolicyRequest">
        <wsdl:part name="parameters" element="ns:getAutoscalingPolicy"/>
    </wsdl:message>
    <wsdl:message name="getAutoscalingPolicyResponse">
        <wsdl:part name="parameters" element="ns:getAutoscalingPolicyResponse"/>
    </wsdl:message>
    <wsdl:message name="updateAutoScalingPolicyRequest">
        <wsdl:part name="parameters" element="ns:updateAutoScalingPolicy"/>
    </wsdl:message>
    <wsdl:message name="updateAutoScalingPolicyResponse">
        <wsdl:part name="parameters" element="ns:updateAutoScalingPolicyResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationsRequest">
        <wsdl:part name="parameters" element="ns:getApplications"/>
    </wsdl:message>
    <wsdl:message name="getApplicationsResponse">
        <wsdl:part name="parameters" element="ns:getApplicationsResponse"/>
    </wsdl:message>
    <wsdl:message name="addApplicationRequest">
        <wsdl:part name="parameters" element="ns:addApplication"/>
    </wsdl:message>
    <wsdl:message name="updateClusterMonitorRequest">
        <wsdl:part name="parameters" element="ns:updateClusterMonitor"/>
    </wsdl:message>
    <wsdl:message name="AutoScalerServiceInvalidArgumentException">
        <wsdl:part name="parameters" element="ns:AutoScalerServiceInvalidArgumentException"/>
    </wsdl:message>
    <wsdl:message name="undeployApplicationRequest">
        <wsdl:part name="parameters" element="ns:undeployApplication"/>
    </wsdl:message>
    <wsdl:message name="removeServiceGroupRequest">
        <wsdl:part name="parameters" element="ns:removeServiceGroup"/>
    </wsdl:message>
    <wsdl:message name="getNetworkPartitionsRequest">
        <wsdl:part name="parameters" element="ns:getNetworkPartitions"/>
    </wsdl:message>
    <wsdl:message name="getNetworkPartitionsResponse">
        <wsdl:part name="parameters" element="ns:getNetworkPartitionsResponse"/>
    </wsdl:message>
    <wsdl:portType name="AutoScalerServicePortType">
        <wsdl:operation name="getAutoScalingPolicies">
            <wsdl:input message="ns:getAutoScalingPoliciesRequest" wsaw:Action="urn:getAutoScalingPolicies"/>
            <wsdl:output message="ns:getAutoScalingPoliciesResponse" wsaw:Action="urn:getAutoScalingPoliciesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroups">
            <wsdl:input message="ns:getServiceGroupsRequest" wsaw:Action="urn:getServiceGroups"/>
            <wsdl:output message="ns:getServiceGroupsResponse" wsaw:Action="urn:getServiceGroupsResponse"/>
            <wsdl:fault message="ns:AutoScalerServiceAutoScalerException" name="AutoScalerServiceAutoScalerException" wsaw:Action="urn:getServiceGroupsAutoScalerServiceAutoScalerException"/>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <wsdl:input message="ns:getApplicationRequest" wsaw:Action="urn:getApplication"/>
            <wsdl:output message="ns:getApplicationResponse" wsaw:Action="urn:getApplicationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployApplication">
            <wsdl:input message="ns:deployApplicationRequest" wsaw:Action="urn:deployApplication"/>
            <wsdl:output message="ns:deployApplicationResponse" wsaw:Action="urn:deployApplicationResponse"/>
            <wsdl:fault message="ns:AutoScalerServiceApplicationDefinitionException" name="AutoScalerServiceApplicationDefinitionException" wsaw:Action="urn:deployApplicationAutoScalerServiceApplicationDefinitionException"/>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentPolicy">
            <wsdl:input message="ns:getDeploymentPolicyRequest" wsaw:Action="urn:getDeploymentPolicy"/>
            <wsdl:output message="ns:getDeploymentPolicyResponse" wsaw:Action="urn:getDeploymentPolicyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="serviceGroupExist">
            <wsdl:input message="ns:serviceGroupExistRequest" wsaw:Action="urn:serviceGroupExist"/>
            <wsdl:output message="ns:serviceGroupExistResponse" wsaw:Action="urn:serviceGroupExistResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addAutoScalingPolicy">
            <wsdl:input message="ns:addAutoScalingPolicyRequest" wsaw:Action="urn:addAutoScalingPolicy"/>
            <wsdl:output message="ns:addAutoScalingPolicyResponse" wsaw:Action="urn:addAutoScalingPolicyResponse"/>
            <wsdl:fault message="ns:AutoScalerServiceInvalidPolicyException" name="AutoScalerServiceInvalidPolicyException" wsaw:Action="urn:addAutoScalingPolicyAutoScalerServiceInvalidPolicyException"/>
        </wsdl:operation>
        <wsdl:operation name="addServiceGroup">
            <wsdl:input message="ns:addServiceGroupRequest" wsaw:Action="urn:addServiceGroup"/>
            <wsdl:fault message="ns:AutoScalerServiceInvalidServiceGroupException" name="AutoScalerServiceInvalidServiceGroupException" wsaw:Action="urn:addServiceGroupAutoScalerServiceInvalidServiceGroupException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <wsdl:input message="ns:deleteApplicationRequest" wsaw:Action="urn:deleteApplication"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroup">
            <wsdl:input message="ns:getServiceGroupRequest" wsaw:Action="urn:getServiceGroup"/>
            <wsdl:output message="ns:getServiceGroupResponse" wsaw:Action="urn:getServiceGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployServiceGroup">
            <wsdl:input message="ns:undeployServiceGroupRequest" wsaw:Action="urn:undeployServiceGroup"/>
            <wsdl:fault message="ns:AutoScalerServiceAutoScalerException" name="AutoScalerServiceAutoScalerException" wsaw:Action="urn:undeployServiceGroupAutoScalerServiceAutoScalerException"/>
        </wsdl:operation>
        <wsdl:operation name="getAutoscalingPolicy">
            <wsdl:input message="ns:getAutoscalingPolicyRequest" wsaw:Action="urn:getAutoscalingPolicy"/>
            <wsdl:output message="ns:getAutoscalingPolicyResponse" wsaw:Action="urn:getAutoscalingPolicyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateAutoScalingPolicy">
            <wsdl:input message="ns:updateAutoScalingPolicyRequest" wsaw:Action="urn:updateAutoScalingPolicy"/>
            <wsdl:output message="ns:updateAutoScalingPolicyResponse" wsaw:Action="urn:updateAutoScalingPolicyResponse"/>
            <wsdl:fault message="ns:AutoScalerServiceInvalidPolicyException" name="AutoScalerServiceInvalidPolicyException" wsaw:Action="urn:updateAutoScalingPolicyAutoScalerServiceInvalidPolicyException"/>
        </wsdl:operation>
        <wsdl:operation name="getApplications">
            <wsdl:input message="ns:getApplicationsRequest" wsaw:Action="urn:getApplications"/>
            <wsdl:output message="ns:getApplicationsResponse" wsaw:Action="urn:getApplicationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addApplication">
            <wsdl:input message="ns:addApplicationRequest" wsaw:Action="urn:addApplication"/>
            <wsdl:fault message="ns:AutoScalerServiceApplicationDefinitionException" name="AutoScalerServiceApplicationDefinitionException" wsaw:Action="urn:addApplicationAutoScalerServiceApplicationDefinitionException"/>
        </wsdl:operation>
        <wsdl:operation name="updateClusterMonitor">
            <wsdl:input message="ns:updateClusterMonitorRequest" wsaw:Action="urn:updateClusterMonitor"/>
            <wsdl:fault message="ns:AutoScalerServiceInvalidArgumentException" name="AutoScalerServiceInvalidArgumentException" wsaw:Action="urn:updateClusterMonitorAutoScalerServiceInvalidArgumentException"/>
        </wsdl:operation>
        <wsdl:operation name="undeployApplication">
            <wsdl:input message="ns:undeployApplicationRequest" wsaw:Action="urn:undeployApplication"/>
        </wsdl:operation>
        <wsdl:operation name="removeServiceGroup">
            <wsdl:input message="ns:removeServiceGroupRequest" wsaw:Action="urn:removeServiceGroup"/>
        </wsdl:operation>
        <wsdl:operation name="getNetworkPartitions">
            <wsdl:input message="ns:getNetworkPartitionsRequest" wsaw:Action="urn:getNetworkPartitions"/>
            <wsdl:output message="ns:getNetworkPartitionsResponse" wsaw:Action="urn:getNetworkPartitionsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutoScalerServiceSoap11Binding" type="ns:AutoScalerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAutoScalingPolicies">
            <soap:operation soapAction="urn:getAutoScalingPolicies" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroups">
            <soap:operation soapAction="urn:getServiceGroups" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoScalerServiceAutoScalerException">
                <soap:fault use="literal" name="AutoScalerServiceAutoScalerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <soap:operation soapAction="urn:getApplication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployApplication">
            <soap:operation soapAction="urn:deployApplication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoScalerServiceApplicationDefinitionException">
                <soap:fault use="literal" name="AutoScalerServiceApplicationDefinitionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentPolicy">
            <soap:operation soapAction="urn:getDeploymentPolicy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="serviceGroupExist">
            <soap:operation soapAction="urn:serviceGroupExist" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addAutoScalingPolicy">
            <soap:operation soapAction="urn:addAutoScalingPolicy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoScalerServiceInvalidPolicyException">
                <soap:fault use="literal" name="AutoScalerServiceInvalidPolicyException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addServiceGroup">
            <soap:operation soapAction="urn:addServiceGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AutoScalerServiceInvalidServiceGroupException">
                <soap:fault use="literal" name="AutoScalerServiceInvalidServiceGroupException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroup">
            <soap:operation soapAction="urn:getServiceGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <soap:operation soapAction="urn:deleteApplication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="undeployServiceGroup">
            <soap:operation soapAction="urn:undeployServiceGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AutoScalerServiceAutoScalerException">
                <soap:fault use="literal" name="AutoScalerServiceAutoScalerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAutoscalingPolicy">
            <soap:operation soapAction="urn:getAutoscalingPolicy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAutoScalingPolicy">
            <soap:operation soapAction="urn:updateAutoScalingPolicy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoScalerServiceInvalidPolicyException">
                <soap:fault use="literal" name="AutoScalerServiceInvalidPolicyException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplications">
            <soap:operation soapAction="urn:getApplications" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplication">
            <soap:operation soapAction="urn:addApplication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AutoScalerServiceApplicationDefinitionException">
                <soap:fault use="literal" name="AutoScalerServiceApplicationDefinitionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateClusterMonitor">
            <soap:operation soapAction="urn:updateClusterMonitor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AutoScalerServiceInvalidArgumentException">
                <soap:fault use="literal" name="AutoScalerServiceInvalidArgumentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="undeployApplication">
            <soap:operation soapAction="urn:undeployApplication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeServiceGroup">
            <soap:operation soapAction="urn:removeServiceGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getNetworkPartitions">
            <soap:operation soapAction="urn:getNetworkPartitions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutoScalerServiceSoap12Binding" type="ns:AutoScalerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAutoScalingPolicies">
            <soap12:operation soapAction="urn:getAutoScalingPolicies" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroups">
            <soap12:operation soapAction="urn:getServiceGroups" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoScalerServiceAutoScalerException">
                <soap12:fault use="literal" name="AutoScalerServiceAutoScalerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <soap12:operation soapAction="urn:getApplication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployApplication">
            <soap12:operation soapAction="urn:deployApplication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoScalerServiceApplicationDefinitionException">
                <soap12:fault use="literal" name="AutoScalerServiceApplicationDefinitionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentPolicy">
            <soap12:operation soapAction="urn:getDeploymentPolicy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="serviceGroupExist">
            <soap12:operation soapAction="urn:serviceGroupExist" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addAutoScalingPolicy">
            <soap12:operation soapAction="urn:addAutoScalingPolicy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoScalerServiceInvalidPolicyException">
                <soap12:fault use="literal" name="AutoScalerServiceInvalidPolicyException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addServiceGroup">
            <soap12:operation soapAction="urn:addServiceGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AutoScalerServiceInvalidServiceGroupException">
                <soap12:fault use="literal" name="AutoScalerServiceInvalidServiceGroupException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroup">
            <soap12:operation soapAction="urn:getServiceGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <soap12:operation soapAction="urn:deleteApplication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="undeployServiceGroup">
            <soap12:operation soapAction="urn:undeployServiceGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AutoScalerServiceAutoScalerException">
                <soap12:fault use="literal" name="AutoScalerServiceAutoScalerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAutoscalingPolicy">
            <soap12:operation soapAction="urn:getAutoscalingPolicy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAutoScalingPolicy">
            <soap12:operation soapAction="urn:updateAutoScalingPolicy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoScalerServiceInvalidPolicyException">
                <soap12:fault use="literal" name="AutoScalerServiceInvalidPolicyException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplications">
            <soap12:operation soapAction="urn:getApplications" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplication">
            <soap12:operation soapAction="urn:addApplication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AutoScalerServiceApplicationDefinitionException">
                <soap12:fault use="literal" name="AutoScalerServiceApplicationDefinitionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateClusterMonitor">
            <soap12:operation soapAction="urn:updateClusterMonitor" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AutoScalerServiceInvalidArgumentException">
                <soap12:fault use="literal" name="AutoScalerServiceInvalidArgumentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="undeployApplication">
            <soap12:operation soapAction="urn:undeployApplication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeServiceGroup">
            <soap12:operation soapAction="urn:removeServiceGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getNetworkPartitions">
            <soap12:operation soapAction="urn:getNetworkPartitions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutoScalerServiceHttpBinding" type="ns:AutoScalerServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAutoScalingPolicies">
            <http:operation location="getAutoScalingPolicies"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroups">
            <http:operation location="getServiceGroups"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <http:operation location="getApplication"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployApplication">
            <http:operation location="deployApplication"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentPolicy">
            <http:operation location="getDeploymentPolicy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="serviceGroupExist">
            <http:operation location="serviceGroupExist"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addAutoScalingPolicy">
            <http:operation location="addAutoScalingPolicy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addServiceGroup">
            <http:operation location="addServiceGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroup">
            <http:operation location="getServiceGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <http:operation location="deleteApplication"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="undeployServiceGroup">
            <http:operation location="undeployServiceGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAutoscalingPolicy">
            <http:operation location="getAutoscalingPolicy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAutoScalingPolicy">
            <http:operation location="updateAutoScalingPolicy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplications">
            <http:operation location="getApplications"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplication">
            <http:operation location="addApplication"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateClusterMonitor">
            <http:operation location="updateClusterMonitor"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="undeployApplication">
            <http:operation location="undeployApplication"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeServiceGroup">
            <http:operation location="removeServiceGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getNetworkPartitions">
            <http:operation location="getNetworkPartitions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AutoScalerService">
        <wsdl:port name="AutoScalerServiceHttpSoap11Endpoint" binding="ns:AutoScalerServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/AutoScalerService"/>
        </wsdl:port>
        <wsdl:port name="AutoScalerServiceHttpSoap12Endpoint" binding="ns:AutoScalerServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/AutoScalerService"/>
        </wsdl:port>
        <wsdl:port name="AutoScalerServiceHttpEndpoint" binding="ns:AutoScalerServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/AutoScalerService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
