components/stratos/sample-installer/org.wso2.carbon.sample.installer.ui/2.1.0/src/main/resources/SampleDeployer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://installer.sample.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax2170="http://api.registry.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ax2169="http://exceptions.core.registry.carbon.wso2.org/xsd"
                  xmlns:ax2173="http://beans.installer.sample.carbon.wso2.org/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://installer.sample.carbon.wso2.org"> 
    <wsdl:documentation>SampleDeployer</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.installer.sample.carbon.wso2.org/xsd">
            <xs:complexType name="SampleInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="installable" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requiredServices" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="sampleName" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceEPRs" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2171="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd" />
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2170:RegistryException">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2172="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2174="http://beans.installer.sample.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://installer.sample.carbon.wso2.org">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" />
            <xs:import namespace="http://beans.installer.sample.carbon.wso2.org/xsd" />
            <xs:element name="uploadSampleRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2172:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadSample">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sampleName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadSampleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setPolicyPermission">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getSampleInformation">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getSampleInformationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2174:SampleInformation" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deploySampleRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2172:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deploySample">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sampleName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deploySampleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSampleInformationRequest">
        <wsdl:part name="parameters" element="ns:getSampleInformation" />
    </wsdl:message>
    <wsdl:message name="getSampleInformationResponse">
        <wsdl:part name="parameters" element="ns:getSampleInformationResponse" />
    </wsdl:message>
    <wsdl:message name="uploadSampleRequest">
        <wsdl:part name="parameters" element="ns:uploadSample" />
    </wsdl:message>
    <wsdl:message name="uploadSampleResponse">
        <wsdl:part name="parameters" element="ns:uploadSampleResponse" />
    </wsdl:message>
    <wsdl:message name="uploadSampleRegistryException">
        <wsdl:part name="parameters" element="ns:uploadSampleRegistryException" />
    </wsdl:message>
    <wsdl:message name="deploySampleRequest">
        <wsdl:part name="parameters" element="ns:deploySample" />
    </wsdl:message>
    <wsdl:message name="deploySampleResponse">
        <wsdl:part name="parameters" element="ns:deploySampleResponse" />
    </wsdl:message>
    <wsdl:message name="deploySampleRegistryException">
        <wsdl:part name="parameters" element="ns:deploySampleRegistryException" />
    </wsdl:message>
    <wsdl:message name="setPolicyPermissionRequest">
        <wsdl:part name="parameters" element="ns:setPolicyPermission" />
    </wsdl:message>
    <wsdl:portType name="SampleDeployerPortType">
        <wsdl:operation name="getSampleInformation">
            <wsdl:input message="ns:getSampleInformationRequest" wsaw:Action="urn:getSampleInformation" />
            <wsdl:output message="ns:getSampleInformationResponse" wsaw:Action="urn:getSampleInformationResponse" />
        </wsdl:operation>
        <wsdl:operation name="uploadSample">
            <wsdl:input message="ns:uploadSampleRequest" wsaw:Action="urn:uploadSample" />
            <wsdl:output message="ns:uploadSampleResponse" wsaw:Action="urn:uploadSampleResponse" />
            <wsdl:fault message="ns:uploadSampleRegistryException" name="uploadSampleRegistryException" wsaw:Action="urn:uploadSampleuploadSampleRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="deploySample">
            <wsdl:input message="ns:deploySampleRequest" wsaw:Action="urn:deploySample" />
            <wsdl:output message="ns:deploySampleResponse" wsaw:Action="urn:deploySampleResponse" />
            <wsdl:fault message="ns:deploySampleRegistryException" name="deploySampleRegistryException" wsaw:Action="urn:deploySampledeploySampleRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="setPolicyPermission">
            <wsdl:input message="ns:setPolicyPermissionRequest" wsaw:Action="urn:setPolicyPermission" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SampleDeployerSoap11Binding" type="ns:SampleDeployerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getSampleInformation">
            <soap:operation soapAction="urn:getSampleInformation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadSample">
            <soap:operation soapAction="urn:uploadSample" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="uploadSampleRegistryException">
                <soap:fault use="literal" name="uploadSampleRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deploySample">
            <soap:operation soapAction="urn:deploySample" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="deploySampleRegistryException">
                <soap:fault use="literal" name="deploySampleRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setPolicyPermission">
            <soap:operation soapAction="urn:setPolicyPermission" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SampleDeployerSoap12Binding" type="ns:SampleDeployerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getSampleInformation">
            <soap12:operation soapAction="urn:getSampleInformation" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadSample">
            <soap12:operation soapAction="urn:uploadSample" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="uploadSampleRegistryException">
                <soap12:fault use="literal" name="uploadSampleRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deploySample">
            <soap12:operation soapAction="urn:deploySample" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="deploySampleRegistryException">
                <soap12:fault use="literal" name="deploySampleRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setPolicyPermission">
            <soap12:operation soapAction="urn:setPolicyPermission" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SampleDeployerHttpBinding" type="ns:SampleDeployerPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getSampleInformation">
            <http:operation location="getSampleInformation" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadSample">
            <http:operation location="uploadSample" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deploySample">
            <http:operation location="deploySample" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setPolicyPermission">
            <http:operation location="setPolicyPermission" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SampleDeployer">
        <wsdl:port name="SampleDeployerHttpsSoap11Endpoint" binding="ns:SampleDeployerSoap11Binding">
            <soap:address location="https://10.215.202.125:9443/services/SampleDeployer.SampleDeployerHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SampleDeployerHttpsSoap12Endpoint" binding="ns:SampleDeployerSoap12Binding">
            <soap12:address location="https://10.215.202.125:9443/services/SampleDeployer.SampleDeployerHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SampleDeployerHttpsEndpoint" binding="ns:SampleDeployerHttpBinding">
            <http:address location="https://10.215.202.125:9443/services/SampleDeployer.SampleDeployerHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>