service-stubs/org.apache.stratos.manager.service.stub/src/main/resources/StratosManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.services.manager.stratos.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://signup.application.domain.messaging.stratos.apache.org/xsd" xmlns:ax21="http://exception.manager.stratos.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://impl.services.manager.stratos.apache.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://signup.application.domain.messaging.stratos.apache.org/xsd">
            <xs:complexType name="ApplicationSignUp">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="artifactRepositories" nillable="true" type="ax23:ArtifactRepository"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="clusterIds" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="domainMappings" nillable="true" type="ax23:DomainMapping"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArtifactRepository">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="privateRepo" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="repoPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repoUrl" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repoUsername" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DomainMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contextPath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://signup.application.domain.messaging.stratos.apache.org/xsd" xmlns:ax22="http://exception.manager.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.services.manager.stratos.apache.org">
            <xs:import namespace="http://exception.manager.stratos.apache.org/xsd"/>
            <xs:import namespace="http://signup.application.domain.messaging.stratos.apache.org/xsd"/>
            <xs:element name="StratosManagerServiceApplicationSignUpException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ApplicationSignUpException" nillable="true" type="ax21:ApplicationSignUpException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApplicationSignUp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationSignUp" nillable="true" type="ax23:ApplicationSignUp"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeApplicationSignUp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationSignUp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationSignUpResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ApplicationSignUp"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationSignUps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationSignUpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:ApplicationSignUp"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StratosManagerServiceDomainMappingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DomainMappingException" nillable="true" type="ax21:DomainMappingException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainMappings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainMappingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:DomainMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeDomainMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addDomainMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainMapping" nillable="true" type="ax23:DomainMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StratosManagerServiceArtifactDistributionCoordinatorException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ArtifactDistributionCoordinatorException" nillable="true" type="ax21:ArtifactDistributionCoordinatorException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="notifyArtifactUpdatedEventForSignUp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="notifyArtifactUpdatedEventForRepository">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="repoUrl" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.manager.stratos.apache.org/xsd">
            <xs:complexType name="ApplicationSignUpException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="DomainMappingException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ArtifactDistributionCoordinatorException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDomainMappingsRequest">
        <wsdl:part name="parameters" element="ns:getDomainMappings"/>
    </wsdl:message>
    <wsdl:message name="getDomainMappingsResponse">
        <wsdl:part name="parameters" element="ns:getDomainMappingsResponse"/>
    </wsdl:message>
    <wsdl:message name="StratosManagerServiceDomainMappingException">
        <wsdl:part name="parameters" element="ns:StratosManagerServiceDomainMappingException"/>
    </wsdl:message>
    <wsdl:message name="getApplicationSignUpsRequest">
        <wsdl:part name="parameters" element="ns:getApplicationSignUps"/>
    </wsdl:message>
    <wsdl:message name="getApplicationSignUpsResponse">
        <wsdl:part name="parameters" element="ns:getApplicationSignUpsResponse"/>
    </wsdl:message>
    <wsdl:message name="StratosManagerServiceApplicationSignUpException">
        <wsdl:part name="parameters" element="ns:StratosManagerServiceApplicationSignUpException"/>
    </wsdl:message>
    <wsdl:message name="notifyArtifactUpdatedEventForSignUpRequest">
        <wsdl:part name="parameters" element="ns:notifyArtifactUpdatedEventForSignUp"/>
    </wsdl:message>
    <wsdl:message name="StratosManagerServiceArtifactDistributionCoordinatorException">
        <wsdl:part name="parameters" element="ns:StratosManagerServiceArtifactDistributionCoordinatorException"/>
    </wsdl:message>
    <wsdl:message name="addDomainMappingRequest">
        <wsdl:part name="parameters" element="ns:addDomainMapping"/>
    </wsdl:message>
    <wsdl:message name="removeApplicationSignUpRequest">
        <wsdl:part name="parameters" element="ns:removeApplicationSignUp"/>
    </wsdl:message>
    <wsdl:message name="removeDomainMappingRequest">
        <wsdl:part name="parameters" element="ns:removeDomainMapping"/>
    </wsdl:message>
    <wsdl:message name="notifyArtifactUpdatedEventForRepositoryRequest">
        <wsdl:part name="parameters" element="ns:notifyArtifactUpdatedEventForRepository"/>
    </wsdl:message>
    <wsdl:message name="getApplicationSignUpRequest">
        <wsdl:part name="parameters" element="ns:getApplicationSignUp"/>
    </wsdl:message>
    <wsdl:message name="getApplicationSignUpResponse">
        <wsdl:part name="parameters" element="ns:getApplicationSignUpResponse"/>
    </wsdl:message>
    <wsdl:message name="addApplicationSignUpRequest">
        <wsdl:part name="parameters" element="ns:addApplicationSignUp"/>
    </wsdl:message>
    <wsdl:portType name="StratosManagerServicePortType">
        <wsdl:operation name="getDomainMappings">
            <wsdl:input message="ns:getDomainMappingsRequest" wsaw:Action="urn:getDomainMappings"/>
            <wsdl:output message="ns:getDomainMappingsResponse" wsaw:Action="urn:getDomainMappingsResponse"/>
            <wsdl:fault message="ns:StratosManagerServiceDomainMappingException" name="StratosManagerServiceDomainMappingException" wsaw:Action="urn:getDomainMappingsStratosManagerServiceDomainMappingException"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSignUps">
            <wsdl:input message="ns:getApplicationSignUpsRequest" wsaw:Action="urn:getApplicationSignUps"/>
            <wsdl:output message="ns:getApplicationSignUpsResponse" wsaw:Action="urn:getApplicationSignUpsResponse"/>
            <wsdl:fault message="ns:StratosManagerServiceApplicationSignUpException" name="StratosManagerServiceApplicationSignUpException" wsaw:Action="urn:getApplicationSignUpsStratosManagerServiceApplicationSignUpException"/>
        </wsdl:operation>
        <wsdl:operation name="notifyArtifactUpdatedEventForSignUp">
            <wsdl:input message="ns:notifyArtifactUpdatedEventForSignUpRequest" wsaw:Action="urn:notifyArtifactUpdatedEventForSignUp"/>
            <wsdl:fault message="ns:StratosManagerServiceArtifactDistributionCoordinatorException" name="StratosManagerServiceArtifactDistributionCoordinatorException" wsaw:Action="urn:notifyArtifactUpdatedEventForSignUpStratosManagerServiceArtifactDistributionCoordinatorException"/>
        </wsdl:operation>
        <wsdl:operation name="addDomainMapping">
            <wsdl:input message="ns:addDomainMappingRequest" wsaw:Action="urn:addDomainMapping"/>
            <wsdl:fault message="ns:StratosManagerServiceDomainMappingException" name="StratosManagerServiceDomainMappingException" wsaw:Action="urn:addDomainMappingStratosManagerServiceDomainMappingException"/>
        </wsdl:operation>
        <wsdl:operation name="removeApplicationSignUp">
            <wsdl:input message="ns:removeApplicationSignUpRequest" wsaw:Action="urn:removeApplicationSignUp"/>
            <wsdl:fault message="ns:StratosManagerServiceApplicationSignUpException" name="StratosManagerServiceApplicationSignUpException" wsaw:Action="urn:removeApplicationSignUpStratosManagerServiceApplicationSignUpException"/>
        </wsdl:operation>
        <wsdl:operation name="removeDomainMapping">
            <wsdl:input message="ns:removeDomainMappingRequest" wsaw:Action="urn:removeDomainMapping"/>
            <wsdl:fault message="ns:StratosManagerServiceDomainMappingException" name="StratosManagerServiceDomainMappingException" wsaw:Action="urn:removeDomainMappingStratosManagerServiceDomainMappingException"/>
        </wsdl:operation>
        <wsdl:operation name="notifyArtifactUpdatedEventForRepository">
            <wsdl:input message="ns:notifyArtifactUpdatedEventForRepositoryRequest" wsaw:Action="urn:notifyArtifactUpdatedEventForRepository"/>
            <wsdl:fault message="ns:StratosManagerServiceArtifactDistributionCoordinatorException" name="StratosManagerServiceArtifactDistributionCoordinatorException" wsaw:Action="urn:notifyArtifactUpdatedEventForRepositoryStratosManagerServiceArtifactDistributionCoordinatorException"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSignUp">
            <wsdl:input message="ns:getApplicationSignUpRequest" wsaw:Action="urn:getApplicationSignUp"/>
            <wsdl:output message="ns:getApplicationSignUpResponse" wsaw:Action="urn:getApplicationSignUpResponse"/>
            <wsdl:fault message="ns:StratosManagerServiceApplicationSignUpException" name="StratosManagerServiceApplicationSignUpException" wsaw:Action="urn:getApplicationSignUpStratosManagerServiceApplicationSignUpException"/>
        </wsdl:operation>
        <wsdl:operation name="addApplicationSignUp">
            <wsdl:input message="ns:addApplicationSignUpRequest" wsaw:Action="urn:addApplicationSignUp"/>
            <wsdl:fault message="ns:StratosManagerServiceApplicationSignUpException" name="StratosManagerServiceApplicationSignUpException" wsaw:Action="urn:addApplicationSignUpStratosManagerServiceApplicationSignUpException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StratosManagerServiceSoap11Binding" type="ns:StratosManagerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDomainMappings">
            <soap:operation soapAction="urn:getDomainMappings" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StratosManagerServiceDomainMappingException">
                <soap:fault use="literal" name="StratosManagerServiceDomainMappingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSignUps">
            <soap:operation soapAction="urn:getApplicationSignUps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StratosManagerServiceApplicationSignUpException">
                <soap:fault use="literal" name="StratosManagerServiceApplicationSignUpException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="notifyArtifactUpdatedEventForSignUp">
            <soap:operation soapAction="urn:notifyArtifactUpdatedEventForSignUp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceArtifactDistributionCoordinatorException">
                <soap:fault use="literal" name="StratosManagerServiceArtifactDistributionCoordinatorException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addDomainMapping">
            <soap:operation soapAction="urn:addDomainMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceDomainMappingException">
                <soap:fault use="literal" name="StratosManagerServiceDomainMappingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeApplicationSignUp">
            <soap:operation soapAction="urn:removeApplicationSignUp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceApplicationSignUpException">
                <soap:fault use="literal" name="StratosManagerServiceApplicationSignUpException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeDomainMapping">
            <soap:operation soapAction="urn:removeDomainMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceDomainMappingException">
                <soap:fault use="literal" name="StratosManagerServiceDomainMappingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="notifyArtifactUpdatedEventForRepository">
            <soap:operation soapAction="urn:notifyArtifactUpdatedEventForRepository" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceArtifactDistributionCoordinatorException">
                <soap:fault use="literal" name="StratosManagerServiceArtifactDistributionCoordinatorException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSignUp">
            <soap:operation soapAction="urn:getApplicationSignUp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StratosManagerServiceApplicationSignUpException">
                <soap:fault use="literal" name="StratosManagerServiceApplicationSignUpException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addApplicationSignUp">
            <soap:operation soapAction="urn:addApplicationSignUp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceApplicationSignUpException">
                <soap:fault use="literal" name="StratosManagerServiceApplicationSignUpException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StratosManagerServiceSoap12Binding" type="ns:StratosManagerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDomainMappings">
            <soap12:operation soapAction="urn:getDomainMappings" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StratosManagerServiceDomainMappingException">
                <soap12:fault use="literal" name="StratosManagerServiceDomainMappingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSignUps">
            <soap12:operation soapAction="urn:getApplicationSignUps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StratosManagerServiceApplicationSignUpException">
                <soap12:fault use="literal" name="StratosManagerServiceApplicationSignUpException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="notifyArtifactUpdatedEventForSignUp">
            <soap12:operation soapAction="urn:notifyArtifactUpdatedEventForSignUp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceArtifactDistributionCoordinatorException">
                <soap12:fault use="literal" name="StratosManagerServiceArtifactDistributionCoordinatorException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addDomainMapping">
            <soap12:operation soapAction="urn:addDomainMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceDomainMappingException">
                <soap12:fault use="literal" name="StratosManagerServiceDomainMappingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeApplicationSignUp">
            <soap12:operation soapAction="urn:removeApplicationSignUp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceApplicationSignUpException">
                <soap12:fault use="literal" name="StratosManagerServiceApplicationSignUpException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeDomainMapping">
            <soap12:operation soapAction="urn:removeDomainMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceDomainMappingException">
                <soap12:fault use="literal" name="StratosManagerServiceDomainMappingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="notifyArtifactUpdatedEventForRepository">
            <soap12:operation soapAction="urn:notifyArtifactUpdatedEventForRepository" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceArtifactDistributionCoordinatorException">
                <soap12:fault use="literal" name="StratosManagerServiceArtifactDistributionCoordinatorException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSignUp">
            <soap12:operation soapAction="urn:getApplicationSignUp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StratosManagerServiceApplicationSignUpException">
                <soap12:fault use="literal" name="StratosManagerServiceApplicationSignUpException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addApplicationSignUp">
            <soap12:operation soapAction="urn:addApplicationSignUp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="StratosManagerServiceApplicationSignUpException">
                <soap12:fault use="literal" name="StratosManagerServiceApplicationSignUpException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StratosManagerServiceHttpBinding" type="ns:StratosManagerServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getDomainMappings">
            <http:operation location="getDomainMappings"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSignUps">
            <http:operation location="getApplicationSignUps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notifyArtifactUpdatedEventForSignUp">
            <http:operation location="notifyArtifactUpdatedEventForSignUp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addDomainMapping">
            <http:operation location="addDomainMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeApplicationSignUp">
            <http:operation location="removeApplicationSignUp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeDomainMapping">
            <http:operation location="removeDomainMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="notifyArtifactUpdatedEventForRepository">
            <http:operation location="notifyArtifactUpdatedEventForRepository"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSignUp">
            <http:operation location="getApplicationSignUp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplicationSignUp">
            <http:operation location="addApplicationSignUp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StratosManagerService">
        <wsdl:port name="StratosManagerServiceHttpSoap11Endpoint" binding="ns:StratosManagerServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/StratosManagerService"/>
        </wsdl:port>
        <wsdl:port name="StratosManagerServiceHttpSoap12Endpoint" binding="ns:StratosManagerServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/StratosManagerService"/>
        </wsdl:port>
        <wsdl:port name="StratosManagerServiceHttpEndpoint" binding="ns:StratosManagerServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/StratosManagerService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
