service-stubs/org.apache.stratos.cloud.controller.service.stub/src/main/resources/CloudControllerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://impl.controller.cloud.stratos.apache.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax228="http://util.java/xsd" xmlns:ax220="http://exception.controller.cloud.stratos.apache.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax222="http://partition.deployment.controller.cloud.stratos.apache.org/xsd" xmlns:ax223="http://pojo.controller.cloud.stratos.apache.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://impl.controller.cloud.stratos.apache.org">
    <wsdl:documentation>CloudControllerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="Properties">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.controller.cloud.stratos.apache.org/xsd">
            <xs:complexType name="InvalidPartitionException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidCartridgeTypeException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UnregisteredCartridgeException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UnregisteredClusterException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidMemberException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MemberTerminationFailedException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidClusterException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidIaasProviderException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidCartridgeDefinitionException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax221="http://exception.controller.cloud.stratos.apache.org/xsd" xmlns:ax227="http://pojo.controller.cloud.stratos.apache.org/xsd" xmlns:ax225="http://partition.deployment.controller.cloud.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.controller.cloud.stratos.apache.org">
            <xs:import namespace="http://exception.controller.cloud.stratos.apache.org/xsd"></xs:import>
            <xs:import namespace="http://partition.deployment.controller.cloud.stratos.apache.org/xsd"></xs:import>
            <xs:import namespace="http://pojo.controller.cloud.stratos.apache.org/xsd"></xs:import>
            <xs:element name="CloudControllerServiceInvalidPartitionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidPartitionException" nillable="true" type="ax220:InvalidPartitionException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validatePartition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="partition" nillable="true" type="ax222:Partition"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validatePartitionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceInvalidCartridgeTypeException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidCartridgeTypeException" nillable="true" type="ax220:InvalidCartridgeTypeException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateDeploymentPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="partitions" nillable="true" type="ax222:Partition"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateDeploymentPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceUnregisteredCartridgeException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UnregisteredCartridgeException" nillable="true" type="ax220:UnregisteredCartridgeException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateContainers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="replicas" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateContainersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax223:MemberContext"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceUnregisteredClusterException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UnregisteredClusterException" nillable="true" type="ax220:UnregisteredClusterException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unregisterService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unregisterDockerService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployCartridgeDefinition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceInvalidMemberException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidMemberException" nillable="true" type="ax220:InvalidMemberException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceMemberTerminationFailedException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MemberTerminationFailedException" nillable="true" type="ax220:MemberTerminationFailedException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateContainer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceInvalidClusterException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidClusterException" nillable="true" type="ax220:InvalidClusterException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateAllInstances">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateAllContainers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceInvalidIaasProviderException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidIaasProviderException" nillable="true" type="ax220:InvalidIaasProviderException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="memberContext" nillable="true" type="ax223:MemberContext"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:MemberContext"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startContainers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="containerClusterContext" nillable="true" type="ax223:ContainerClusterContext"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startContainersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax223:MemberContext"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="registrant" nillable="true" type="ax223:Registrant"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRegisteredCartridges">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRegisteredCartridgesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClusterContext">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClusterContextResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:ClusterContext"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCartridgeInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCartridgeInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:CartridgeInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceInvalidCartridgeDefinitionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidCartridgeDefinitionException" nillable="true" type="ax220:InvalidCartridgeDefinitionException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCartridgeDefinition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeConfig" nillable="true" type="ax223:CartridgeConfig"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax229="http://util.java/xsd" xmlns:ax226="http://partition.deployment.controller.cloud.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.controller.cloud.stratos.apache.org/xsd">
            <xs:import namespace="http://partition.deployment.controller.cloud.stratos.apache.org/xsd"></xs:import>
            <xs:import namespace="http://util.java/xsd"></xs:import>
            <xs:complexType name="Properties">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax223:Property"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MemberContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="allocatedIpAddress" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="initTime" type="xs:long"></xs:element>
                    <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lbClusterId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="networkPartitionId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="nodeId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="partition" nillable="true" type="ax222:Partition"></xs:element>
                    <xs:element minOccurs="0" name="privateIpAddress" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax223:Properties"></xs:element>
                    <xs:element minOccurs="0" name="publicIpAddress" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContainerClusterContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax223:Properties"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Registrant">
                <xs:sequence>
                    <xs:element minOccurs="0" name="autoScalerPolicyName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="deploymentPolicyName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="payload" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="persistence" nillable="true" type="ax223:Persistence"></xs:element>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax223:Properties"></xs:element>
                    <xs:element minOccurs="0" name="tenantRange" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Persistence">
                <xs:sequence>
                    <xs:element minOccurs="0" name="persistanceRequired" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="volumes" nillable="true" type="ax223:Volume"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Volume">
                <xs:sequence>
                    <xs:element minOccurs="0" name="device" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="iaasType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="mappingPath" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="removeOntermination" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="size" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="snapshotId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="volumeId" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClusterContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lbCluster" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="payload" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax229:Properties"></xs:element>
                    <xs:element minOccurs="0" name="timeoutInMillis" type="xs:long"></xs:element>
                    <xs:element minOccurs="0" name="volumeRequired" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="volumes" nillable="true" type="ax223:Volume"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CartridgeInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="appTypes" nillable="true" type="ax223:AppType"></xs:element>
                    <xs:element minOccurs="0" name="baseDir" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="defaultAutoscalingPolicy" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="defaultDeploymentPolicy" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deploymentDirs" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="isPublic" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="lbConfig" nillable="true" type="ax223:LoadbalancerConfig"></xs:element>
                    <xs:element minOccurs="0" name="multiTenant" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="persistence" nillable="true" type="ax223:Persistence"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="portMappings" nillable="true" type="ax223:PortMapping"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax223:Property"></xs:element>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AppType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="appSpecificMapping" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoadbalancerConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax223:Properties"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PortMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="proxyPort" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CartridgeConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="baseDir" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="container" nillable="true" type="ax223:Container"></xs:element>
                    <xs:element minOccurs="0" name="defaultAutoscalingPolicy" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="defaultDeploymentPolicy" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="deployerType" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deploymentDirs" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="iaasConfigs" nillable="true" type="ax223:IaasConfig"></xs:element>
                    <xs:element minOccurs="0" name="isPublic" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="lbConfig" nillable="true" type="ax223:LoadbalancerConfig"></xs:element>
                    <xs:element minOccurs="0" name="multiTenant" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="persistence" nillable="true" type="ax223:Persistence"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="portMappings" nillable="true" type="ax223:PortMapping"></xs:element>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax223:Properties"></xs:element>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Container">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dockerFileRepo" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IaasConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="className" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="credential" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="identity" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="imageId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="maxInstanceLimit" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="networkInterfaces" nillable="true" type="ax223:NetworkInterfaces"></xs:element>
                    <xs:element minOccurs="0" name="payload" nillable="true" type="xs:base64Binary"></xs:element>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax223:Properties"></xs:element>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NetworkInterfaces">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="networkInterfaces" nillable="true" type="ax223:NetworkInterface"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NetworkInterface">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fixedIp" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="networkUuid" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="portUuid" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax224="http://pojo.controller.cloud.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://partition.deployment.controller.cloud.stratos.apache.org/xsd">
            <xs:import namespace="http://pojo.controller.cloud.stratos.apache.org/xsd"></xs:import>
            <xs:complexType name="Partition">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="isPublic" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="partitionMax" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="partitionMin" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax223:Properties"></xs:element>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validatePartitionRequest">
        <wsdl:part name="parameters" element="ns:validatePartition"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validatePartitionResponse">
        <wsdl:part name="parameters" element="ns:validatePartitionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceInvalidPartitionException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceInvalidPartitionException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="terminateContainerRequest">
        <wsdl:part name="parameters" element="ns:terminateContainer"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceMemberTerminationFailedException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceMemberTerminationFailedException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateDeploymentPolicyRequest">
        <wsdl:part name="parameters" element="ns:validateDeploymentPolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateDeploymentPolicyResponse">
        <wsdl:part name="parameters" element="ns:validateDeploymentPolicyResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceInvalidCartridgeTypeException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceInvalidCartridgeTypeException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="startContainersRequest">
        <wsdl:part name="parameters" element="ns:startContainers"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="startContainersResponse">
        <wsdl:part name="parameters" element="ns:startContainersResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceUnregisteredCartridgeException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceUnregisteredCartridgeException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="terminateInstanceRequest">
        <wsdl:part name="parameters" element="ns:terminateInstance"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceInvalidMemberException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceInvalidMemberException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerServiceRequest">
        <wsdl:part name="parameters" element="ns:registerService"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerServiceResponse">
        <wsdl:part name="parameters" element="ns:registerServiceResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployCartridgeDefinitionRequest">
        <wsdl:part name="parameters" element="ns:deployCartridgeDefinition"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployCartridgeDefinitionResponse"></wsdl:message>
    <wsdl:message name="CloudControllerServiceInvalidCartridgeDefinitionException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceInvalidCartridgeDefinitionException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceInvalidIaasProviderException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceInvalidIaasProviderException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCartridgeInfoRequest">
        <wsdl:part name="parameters" element="ns:getCartridgeInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCartridgeInfoResponse">
        <wsdl:part name="parameters" element="ns:getCartridgeInfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="terminateAllContainersRequest">
        <wsdl:part name="parameters" element="ns:terminateAllContainers"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceInvalidClusterException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceInvalidClusterException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="unregisterServiceRequest">
        <wsdl:part name="parameters" element="ns:unregisterService"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="unregisterServiceResponse"></wsdl:message>
    <wsdl:message name="CloudControllerServiceUnregisteredClusterException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceUnregisteredClusterException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="undeployCartridgeDefinitionRequest">
        <wsdl:part name="parameters" element="ns:undeployCartridgeDefinition"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="undeployCartridgeDefinitionResponse"></wsdl:message>
    <wsdl:message name="terminateAllInstancesRequest">
        <wsdl:part name="parameters" element="ns:terminateAllInstances"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="unregisterDockerServiceRequest">
        <wsdl:part name="parameters" element="ns:unregisterDockerService"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRegisteredCartridgesRequest">
        <wsdl:part name="parameters" element="ns:getRegisteredCartridges"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRegisteredCartridgesResponse">
        <wsdl:part name="parameters" element="ns:getRegisteredCartridgesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="startInstanceRequest">
        <wsdl:part name="parameters" element="ns:startInstance"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="startInstanceResponse">
        <wsdl:part name="parameters" element="ns:startInstanceResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateContainersRequest">
        <wsdl:part name="parameters" element="ns:updateContainers"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateContainersResponse">
        <wsdl:part name="parameters" element="ns:updateContainersResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClusterContextRequest">
        <wsdl:part name="parameters" element="ns:getClusterContext"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClusterContextResponse">
        <wsdl:part name="parameters" element="ns:getClusterContextResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CloudControllerServicePortType">
        <wsdl:operation name="validatePartition">
            <wsdl:input message="ns:validatePartitionRequest" wsaw:Action="urn:validatePartition"></wsdl:input>
            <wsdl:output message="ns:validatePartitionResponse" wsaw:Action="urn:validatePartitionResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceInvalidPartitionException" name="CloudControllerServiceInvalidPartitionException" wsaw:Action="urn:validatePartitionCloudControllerServiceInvalidPartitionException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateContainer">
            <wsdl:input message="ns:terminateContainerRequest" wsaw:Action="urn:terminateContainer"></wsdl:input>
            <wsdl:fault message="ns:CloudControllerServiceMemberTerminationFailedException" name="CloudControllerServiceMemberTerminationFailedException" wsaw:Action="urn:terminateContainerCloudControllerServiceMemberTerminationFailedException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateDeploymentPolicy">
            <wsdl:input message="ns:validateDeploymentPolicyRequest" wsaw:Action="urn:validateDeploymentPolicy"></wsdl:input>
            <wsdl:output message="ns:validateDeploymentPolicyResponse" wsaw:Action="urn:validateDeploymentPolicyResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceInvalidPartitionException" name="CloudControllerServiceInvalidPartitionException" wsaw:Action="urn:validateDeploymentPolicyCloudControllerServiceInvalidPartitionException"></wsdl:fault>
            <wsdl:fault message="ns:CloudControllerServiceInvalidCartridgeTypeException" name="CloudControllerServiceInvalidCartridgeTypeException" wsaw:Action="urn:validateDeploymentPolicyCloudControllerServiceInvalidCartridgeTypeException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startContainers">
            <wsdl:input message="ns:startContainersRequest" wsaw:Action="urn:startContainers"></wsdl:input>
            <wsdl:output message="ns:startContainersResponse" wsaw:Action="urn:startContainersResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceUnregisteredCartridgeException" name="CloudControllerServiceUnregisteredCartridgeException" wsaw:Action="urn:startContainersCloudControllerServiceUnregisteredCartridgeException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <wsdl:input message="ns:terminateInstanceRequest" wsaw:Action="urn:terminateInstance"></wsdl:input>
            <wsdl:fault message="ns:CloudControllerServiceInvalidMemberException" name="CloudControllerServiceInvalidMemberException" wsaw:Action="urn:terminateInstanceCloudControllerServiceInvalidMemberException"></wsdl:fault>
            <wsdl:fault message="ns:CloudControllerServiceInvalidCartridgeTypeException" name="CloudControllerServiceInvalidCartridgeTypeException" wsaw:Action="urn:terminateInstanceCloudControllerServiceInvalidCartridgeTypeException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerService">
            <wsdl:input message="ns:registerServiceRequest" wsaw:Action="urn:registerService"></wsdl:input>
            <wsdl:output message="ns:registerServiceResponse" wsaw:Action="urn:registerServiceResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceUnregisteredCartridgeException" name="CloudControllerServiceUnregisteredCartridgeException" wsaw:Action="urn:registerServiceCloudControllerServiceUnregisteredCartridgeException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployCartridgeDefinition">
            <wsdl:input message="ns:deployCartridgeDefinitionRequest" wsaw:Action="urn:deployCartridgeDefinition"></wsdl:input>
            <wsdl:output message="ns:deployCartridgeDefinitionResponse" wsaw:Action="urn:deployCartridgeDefinitionResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceInvalidCartridgeDefinitionException" name="CloudControllerServiceInvalidCartridgeDefinitionException" wsaw:Action="urn:deployCartridgeDefinitionCloudControllerServiceInvalidCartridgeDefinitionException"></wsdl:fault>
            <wsdl:fault message="ns:CloudControllerServiceInvalidIaasProviderException" name="CloudControllerServiceInvalidIaasProviderException" wsaw:Action="urn:deployCartridgeDefinitionCloudControllerServiceInvalidIaasProviderException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeInfo">
            <wsdl:input message="ns:getCartridgeInfoRequest" wsaw:Action="urn:getCartridgeInfo"></wsdl:input>
            <wsdl:output message="ns:getCartridgeInfoResponse" wsaw:Action="urn:getCartridgeInfoResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceUnregisteredCartridgeException" name="CloudControllerServiceUnregisteredCartridgeException" wsaw:Action="urn:getCartridgeInfoCloudControllerServiceUnregisteredCartridgeException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateAllContainers">
            <wsdl:input message="ns:terminateAllContainersRequest" wsaw:Action="urn:terminateAllContainers"></wsdl:input>
            <wsdl:fault message="ns:CloudControllerServiceInvalidClusterException" name="CloudControllerServiceInvalidClusterException" wsaw:Action="urn:terminateAllContainersCloudControllerServiceInvalidClusterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unregisterService">
            <wsdl:input message="ns:unregisterServiceRequest" wsaw:Action="urn:unregisterService"></wsdl:input>
            <wsdl:output message="ns:unregisterServiceResponse" wsaw:Action="urn:unregisterServiceResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceUnregisteredClusterException" name="CloudControllerServiceUnregisteredClusterException" wsaw:Action="urn:unregisterServiceCloudControllerServiceUnregisteredClusterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <wsdl:input message="ns:undeployCartridgeDefinitionRequest" wsaw:Action="urn:undeployCartridgeDefinition"></wsdl:input>
            <wsdl:output message="ns:undeployCartridgeDefinitionResponse" wsaw:Action="urn:undeployCartridgeDefinitionResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceInvalidCartridgeTypeException" name="CloudControllerServiceInvalidCartridgeTypeException" wsaw:Action="urn:undeployCartridgeDefinitionCloudControllerServiceInvalidCartridgeTypeException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateAllInstances">
            <wsdl:input message="ns:terminateAllInstancesRequest" wsaw:Action="urn:terminateAllInstances"></wsdl:input>
            <wsdl:fault message="ns:CloudControllerServiceInvalidClusterException" name="CloudControllerServiceInvalidClusterException" wsaw:Action="urn:terminateAllInstancesCloudControllerServiceInvalidClusterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unregisterDockerService">
            <wsdl:input message="ns:unregisterDockerServiceRequest" wsaw:Action="urn:unregisterDockerService"></wsdl:input>
            <wsdl:fault message="ns:CloudControllerServiceUnregisteredClusterException" name="CloudControllerServiceUnregisteredClusterException" wsaw:Action="urn:unregisterDockerServiceCloudControllerServiceUnregisteredClusterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRegisteredCartridges">
            <wsdl:input message="ns:getRegisteredCartridgesRequest" wsaw:Action="urn:getRegisteredCartridges"></wsdl:input>
            <wsdl:output message="ns:getRegisteredCartridgesResponse" wsaw:Action="urn:getRegisteredCartridgesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <wsdl:input message="ns:startInstanceRequest" wsaw:Action="urn:startInstance"></wsdl:input>
            <wsdl:output message="ns:startInstanceResponse" wsaw:Action="urn:startInstanceResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceUnregisteredCartridgeException" name="CloudControllerServiceUnregisteredCartridgeException" wsaw:Action="urn:startInstanceCloudControllerServiceUnregisteredCartridgeException"></wsdl:fault>
            <wsdl:fault message="ns:CloudControllerServiceInvalidIaasProviderException" name="CloudControllerServiceInvalidIaasProviderException" wsaw:Action="urn:startInstanceCloudControllerServiceInvalidIaasProviderException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateContainers">
            <wsdl:input message="ns:updateContainersRequest" wsaw:Action="urn:updateContainers"></wsdl:input>
            <wsdl:output message="ns:updateContainersResponse" wsaw:Action="urn:updateContainersResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudControllerServiceUnregisteredCartridgeException" name="CloudControllerServiceUnregisteredCartridgeException" wsaw:Action="urn:updateContainersCloudControllerServiceUnregisteredCartridgeException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClusterContext">
            <wsdl:input message="ns:getClusterContextRequest" wsaw:Action="urn:getClusterContext"></wsdl:input>
            <wsdl:output message="ns:getClusterContextResponse" wsaw:Action="urn:getClusterContextResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CloudControllerServiceSoap11Binding" type="ns:CloudControllerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="validatePartition">
            <soap:operation soapAction="urn:validatePartition" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidPartitionException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidPartitionException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateContainer">
            <soap:operation soapAction="urn:terminateContainer" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceMemberTerminationFailedException">
                <soap:fault use="literal" name="CloudControllerServiceMemberTerminationFailedException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateDeploymentPolicy">
            <soap:operation soapAction="urn:validateDeploymentPolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidPartitionException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidPartitionException"></soap:fault>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceInvalidCartridgeTypeException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidCartridgeTypeException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <soap:operation soapAction="urn:terminateInstance" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceInvalidMemberException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidMemberException"></soap:fault>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceInvalidCartridgeTypeException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidCartridgeTypeException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startContainers">
            <soap:operation soapAction="urn:startContainers" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerService">
            <soap:operation soapAction="urn:registerService" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployCartridgeDefinition">
            <soap:operation soapAction="urn:deployCartridgeDefinition" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidCartridgeDefinitionException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidCartridgeDefinitionException"></soap:fault>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceInvalidIaasProviderException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidIaasProviderException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeInfo">
            <soap:operation soapAction="urn:getCartridgeInfo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateAllContainers">
            <soap:operation soapAction="urn:terminateAllContainers" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceInvalidClusterException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidClusterException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unregisterService">
            <soap:operation soapAction="urn:unregisterService" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredClusterException">
                <soap:fault use="literal" name="CloudControllerServiceUnregisteredClusterException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <soap:operation soapAction="urn:undeployCartridgeDefinition" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidCartridgeTypeException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidCartridgeTypeException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateAllInstances">
            <soap:operation soapAction="urn:terminateAllInstances" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceInvalidClusterException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidClusterException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRegisteredCartridges">
            <soap:operation soapAction="urn:getRegisteredCartridges" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterDockerService">
            <soap:operation soapAction="urn:unregisterDockerService" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceUnregisteredClusterException">
                <soap:fault use="literal" name="CloudControllerServiceUnregisteredClusterException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <soap:operation soapAction="urn:startInstance" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidIaasProviderException">
                <soap:fault use="literal" name="CloudControllerServiceInvalidIaasProviderException"></soap:fault>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClusterContext">
            <soap:operation soapAction="urn:getClusterContext" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateContainers">
            <soap:operation soapAction="urn:updateContainers" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudControllerServiceSoap12Binding" type="ns:CloudControllerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="validatePartition">
            <soap12:operation soapAction="urn:validatePartition" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidPartitionException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidPartitionException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateContainer">
            <soap12:operation soapAction="urn:terminateContainer" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceMemberTerminationFailedException">
                <soap12:fault use="literal" name="CloudControllerServiceMemberTerminationFailedException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateDeploymentPolicy">
            <soap12:operation soapAction="urn:validateDeploymentPolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidPartitionException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidPartitionException"></soap12:fault>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceInvalidCartridgeTypeException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidCartridgeTypeException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <soap12:operation soapAction="urn:terminateInstance" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceInvalidMemberException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidMemberException"></soap12:fault>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceInvalidCartridgeTypeException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidCartridgeTypeException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startContainers">
            <soap12:operation soapAction="urn:startContainers" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap12:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerService">
            <soap12:operation soapAction="urn:registerService" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap12:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployCartridgeDefinition">
            <soap12:operation soapAction="urn:deployCartridgeDefinition" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidCartridgeDefinitionException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidCartridgeDefinitionException"></soap12:fault>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceInvalidIaasProviderException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidIaasProviderException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeInfo">
            <soap12:operation soapAction="urn:getCartridgeInfo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap12:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateAllContainers">
            <soap12:operation soapAction="urn:terminateAllContainers" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceInvalidClusterException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidClusterException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unregisterService">
            <soap12:operation soapAction="urn:unregisterService" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredClusterException">
                <soap12:fault use="literal" name="CloudControllerServiceUnregisteredClusterException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <soap12:operation soapAction="urn:undeployCartridgeDefinition" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidCartridgeTypeException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidCartridgeTypeException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateAllInstances">
            <soap12:operation soapAction="urn:terminateAllInstances" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceInvalidClusterException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidClusterException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRegisteredCartridges">
            <soap12:operation soapAction="urn:getRegisteredCartridges" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterDockerService">
            <soap12:operation soapAction="urn:unregisterDockerService" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceUnregisteredClusterException">
                <soap12:fault use="literal" name="CloudControllerServiceUnregisteredClusterException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <soap12:operation soapAction="urn:startInstance" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceInvalidIaasProviderException">
                <soap12:fault use="literal" name="CloudControllerServiceInvalidIaasProviderException"></soap12:fault>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap12:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClusterContext">
            <soap12:operation soapAction="urn:getClusterContext" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateContainers">
            <soap12:operation soapAction="urn:updateContainers" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceUnregisteredCartridgeException">
                <soap12:fault use="literal" name="CloudControllerServiceUnregisteredCartridgeException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudControllerServiceHttpBinding" type="ns:CloudControllerServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="validatePartition">
            <http:operation location="validatePartition"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateContainer">
            <http:operation location="terminateContainer"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="validateDeploymentPolicy">
            <http:operation location="validateDeploymentPolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <http:operation location="terminateInstance"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="startContainers">
            <http:operation location="startContainers"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registerService">
            <http:operation location="registerService"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCartridgeDefinition">
            <http:operation location="deployCartridgeDefinition"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeInfo">
            <http:operation location="getCartridgeInfo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateAllContainers">
            <http:operation location="terminateAllContainers"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="unregisterService">
            <http:operation location="unregisterService"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <http:operation location="undeployCartridgeDefinition"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateAllInstances">
            <http:operation location="terminateAllInstances"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRegisteredCartridges">
            <http:operation location="getRegisteredCartridges"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterDockerService">
            <http:operation location="unregisterDockerService"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <http:operation location="startInstance"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClusterContext">
            <http:operation location="getClusterContext"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateContainers">
            <http:operation location="updateContainers"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CloudControllerService">
        <wsdl:port name="CloudControllerServiceHttpSoap11Endpoint" binding="ns:CloudControllerServiceSoap11Binding">
            <soap:address location="http://172.17.8.1:9763/services/CloudControllerService.CloudControllerServiceHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="CloudControllerServiceHttpsSoap11Endpoint" binding="ns:CloudControllerServiceSoap11Binding">
            <soap:address location="https://172.17.8.1:9443/services/CloudControllerService.CloudControllerServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="CloudControllerServiceHttpSoap12Endpoint" binding="ns:CloudControllerServiceSoap12Binding">
            <soap12:address location="http://172.17.8.1:9763/services/CloudControllerService.CloudControllerServiceHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="CloudControllerServiceHttpsSoap12Endpoint" binding="ns:CloudControllerServiceSoap12Binding">
            <soap12:address location="https://172.17.8.1:9443/services/CloudControllerService.CloudControllerServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="CloudControllerServiceHttpEndpoint" binding="ns:CloudControllerServiceHttpBinding">
            <http:address location="http://172.17.8.1:9763/services/CloudControllerService.CloudControllerServiceHttpEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="CloudControllerServiceHttpsEndpoint" binding="ns:CloudControllerServiceHttpBinding">
            <http:address location="https://172.17.8.1:9443/services/CloudControllerService.CloudControllerServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>