service-stubs/org.apache.stratos.cloud.controller.service.stub/src/main/resources/CloudControllerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.controller.cloud.stratos.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://partition.deployment.controller.cloud.stratos.apache.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://pojo.controller.cloud.stratos.apache.org/xsd" xmlns:ax21="http://exception.controller.cloud.stratos.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://impl.controller.cloud.stratos.apache.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.controller.cloud.stratos.apache.org/xsd">
            <xs:complexType name="UnregisteredClusterException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UnregisteredCartridgeException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidCartridgeDefinitionException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidIaasProviderException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidCartridgeTypeException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidPartitionException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidMemberException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InvalidClusterException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax27="http://partition.deployment.controller.cloud.stratos.apache.org/xsd" xmlns:ax24="http://pojo.controller.cloud.stratos.apache.org/xsd" xmlns:ax22="http://exception.controller.cloud.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.controller.cloud.stratos.apache.org">
            <xs:import namespace="http://exception.controller.cloud.stratos.apache.org/xsd"/>
            <xs:import namespace="http://pojo.controller.cloud.stratos.apache.org/xsd"/>
            <xs:import namespace="http://partition.deployment.controller.cloud.stratos.apache.org/xsd"/>
            <xs:element name="CloudControllerServiceImplUnregisteredClusterException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UnregisteredClusterException" nillable="true" type="ax21:UnregisteredClusterException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unregisterService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceImplUnregisteredCartridgeException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UnregisteredCartridgeException" nillable="true" type="ax21:UnregisteredCartridgeException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCartridgeInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCartridgeInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:CartridgeInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRegisteredCartridges">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRegisteredCartridgesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="registrant" nillable="true" type="ax23:Registrant"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceImplInvalidCartridgeDefinitionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidCartridgeDefinitionException" nillable="true" type="ax21:InvalidCartridgeDefinitionException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceImplInvalidIaasProviderException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidIaasProviderException" nillable="true" type="ax21:InvalidIaasProviderException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCartridgeDefinition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeConfig" nillable="true" type="ax23:CartridgeConfig"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceImplInvalidCartridgeTypeException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidCartridgeTypeException" nillable="true" type="ax21:InvalidCartridgeTypeException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployCartridgeDefinition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceImplInvalidPartitionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidPartitionException" nillable="true" type="ax21:InvalidPartitionException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validatePartition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="partition" nillable="true" type="ax27:Partition"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validatePartitionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateDeploymentPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="partitions" nillable="true" type="ax27:Partition"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateDeploymentPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="memberContext" nillable="true" type="ax23:MemberContext"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:MemberContext"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceImplInvalidMemberException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidMemberException" nillable="true" type="ax21:InvalidMemberException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloudControllerServiceImplInvalidClusterException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InvalidClusterException" nillable="true" type="ax21:InvalidClusterException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateAllInstances">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClusterContext">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClusterContextResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ClusterContext"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax26="http://pojo.controller.cloud.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://partition.deployment.controller.cloud.stratos.apache.org/xsd">
            <xs:import namespace="http://pojo.controller.cloud.stratos.apache.org/xsd"/>
            <xs:complexType name="Partition">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="partitionMax" type="xs:int"/>
                    <xs:element minOccurs="0" name="partitionMin" type="xs:int"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax26:Properties"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax28="http://partition.deployment.controller.cloud.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.controller.cloud.stratos.apache.org/xsd">
            <xs:import namespace="http://partition.deployment.controller.cloud.stratos.apache.org/xsd"/>
            <xs:complexType name="CartridgeInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="appTypes" nillable="true" type="ax23:AppType"/>
                    <xs:element minOccurs="0" name="baseDir" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultAutoscalingPolicy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultDeploymentPolicy" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deploymentDirs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lbConfig" nillable="true" type="ax23:LoadbalancerConfig"/>
                    <xs:element minOccurs="0" name="multiTenant" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="persistence" nillable="true" type="ax23:Persistence"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="portMappings" nillable="true" type="ax23:PortMapping"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax23:Property"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AppType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="appSpecificMapping" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoadbalancerConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax23:Properties"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Properties">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax23:Property"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Persistence">
                <xs:sequence>
                    <xs:element minOccurs="0" name="persistanceRequired" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="volumes" nillable="true" type="ax23:Volume"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Volume">
                <xs:sequence>
                    <xs:element minOccurs="0" name="device" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="iaasType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mappingPath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="removeOntermination" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                    <xs:element minOccurs="0" name="snapshotId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="volumeId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PortMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="proxyPort" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Registrant">
                <xs:sequence>
                    <xs:element minOccurs="0" name="autoScalerPolicyName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deploymentPolicyName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="payload" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="persistence" nillable="true" type="ax23:Persistence"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax23:Properties"/>
                    <xs:element minOccurs="0" name="tenantRange" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CartridgeConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="baseDir" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="container" nillable="true" type="ax23:Container"/>
                    <xs:element minOccurs="0" name="defaultAutoscalingPolicy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultDeploymentPolicy" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deploymentDirs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="iaasConfigs" nillable="true" type="ax23:IaasConfig"/>
                    <xs:element minOccurs="0" name="lbConfig" nillable="true" type="ax23:LoadbalancerConfig"/>
                    <xs:element minOccurs="0" name="multiTenant" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="persistence" nillable="true" type="ax23:Persistence"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="portMappings" nillable="true" type="ax23:PortMapping"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax23:Properties"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Container">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dockerFileRepo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IaasConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="className" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="credential" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="imageId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maxInstanceLimit" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="networkInterfaces" nillable="true" type="ax23:NetworkInterfaces"/>
                    <xs:element minOccurs="0" name="payload" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax23:Properties"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NetworkInterfaces">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="networkInterfaces" nillable="true" type="ax23:NetworkInterface"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NetworkInterface">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fixedIp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="networkUuid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="portUuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MemberContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="allocatedIpAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="initTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lbClusterId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="networkPartitionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nodeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="partition" nillable="true" type="ax28:Partition"/>
                    <xs:element minOccurs="0" name="privateIpAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="properties" nillable="true" type="ax23:Properties"/>
                    <xs:element minOccurs="0" name="publicIpAddress" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClusterContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="clusterId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lbCluster" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="payload" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timeoutInMillis" type="xs:long"/>
                    <xs:element minOccurs="0" name="volumeRequired" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="volumes" nillable="true" type="ax23:Volume"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validatePartitionRequest">
        <wsdl:part name="parameters" element="ns:validatePartition"/>
    </wsdl:message>
    <wsdl:message name="validatePartitionResponse">
        <wsdl:part name="parameters" element="ns:validatePartitionResponse"/>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceImplInvalidPartitionException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceImplInvalidPartitionException"/>
    </wsdl:message>
    <wsdl:message name="validateDeploymentPolicyRequest">
        <wsdl:part name="parameters" element="ns:validateDeploymentPolicy"/>
    </wsdl:message>
    <wsdl:message name="validateDeploymentPolicyResponse">
        <wsdl:part name="parameters" element="ns:validateDeploymentPolicyResponse"/>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceImplInvalidCartridgeTypeException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceImplInvalidCartridgeTypeException"/>
    </wsdl:message>
    <wsdl:message name="terminateInstanceRequest">
        <wsdl:part name="parameters" element="ns:terminateInstance"/>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceImplInvalidMemberException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceImplInvalidMemberException"/>
    </wsdl:message>
    <wsdl:message name="registerServiceRequest">
        <wsdl:part name="parameters" element="ns:registerService"/>
    </wsdl:message>
    <wsdl:message name="registerServiceResponse">
        <wsdl:part name="parameters" element="ns:registerServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceImplUnregisteredCartridgeException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceImplUnregisteredCartridgeException"/>
    </wsdl:message>
    <wsdl:message name="deployCartridgeDefinitionRequest">
        <wsdl:part name="parameters" element="ns:deployCartridgeDefinition"/>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceImplInvalidCartridgeDefinitionException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceImplInvalidCartridgeDefinitionException"/>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceImplInvalidIaasProviderException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceImplInvalidIaasProviderException"/>
    </wsdl:message>
    <wsdl:message name="getCartridgeInfoRequest">
        <wsdl:part name="parameters" element="ns:getCartridgeInfo"/>
    </wsdl:message>
    <wsdl:message name="getCartridgeInfoResponse">
        <wsdl:part name="parameters" element="ns:getCartridgeInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="unregisterServiceRequest">
        <wsdl:part name="parameters" element="ns:unregisterService"/>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceImplUnregisteredClusterException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceImplUnregisteredClusterException"/>
    </wsdl:message>
    <wsdl:message name="undeployCartridgeDefinitionRequest">
        <wsdl:part name="parameters" element="ns:undeployCartridgeDefinition"/>
    </wsdl:message>
    <wsdl:message name="terminateAllInstancesRequest">
        <wsdl:part name="parameters" element="ns:terminateAllInstances"/>
    </wsdl:message>
    <wsdl:message name="CloudControllerServiceImplInvalidClusterException">
        <wsdl:part name="parameters" element="ns:CloudControllerServiceImplInvalidClusterException"/>
    </wsdl:message>
    <wsdl:message name="getRegisteredCartridgesRequest">
        <wsdl:part name="parameters" element="ns:getRegisteredCartridges"/>
    </wsdl:message>
    <wsdl:message name="getRegisteredCartridgesResponse">
        <wsdl:part name="parameters" element="ns:getRegisteredCartridgesResponse"/>
    </wsdl:message>
    <wsdl:message name="startInstanceRequest">
        <wsdl:part name="parameters" element="ns:startInstance"/>
    </wsdl:message>
    <wsdl:message name="startInstanceResponse">
        <wsdl:part name="parameters" element="ns:startInstanceResponse"/>
    </wsdl:message>
    <wsdl:message name="getClusterContextRequest">
        <wsdl:part name="parameters" element="ns:getClusterContext"/>
    </wsdl:message>
    <wsdl:message name="getClusterContextResponse">
        <wsdl:part name="parameters" element="ns:getClusterContextResponse"/>
    </wsdl:message>
    <wsdl:portType name="CloudControllerServiceImplPortType">
        <wsdl:operation name="validatePartition">
            <wsdl:input message="ns:validatePartitionRequest" wsaw:Action="urn:validatePartition"/>
            <wsdl:output message="ns:validatePartitionResponse" wsaw:Action="urn:validatePartitionResponse"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidPartitionException" name="CloudControllerServiceImplInvalidPartitionException" wsaw:Action="urn:validatePartitionCloudControllerServiceImplInvalidPartitionException"/>
        </wsdl:operation>
        <wsdl:operation name="validateDeploymentPolicy">
            <wsdl:input message="ns:validateDeploymentPolicyRequest" wsaw:Action="urn:validateDeploymentPolicy"/>
            <wsdl:output message="ns:validateDeploymentPolicyResponse" wsaw:Action="urn:validateDeploymentPolicyResponse"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidPartitionException" name="CloudControllerServiceImplInvalidPartitionException" wsaw:Action="urn:validateDeploymentPolicyCloudControllerServiceImplInvalidPartitionException"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidCartridgeTypeException" name="CloudControllerServiceImplInvalidCartridgeTypeException" wsaw:Action="urn:validateDeploymentPolicyCloudControllerServiceImplInvalidCartridgeTypeException"/>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <wsdl:input message="ns:terminateInstanceRequest" wsaw:Action="urn:terminateInstance"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidMemberException" name="CloudControllerServiceImplInvalidMemberException" wsaw:Action="urn:terminateInstanceCloudControllerServiceImplInvalidMemberException"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidCartridgeTypeException" name="CloudControllerServiceImplInvalidCartridgeTypeException" wsaw:Action="urn:terminateInstanceCloudControllerServiceImplInvalidCartridgeTypeException"/>
        </wsdl:operation>
        <wsdl:operation name="registerService">
            <wsdl:input message="ns:registerServiceRequest" wsaw:Action="urn:registerService"/>
            <wsdl:output message="ns:registerServiceResponse" wsaw:Action="urn:registerServiceResponse"/>
            <wsdl:fault message="ns:CloudControllerServiceImplUnregisteredCartridgeException" name="CloudControllerServiceImplUnregisteredCartridgeException" wsaw:Action="urn:registerServiceCloudControllerServiceImplUnregisteredCartridgeException"/>
        </wsdl:operation>
        <wsdl:operation name="deployCartridgeDefinition">
            <wsdl:input message="ns:deployCartridgeDefinitionRequest" wsaw:Action="urn:deployCartridgeDefinition"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidCartridgeDefinitionException" name="CloudControllerServiceImplInvalidCartridgeDefinitionException" wsaw:Action="urn:deployCartridgeDefinitionCloudControllerServiceImplInvalidCartridgeDefinitionException"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidIaasProviderException" name="CloudControllerServiceImplInvalidIaasProviderException" wsaw:Action="urn:deployCartridgeDefinitionCloudControllerServiceImplInvalidIaasProviderException"/>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeInfo">
            <wsdl:input message="ns:getCartridgeInfoRequest" wsaw:Action="urn:getCartridgeInfo"/>
            <wsdl:output message="ns:getCartridgeInfoResponse" wsaw:Action="urn:getCartridgeInfoResponse"/>
            <wsdl:fault message="ns:CloudControllerServiceImplUnregisteredCartridgeException" name="CloudControllerServiceImplUnregisteredCartridgeException" wsaw:Action="urn:getCartridgeInfoCloudControllerServiceImplUnregisteredCartridgeException"/>
        </wsdl:operation>
        <wsdl:operation name="unregisterService">
            <wsdl:input message="ns:unregisterServiceRequest" wsaw:Action="urn:unregisterService"/>
            <wsdl:fault message="ns:CloudControllerServiceImplUnregisteredClusterException" name="CloudControllerServiceImplUnregisteredClusterException" wsaw:Action="urn:unregisterServiceCloudControllerServiceImplUnregisteredClusterException"/>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <wsdl:input message="ns:undeployCartridgeDefinitionRequest" wsaw:Action="urn:undeployCartridgeDefinition"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidCartridgeTypeException" name="CloudControllerServiceImplInvalidCartridgeTypeException" wsaw:Action="urn:undeployCartridgeDefinitionCloudControllerServiceImplInvalidCartridgeTypeException"/>
        </wsdl:operation>
        <wsdl:operation name="terminateAllInstances">
            <wsdl:input message="ns:terminateAllInstancesRequest" wsaw:Action="urn:terminateAllInstances"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidClusterException" name="CloudControllerServiceImplInvalidClusterException" wsaw:Action="urn:terminateAllInstancesCloudControllerServiceImplInvalidClusterException"/>
        </wsdl:operation>
        <wsdl:operation name="getRegisteredCartridges">
            <wsdl:input message="ns:getRegisteredCartridgesRequest" wsaw:Action="urn:getRegisteredCartridges"/>
            <wsdl:output message="ns:getRegisteredCartridgesResponse" wsaw:Action="urn:getRegisteredCartridgesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <wsdl:input message="ns:startInstanceRequest" wsaw:Action="urn:startInstance"/>
            <wsdl:output message="ns:startInstanceResponse" wsaw:Action="urn:startInstanceResponse"/>
            <wsdl:fault message="ns:CloudControllerServiceImplUnregisteredCartridgeException" name="CloudControllerServiceImplUnregisteredCartridgeException" wsaw:Action="urn:startInstanceCloudControllerServiceImplUnregisteredCartridgeException"/>
            <wsdl:fault message="ns:CloudControllerServiceImplInvalidIaasProviderException" name="CloudControllerServiceImplInvalidIaasProviderException" wsaw:Action="urn:startInstanceCloudControllerServiceImplInvalidIaasProviderException"/>
        </wsdl:operation>
        <wsdl:operation name="getClusterContext">
            <wsdl:input message="ns:getClusterContextRequest" wsaw:Action="urn:getClusterContext"/>
            <wsdl:output message="ns:getClusterContextResponse" wsaw:Action="urn:getClusterContextResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CloudControllerServiceImplSoap11Binding" type="ns:CloudControllerServiceImplPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validatePartition">
            <soap:operation soapAction="urn:validatePartition" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplInvalidPartitionException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidPartitionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateDeploymentPolicy">
            <soap:operation soapAction="urn:validateDeploymentPolicy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplInvalidPartitionException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidPartitionException"/>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceImplInvalidCartridgeTypeException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidCartridgeTypeException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <soap:operation soapAction="urn:terminateInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplInvalidCartridgeTypeException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidCartridgeTypeException"/>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceImplInvalidMemberException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidMemberException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerService">
            <soap:operation soapAction="urn:registerService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplUnregisteredCartridgeException">
                <soap:fault use="literal" name="CloudControllerServiceImplUnregisteredCartridgeException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployCartridgeDefinition">
            <soap:operation soapAction="urn:deployCartridgeDefinition" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplInvalidIaasProviderException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidIaasProviderException"/>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceImplInvalidCartridgeDefinitionException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidCartridgeDefinitionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeInfo">
            <soap:operation soapAction="urn:getCartridgeInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplUnregisteredCartridgeException">
                <soap:fault use="literal" name="CloudControllerServiceImplUnregisteredCartridgeException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unregisterService">
            <soap:operation soapAction="urn:unregisterService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplUnregisteredClusterException">
                <soap:fault use="literal" name="CloudControllerServiceImplUnregisteredClusterException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <soap:operation soapAction="urn:undeployCartridgeDefinition" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplInvalidCartridgeTypeException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidCartridgeTypeException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateAllInstances">
            <soap:operation soapAction="urn:terminateAllInstances" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplInvalidClusterException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidClusterException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRegisteredCartridges">
            <soap:operation soapAction="urn:getRegisteredCartridges" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <soap:operation soapAction="urn:startInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplUnregisteredCartridgeException">
                <soap:fault use="literal" name="CloudControllerServiceImplUnregisteredCartridgeException"/>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceImplInvalidIaasProviderException">
                <soap:fault use="literal" name="CloudControllerServiceImplInvalidIaasProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClusterContext">
            <soap:operation soapAction="urn:getClusterContext" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudControllerServiceImplSoap12Binding" type="ns:CloudControllerServiceImplPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validatePartition">
            <soap12:operation soapAction="urn:validatePartition" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplInvalidPartitionException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidPartitionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateDeploymentPolicy">
            <soap12:operation soapAction="urn:validateDeploymentPolicy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplInvalidPartitionException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidPartitionException"/>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceImplInvalidCartridgeTypeException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidCartridgeTypeException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <soap12:operation soapAction="urn:terminateInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplInvalidCartridgeTypeException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidCartridgeTypeException"/>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceImplInvalidMemberException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidMemberException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerService">
            <soap12:operation soapAction="urn:registerService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplUnregisteredCartridgeException">
                <soap12:fault use="literal" name="CloudControllerServiceImplUnregisteredCartridgeException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployCartridgeDefinition">
            <soap12:operation soapAction="urn:deployCartridgeDefinition" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplInvalidIaasProviderException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidIaasProviderException"/>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceImplInvalidCartridgeDefinitionException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidCartridgeDefinitionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeInfo">
            <soap12:operation soapAction="urn:getCartridgeInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplUnregisteredCartridgeException">
                <soap12:fault use="literal" name="CloudControllerServiceImplUnregisteredCartridgeException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unregisterService">
            <soap12:operation soapAction="urn:unregisterService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplUnregisteredClusterException">
                <soap12:fault use="literal" name="CloudControllerServiceImplUnregisteredClusterException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <soap12:operation soapAction="urn:undeployCartridgeDefinition" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplInvalidCartridgeTypeException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidCartridgeTypeException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateAllInstances">
            <soap12:operation soapAction="urn:terminateAllInstances" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CloudControllerServiceImplInvalidClusterException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidClusterException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRegisteredCartridges">
            <soap12:operation soapAction="urn:getRegisteredCartridges" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <soap12:operation soapAction="urn:startInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudControllerServiceImplUnregisteredCartridgeException">
                <soap12:fault use="literal" name="CloudControllerServiceImplUnregisteredCartridgeException"/>
            </wsdl:fault>
            <wsdl:fault name="CloudControllerServiceImplInvalidIaasProviderException">
                <soap12:fault use="literal" name="CloudControllerServiceImplInvalidIaasProviderException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClusterContext">
            <soap12:operation soapAction="urn:getClusterContext" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudControllerServiceImplHttpBinding" type="ns:CloudControllerServiceImplPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="validatePartition">
            <http:operation location="validatePartition"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateDeploymentPolicy">
            <http:operation location="validateDeploymentPolicy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <http:operation location="terminateInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="registerService">
            <http:operation location="registerService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCartridgeDefinition">
            <http:operation location="deployCartridgeDefinition"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeInfo">
            <http:operation location="getCartridgeInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterService">
            <http:operation location="unregisterService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="undeployCartridgeDefinition">
            <http:operation location="undeployCartridgeDefinition"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="terminateAllInstances">
            <http:operation location="terminateAllInstances"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRegisteredCartridges">
            <http:operation location="getRegisteredCartridges"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <http:operation location="startInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClusterContext">
            <http:operation location="getClusterContext"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CloudControllerServiceImpl">
        <wsdl:port name="CloudControllerServiceImplHttpSoap11Endpoint" binding="ns:CloudControllerServiceImplSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/CloudControllerServiceImpl"/>
        </wsdl:port>
        <wsdl:port name="CloudControllerServiceImplHttpSoap12Endpoint" binding="ns:CloudControllerServiceImplSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/CloudControllerServiceImpl"/>
        </wsdl:port>
        <wsdl:port name="CloudControllerServiceImplHttpEndpoint" binding="ns:CloudControllerServiceImplHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/CloudControllerServiceImpl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
