components/org.apache.stratos.cloud.controller/src/main/resources/service.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="service">
          <xs:annotation>
            <xs:documentation>you can have 0..n service elements</xs:documentation>
          </xs:annotation>
          <xs:complexType>
          	<xs:choice maxOccurs="unbounded">
          		<xs:element name="cartridge">
          			<xs:annotation>
          				<xs:documentation>
          					this element's value should be a reference
          					to an existing cartridge
          				</xs:documentation>
          			</xs:annotation>
          			<xs:complexType>
          				<xs:simpleContent>
          					<xs:extension base="xs:string">
          						<xs:attribute type="xs:string"
          							name="type" />
          					</xs:extension>
          				</xs:simpleContent>
          			</xs:complexType>
          		</xs:element>
          		<xs:element name="payload" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
          		<xs:element name="host" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
          		<xs:element name="property"
    						maxOccurs="unbounded" minOccurs="0">
    						<xs:complexType>
    							<xs:simpleContent>
    								<xs:extension base="xs:string">
    									<xs:attribute type="xs:string"
    										name="name" />
    									<xs:attribute type="xs:string"
    										name="value" />
    								</xs:extension>
    							</xs:simpleContent>
    						</xs:complexType>
    					</xs:element>
          	</xs:choice>
          	<xs:attribute type="xs:string" name="domain" />
          	<xs:attribute type="xs:string" name="tenantRange" />
          </xs:complexType>
        </xs:element>
</xs:schema>
