service-stubs/org.apache.stratos.validate.domain.stub/src/main/resources/ValidateDomainService.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.domain.validate.stratos.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.domain.validate.stratos.apache.org">
    <wsdl:documentation>ValidateDomainService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.domain.validate.stratos.apache.org">
            <xs:element name="ValidateDomainServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ValidateDomainServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="validateByTextInRoot">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByTextInRootResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByDNSEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByDNSEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainValidationKey">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainValidationKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateByTextInRootRequest">
        <wsdl:part name="parameters" element="ns:validateByTextInRoot"/>
    </wsdl:message>
    <wsdl:message name="validateByTextInRootResponse">
        <wsdl:part name="parameters" element="ns:validateByTextInRootResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidateDomainServiceException">
        <wsdl:part name="parameters" element="ns:ValidateDomainServiceException"/>
    </wsdl:message>
    <wsdl:message name="validateByDNSEntryRequest">
        <wsdl:part name="parameters" element="ns:validateByDNSEntry"/>
    </wsdl:message>
    <wsdl:message name="validateByDNSEntryResponse">
        <wsdl:part name="parameters" element="ns:validateByDNSEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="getDomainValidationKeyRequest">
        <wsdl:part name="parameters" element="ns:getDomainValidationKey"/>
    </wsdl:message>
    <wsdl:message name="getDomainValidationKeyResponse">
        <wsdl:part name="parameters" element="ns:getDomainValidationKeyResponse"/>
    </wsdl:message>
    <wsdl:portType name="ValidateDomainServicePortType">
        <wsdl:operation name="validateByTextInRoot">
            <wsdl:input message="ns:validateByTextInRootRequest" wsaw:Action="urn:validateByTextInRoot"/>
            <wsdl:output message="ns:validateByTextInRootResponse" wsaw:Action="urn:validateByTextInRootResponse"/>
            <wsdl:fault message="ns:ValidateDomainServiceException" name="ValidateDomainServiceException" wsaw:Action="urn:validateByTextInRootValidateDomainServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="validateByDNSEntry">
            <wsdl:input message="ns:validateByDNSEntryRequest" wsaw:Action="urn:validateByDNSEntry"/>
            <wsdl:output message="ns:validateByDNSEntryResponse" wsaw:Action="urn:validateByDNSEntryResponse"/>
            <wsdl:fault message="ns:ValidateDomainServiceException" name="ValidateDomainServiceException" wsaw:Action="urn:validateByDNSEntryValidateDomainServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getDomainValidationKey">
            <wsdl:input message="ns:getDomainValidationKeyRequest" wsaw:Action="urn:getDomainValidationKey"/>
            <wsdl:output message="ns:getDomainValidationKeyResponse" wsaw:Action="urn:getDomainValidationKeyResponse"/>
            <wsdl:fault message="ns:ValidateDomainServiceException" name="ValidateDomainServiceException" wsaw:Action="urn:getDomainValidationKeyValidateDomainServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ValidateDomainServiceSoap11Binding" type="ns:ValidateDomainServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validateByTextInRoot">
            <soap:operation soapAction="urn:validateByTextInRoot" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainServiceException">
                <soap:fault use="literal" name="ValidateDomainServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateByDNSEntry">
            <soap:operation soapAction="urn:validateByDNSEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainServiceException">
                <soap:fault use="literal" name="ValidateDomainServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDomainValidationKey">
            <soap:operation soapAction="urn:getDomainValidationKey" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainServiceException">
                <soap:fault use="literal" name="ValidateDomainServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ValidateDomainServiceSoap12Binding" type="ns:ValidateDomainServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validateByTextInRoot">
            <soap12:operation soapAction="urn:validateByTextInRoot" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainServiceException">
                <soap12:fault use="literal" name="ValidateDomainServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateByDNSEntry">
            <soap12:operation soapAction="urn:validateByDNSEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainServiceException">
                <soap12:fault use="literal" name="ValidateDomainServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDomainValidationKey">
            <soap12:operation soapAction="urn:getDomainValidationKey" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainServiceException">
                <soap12:fault use="literal" name="ValidateDomainServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ValidateDomainServiceHttpBinding" type="ns:ValidateDomainServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="validateByTextInRoot">
            <http:operation location="validateByTextInRoot"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateByDNSEntry">
            <http:operation location="validateByDNSEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDomainValidationKey">
            <http:operation location="getDomainValidationKey"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ValidateDomainService">
        <wsdl:port name="ValidateDomainServiceHttpSoap11Endpoint" binding="ns:ValidateDomainServiceSoap11Binding">
            <soap:address location="http://10.100.1.124:9763/services/ValidateDomainService.ValidateDomainServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainServiceHttpsSoap11Endpoint" binding="ns:ValidateDomainServiceSoap11Binding">
            <soap:address location="https://10.100.1.124:9443/services/ValidateDomainService.ValidateDomainServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainServiceHttpSoap12Endpoint" binding="ns:ValidateDomainServiceSoap12Binding">
            <soap12:address location="http://10.100.1.124:9763/services/ValidateDomainService.ValidateDomainServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainServiceHttpsSoap12Endpoint" binding="ns:ValidateDomainServiceSoap12Binding">
            <soap12:address location="https://10.100.1.124:9443/services/ValidateDomainService.ValidateDomainServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainServiceHttpsEndpoint" binding="ns:ValidateDomainServiceHttpBinding">
            <http:address location="https://10.100.1.124:9443/services/ValidateDomainService.ValidateDomainServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainServiceHttpEndpoint" binding="ns:ValidateDomainServiceHttpBinding">
            <http:address location="http://10.100.1.124:9763/services/ValidateDomainService.ValidateDomainServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>