service-stubs/org.apache.stratos.validate.domain.stub/src/main/resources/ValidateDomainAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.domain.validate.stratos.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.domain.validate.stratos.apache.org">
    <wsdl:documentation>ValidateDomainAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.domain.validate.stratos.apache.org">
            <xs:element name="ValidateDomainAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ValidateDomainAdminServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="validateByTextInRoot">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByTextInRootResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByDNSEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByDNSEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainValidationKey">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainValidationKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateByTextInRootRequest">
        <wsdl:part name="parameters" element="ns:validateByTextInRoot"/>
    </wsdl:message>
    <wsdl:message name="validateByTextInRootResponse">
        <wsdl:part name="parameters" element="ns:validateByTextInRootResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidateDomainAdminServiceException">
        <wsdl:part name="parameters" element="ns:ValidateDomainAdminServiceException"/>
    </wsdl:message>
    <wsdl:message name="validateByDNSEntryRequest">
        <wsdl:part name="parameters" element="ns:validateByDNSEntry"/>
    </wsdl:message>
    <wsdl:message name="validateByDNSEntryResponse">
        <wsdl:part name="parameters" element="ns:validateByDNSEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="getDomainValidationKeyRequest">
        <wsdl:part name="parameters" element="ns:getDomainValidationKey"/>
    </wsdl:message>
    <wsdl:message name="getDomainValidationKeyResponse">
        <wsdl:part name="parameters" element="ns:getDomainValidationKeyResponse"/>
    </wsdl:message>
    <wsdl:portType name="ValidateDomainAdminServicePortType">
        <wsdl:operation name="validateByTextInRoot">
            <wsdl:input message="ns:validateByTextInRootRequest" wsaw:Action="urn:validateByTextInRoot"/>
            <wsdl:output message="ns:validateByTextInRootResponse" wsaw:Action="urn:validateByTextInRootResponse"/>
            <wsdl:fault message="ns:ValidateDomainAdminServiceException" name="ValidateDomainAdminServiceException" wsaw:Action="urn:validateByTextInRootValidateDomainAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="validateByDNSEntry">
            <wsdl:input message="ns:validateByDNSEntryRequest" wsaw:Action="urn:validateByDNSEntry"/>
            <wsdl:output message="ns:validateByDNSEntryResponse" wsaw:Action="urn:validateByDNSEntryResponse"/>
            <wsdl:fault message="ns:ValidateDomainAdminServiceException" name="ValidateDomainAdminServiceException" wsaw:Action="urn:validateByDNSEntryValidateDomainAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getDomainValidationKey">
            <wsdl:input message="ns:getDomainValidationKeyRequest" wsaw:Action="urn:getDomainValidationKey"/>
            <wsdl:output message="ns:getDomainValidationKeyResponse" wsaw:Action="urn:getDomainValidationKeyResponse"/>
            <wsdl:fault message="ns:ValidateDomainAdminServiceException" name="ValidateDomainAdminServiceException" wsaw:Action="urn:getDomainValidationKeyValidateDomainAdminServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ValidateDomainAdminServiceSoap11Binding" type="ns:ValidateDomainAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validateByTextInRoot">
            <soap:operation soapAction="urn:validateByTextInRoot" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainAdminServiceException">
                <soap:fault use="literal" name="ValidateDomainAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateByDNSEntry">
            <soap:operation soapAction="urn:validateByDNSEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainAdminServiceException">
                <soap:fault use="literal" name="ValidateDomainAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDomainValidationKey">
            <soap:operation soapAction="urn:getDomainValidationKey" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainAdminServiceException">
                <soap:fault use="literal" name="ValidateDomainAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ValidateDomainAdminServiceSoap12Binding" type="ns:ValidateDomainAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validateByTextInRoot">
            <soap12:operation soapAction="urn:validateByTextInRoot" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainAdminServiceException">
                <soap12:fault use="literal" name="ValidateDomainAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateByDNSEntry">
            <soap12:operation soapAction="urn:validateByDNSEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainAdminServiceException">
                <soap12:fault use="literal" name="ValidateDomainAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDomainValidationKey">
            <soap12:operation soapAction="urn:getDomainValidationKey" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidateDomainAdminServiceException">
                <soap12:fault use="literal" name="ValidateDomainAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ValidateDomainAdminServiceHttpBinding" type="ns:ValidateDomainAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="validateByTextInRoot">
            <http:operation location="validateByTextInRoot"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateByDNSEntry">
            <http:operation location="validateByDNSEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDomainValidationKey">
            <http:operation location="getDomainValidationKey"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ValidateDomainAdminService">
        <wsdl:port name="ValidateDomainAdminServiceHttpsSoap11Endpoint" binding="ns:ValidateDomainAdminServiceSoap11Binding">
            <soap:address location="https://10.100.1.124:9443/services/ValidateDomainAdminService.ValidateDomainAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainAdminServiceHttpSoap11Endpoint" binding="ns:ValidateDomainAdminServiceSoap11Binding">
            <soap:address location="http://10.100.1.124:9763/services/ValidateDomainAdminService.ValidateDomainAdminServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainAdminServiceHttpSoap12Endpoint" binding="ns:ValidateDomainAdminServiceSoap12Binding">
            <soap12:address location="http://10.100.1.124:9763/services/ValidateDomainAdminService.ValidateDomainAdminServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainAdminServiceHttpsSoap12Endpoint" binding="ns:ValidateDomainAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.1.124:9443/services/ValidateDomainAdminService.ValidateDomainAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainAdminServiceHttpsEndpoint" binding="ns:ValidateDomainAdminServiceHttpBinding">
            <http:address location="https://10.100.1.124:9443/services/ValidateDomainAdminService.ValidateDomainAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValidateDomainAdminServiceHttpEndpoint" binding="ns:ValidateDomainAdminServiceHttpBinding">
            <http:address location="http://10.100.1.124:9763/services/ValidateDomainAdminService.ValidateDomainAdminServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>