service-stubs/org.apache.stratos.redirector.servlet.stub/src/main/resources/RedirectorServletService.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.servlet.redirector.stratos.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.servlet.redirector.stratos.apache.org">
    <wsdl:documentation>RedirectorServletService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.servlet.redirector.stratos.apache.org">
            <xs:element name="validateTenantException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="validateTenantException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="validateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateTenantRequest">
        <wsdl:part name="parameters" element="ns:validateTenant" />
    </wsdl:message>
    <wsdl:message name="validateTenantResponse">
        <wsdl:part name="parameters" element="ns:validateTenantResponse" />
    </wsdl:message>
    <wsdl:message name="validateTenantException">
        <wsdl:part name="parameters" element="ns:validateTenantException" />
    </wsdl:message>
    <wsdl:portType name="RedirectorServletServicePortType">
        <wsdl:operation name="validateTenant">
            <wsdl:input message="ns:validateTenantRequest" wsaw:Action="urn:validateTenant" />
            <wsdl:output message="ns:validateTenantResponse" wsaw:Action="urn:validateTenantResponse" />
            <wsdl:fault message="ns:validateTenantException" name="validateTenantException" wsaw:Action="urn:validateTenantvalidateTenantException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RedirectorServletServiceSoap11Binding" type="ns:RedirectorServletServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="validateTenant">
            <soap:operation soapAction="urn:validateTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="validateTenantException">
                <soap:fault use="literal" name="validateTenantException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RedirectorServletServiceSoap12Binding" type="ns:RedirectorServletServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="validateTenant">
            <soap12:operation soapAction="urn:validateTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="validateTenantException">
                <soap12:fault use="literal" name="validateTenantException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RedirectorServletServiceHttpBinding" type="ns:RedirectorServletServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="validateTenant">
            <http:operation location="validateTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RedirectorServletService">
        <wsdl:port name="RedirectorServletServiceHttpsSoap11Endpoint" binding="ns:RedirectorServletServiceSoap11Binding">
            <soap:address location="https://10.100.0.161:9443/services/RedirectorServletService.RedirectorServletServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RedirectorServletServiceHttpsSoap12Endpoint" binding="ns:RedirectorServletServiceSoap12Binding">
            <soap12:address location="https://10.100.0.161:9443/services/RedirectorServletService.RedirectorServletServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RedirectorServletServiceHttpsEndpoint" binding="ns:RedirectorServletServiceHttpBinding">
            <http:address location="https://10.100.0.161:9443/services/RedirectorServletService.RedirectorServletServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
