service-stubs/org.apache.stratos.account.mgt.stub/src/main/resources/AccountMgtService.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.account.stratos.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://beans.mgt.account.stratos.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.account.stratos.apache.org">
    <wsdl:documentation>AccountMgtService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://beans.mgt.account.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.account.stratos.apache.org">
            <xs:import namespace="http://beans.mgt.account.stratos.apache.org/xsd" />
            <xs:element name="updateFullnameException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="updateFullnameException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateFullname">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountInfoBean" nillable="true" type="ax21:AccountInfoBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateFullnameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateContactException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="updateContactException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateContact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="contactEmail" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isEmailValidatedException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isEmailValidatedException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isEmailValidated">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="isEmailValidatedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isDomainValidatedException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isDomainValidatedException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isDomainValidated">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="isDomainValidatedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFullnameException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getFullnameException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFullname">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getFullnameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:AccountInfoBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getContactException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getContactException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getContact">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getContactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="finishedDomainValidationException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="finishedDomainValidationException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="finishedDomainValidation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="validatedDomain" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="successKey" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="finishedDomainValidationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="deactivateException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivate">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="checkDomainAvailabilityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="checkDomainAvailabilityException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkDomainAvailability">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkDomainAvailabilityResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.account.stratos.apache.org/xsd">
            <xs:complexType name="AccountInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkDomainAvailabilityRequest">
        <wsdl:part name="parameters" element="ns:checkDomainAvailability" />
    </wsdl:message>
    <wsdl:message name="checkDomainAvailabilityResponse">
        <wsdl:part name="parameters" element="ns:checkDomainAvailabilityResponse" />
    </wsdl:message>
    <wsdl:message name="checkDomainAvailabilityException">
        <wsdl:part name="parameters" element="ns:checkDomainAvailabilityException" />
    </wsdl:message>
    <wsdl:message name="getContactRequest">
        <wsdl:part name="parameters" element="ns:getContact" />
    </wsdl:message>
    <wsdl:message name="getContactResponse">
        <wsdl:part name="parameters" element="ns:getContactResponse" />
    </wsdl:message>
    <wsdl:message name="getContactException">
        <wsdl:part name="parameters" element="ns:getContactException" />
    </wsdl:message>
    <wsdl:message name="isEmailValidatedRequest">
        <wsdl:part name="parameters" element="ns:isEmailValidated" />
    </wsdl:message>
    <wsdl:message name="isEmailValidatedResponse">
        <wsdl:part name="parameters" element="ns:isEmailValidatedResponse" />
    </wsdl:message>
    <wsdl:message name="isEmailValidatedException">
        <wsdl:part name="parameters" element="ns:isEmailValidatedException" />
    </wsdl:message>
    <wsdl:message name="updateFullnameRequest">
        <wsdl:part name="parameters" element="ns:updateFullname" />
    </wsdl:message>
    <wsdl:message name="updateFullnameResponse">
        <wsdl:part name="parameters" element="ns:updateFullnameResponse" />
    </wsdl:message>
    <wsdl:message name="updateFullnameException">
        <wsdl:part name="parameters" element="ns:updateFullnameException" />
    </wsdl:message>
    <wsdl:message name="isDomainValidatedRequest">
        <wsdl:part name="parameters" element="ns:isDomainValidated" />
    </wsdl:message>
    <wsdl:message name="isDomainValidatedResponse">
        <wsdl:part name="parameters" element="ns:isDomainValidatedResponse" />
    </wsdl:message>
    <wsdl:message name="isDomainValidatedException">
        <wsdl:part name="parameters" element="ns:isDomainValidatedException" />
    </wsdl:message>
    <wsdl:message name="deactivateRequest">
        <wsdl:part name="parameters" element="ns:deactivate" />
    </wsdl:message>
    <wsdl:message name="deactivateResponse" />
    <wsdl:message name="deactivateException">
        <wsdl:part name="parameters" element="ns:deactivateException" />
    </wsdl:message>
    <wsdl:message name="getFullnameRequest">
        <wsdl:part name="parameters" element="ns:getFullname" />
    </wsdl:message>
    <wsdl:message name="getFullnameResponse">
        <wsdl:part name="parameters" element="ns:getFullnameResponse" />
    </wsdl:message>
    <wsdl:message name="getFullnameException">
        <wsdl:part name="parameters" element="ns:getFullnameException" />
    </wsdl:message>
    <wsdl:message name="finishedDomainValidationRequest">
        <wsdl:part name="parameters" element="ns:finishedDomainValidation" />
    </wsdl:message>
    <wsdl:message name="finishedDomainValidationResponse">
        <wsdl:part name="parameters" element="ns:finishedDomainValidationResponse" />
    </wsdl:message>
    <wsdl:message name="finishedDomainValidationException">
        <wsdl:part name="parameters" element="ns:finishedDomainValidationException" />
    </wsdl:message>
    <wsdl:message name="updateContactRequest">
        <wsdl:part name="parameters" element="ns:updateContact" />
    </wsdl:message>
    <wsdl:message name="updateContactResponse" />
    <wsdl:message name="updateContactException">
        <wsdl:part name="parameters" element="ns:updateContactException" />
    </wsdl:message>
    <wsdl:portType name="AccountMgtServicePortType">
        <wsdl:operation name="checkDomainAvailability">
            <wsdl:input message="ns:checkDomainAvailabilityRequest" wsaw:Action="urn:checkDomainAvailability" />
            <wsdl:output message="ns:checkDomainAvailabilityResponse" wsaw:Action="urn:checkDomainAvailabilityResponse" />
            <wsdl:fault message="ns:checkDomainAvailabilityException" name="checkDomainAvailabilityException" wsaw:Action="urn:checkDomainAvailabilitycheckDomainAvailabilityException" />
        </wsdl:operation>
        <wsdl:operation name="getContact">
            <wsdl:input message="ns:getContactRequest" wsaw:Action="urn:getContact" />
            <wsdl:output message="ns:getContactResponse" wsaw:Action="urn:getContactResponse" />
            <wsdl:fault message="ns:getContactException" name="getContactException" wsaw:Action="urn:getContactgetContactException" />
        </wsdl:operation>
        <wsdl:operation name="isEmailValidated">
            <wsdl:input message="ns:isEmailValidatedRequest" wsaw:Action="urn:isEmailValidated" />
            <wsdl:output message="ns:isEmailValidatedResponse" wsaw:Action="urn:isEmailValidatedResponse" />
            <wsdl:fault message="ns:isEmailValidatedException" name="isEmailValidatedException" wsaw:Action="urn:isEmailValidatedisEmailValidatedException" />
        </wsdl:operation>
        <wsdl:operation name="updateFullname">
            <wsdl:input message="ns:updateFullnameRequest" wsaw:Action="urn:updateFullname" />
            <wsdl:output message="ns:updateFullnameResponse" wsaw:Action="urn:updateFullnameResponse" />
            <wsdl:fault message="ns:updateFullnameException" name="updateFullnameException" wsaw:Action="urn:updateFullnameupdateFullnameException" />
        </wsdl:operation>
        <wsdl:operation name="isDomainValidated">
            <wsdl:input message="ns:isDomainValidatedRequest" wsaw:Action="urn:isDomainValidated" />
            <wsdl:output message="ns:isDomainValidatedResponse" wsaw:Action="urn:isDomainValidatedResponse" />
            <wsdl:fault message="ns:isDomainValidatedException" name="isDomainValidatedException" wsaw:Action="urn:isDomainValidatedisDomainValidatedException" />
        </wsdl:operation>
        <wsdl:operation name="deactivate">
            <wsdl:input message="ns:deactivateRequest" wsaw:Action="urn:deactivate" />
            <wsdl:output message="ns:deactivateResponse" wsaw:Action="urn:deactivateResponse" />
            <wsdl:fault message="ns:deactivateException" name="deactivateException" wsaw:Action="urn:deactivatedeactivateException" />
        </wsdl:operation>
        <wsdl:operation name="getFullname">
            <wsdl:input message="ns:getFullnameRequest" wsaw:Action="urn:getFullname" />
            <wsdl:output message="ns:getFullnameResponse" wsaw:Action="urn:getFullnameResponse" />
            <wsdl:fault message="ns:getFullnameException" name="getFullnameException" wsaw:Action="urn:getFullnamegetFullnameException" />
        </wsdl:operation>
        <wsdl:operation name="finishedDomainValidation">
            <wsdl:input message="ns:finishedDomainValidationRequest" wsaw:Action="urn:finishedDomainValidation" />
            <wsdl:output message="ns:finishedDomainValidationResponse" wsaw:Action="urn:finishedDomainValidationResponse" />
            <wsdl:fault message="ns:finishedDomainValidationException" name="finishedDomainValidationException" wsaw:Action="urn:finishedDomainValidationfinishedDomainValidationException" />
        </wsdl:operation>
        <wsdl:operation name="updateContact">
            <wsdl:input message="ns:updateContactRequest" wsaw:Action="urn:updateContact" />
            <wsdl:output message="ns:updateContactResponse" wsaw:Action="urn:updateContactResponse" />
            <wsdl:fault message="ns:updateContactException" name="updateContactException" wsaw:Action="urn:updateContactupdateContactException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountMgtServiceSoap11Binding" type="ns:AccountMgtServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="checkDomainAvailability">
            <soap:operation soapAction="urn:checkDomainAvailability" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="checkDomainAvailabilityException">
                <soap:fault use="literal" name="checkDomainAvailabilityException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getContact">
            <soap:operation soapAction="urn:getContact" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getContactException">
                <soap:fault use="literal" name="getContactException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isEmailValidated">
            <soap:operation soapAction="urn:isEmailValidated" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="isEmailValidatedException">
                <soap:fault use="literal" name="isEmailValidatedException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateFullname">
            <soap:operation soapAction="urn:updateFullname" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="updateFullnameException">
                <soap:fault use="literal" name="updateFullnameException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isDomainValidated">
            <soap:operation soapAction="urn:isDomainValidated" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="isDomainValidatedException">
                <soap:fault use="literal" name="isDomainValidatedException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivate">
            <soap:operation soapAction="urn:deactivate" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="deactivateException">
                <soap:fault use="literal" name="deactivateException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFullname">
            <soap:operation soapAction="urn:getFullname" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getFullnameException">
                <soap:fault use="literal" name="getFullnameException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="finishedDomainValidation">
            <soap:operation soapAction="urn:finishedDomainValidation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="finishedDomainValidationException">
                <soap:fault use="literal" name="finishedDomainValidationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateContact">
            <soap:operation soapAction="urn:updateContact" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="updateContactException">
                <soap:fault use="literal" name="updateContactException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountMgtServiceSoap12Binding" type="ns:AccountMgtServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="checkDomainAvailability">
            <soap12:operation soapAction="urn:checkDomainAvailability" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="checkDomainAvailabilityException">
                <soap12:fault use="literal" name="checkDomainAvailabilityException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getContact">
            <soap12:operation soapAction="urn:getContact" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getContactException">
                <soap12:fault use="literal" name="getContactException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isEmailValidated">
            <soap12:operation soapAction="urn:isEmailValidated" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="isEmailValidatedException">
                <soap12:fault use="literal" name="isEmailValidatedException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateFullname">
            <soap12:operation soapAction="urn:updateFullname" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="updateFullnameException">
                <soap12:fault use="literal" name="updateFullnameException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isDomainValidated">
            <soap12:operation soapAction="urn:isDomainValidated" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="isDomainValidatedException">
                <soap12:fault use="literal" name="isDomainValidatedException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivate">
            <soap12:operation soapAction="urn:deactivate" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="deactivateException">
                <soap12:fault use="literal" name="deactivateException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFullname">
            <soap12:operation soapAction="urn:getFullname" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getFullnameException">
                <soap12:fault use="literal" name="getFullnameException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="finishedDomainValidation">
            <soap12:operation soapAction="urn:finishedDomainValidation" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="finishedDomainValidationException">
                <soap12:fault use="literal" name="finishedDomainValidationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateContact">
            <soap12:operation soapAction="urn:updateContact" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="updateContactException">
                <soap12:fault use="literal" name="updateContactException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountMgtServiceHttpBinding" type="ns:AccountMgtServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="checkDomainAvailability">
            <http:operation location="checkDomainAvailability" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getContact">
            <http:operation location="getContact" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isEmailValidated">
            <http:operation location="isEmailValidated" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateFullname">
            <http:operation location="updateFullname" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isDomainValidated">
            <http:operation location="isDomainValidated" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivate">
            <http:operation location="deactivate" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFullname">
            <http:operation location="getFullname" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="finishedDomainValidation">
            <http:operation location="finishedDomainValidation" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateContact">
            <http:operation location="updateContact" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountMgtService">
        <wsdl:port name="AccountMgtServiceHttpsSoap11Endpoint" binding="ns:AccountMgtServiceSoap11Binding">
            <soap:address location="https://192.168.1.100:9443/services/AccountMgtService.AccountMgtServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AccountMgtServiceHttpsSoap12Endpoint" binding="ns:AccountMgtServiceSoap12Binding">
            <soap12:address location="https://192.168.1.100:9443/services/AccountMgtService.AccountMgtServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AccountMgtServiceHttpsEndpoint" binding="ns:AccountMgtServiceHttpBinding">
            <http:address location="https://192.168.1.100:9443/services/AccountMgtService.AccountMgtServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>