service-stubs/org.apache.stratos.account.mgt.stub/src/main/resources/BillingDataAccessService.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.billing.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax227="http://dataobjects.core.billing.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
    <wsdl:documentation>BillingDataAccessService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax228="http://dataobjects.core.billing.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
            <xs:import namespace="http://dataobjects.core.billing.carbon.wso2.org/xsd"/>
            <xs:element name="BillingDataAccessServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BillingDataAccessServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriptionId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax228:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemIdWithName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="parentId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemIdWithNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveSubscriptionsOfCustomer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveSubscriptionsOfCustomerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax228:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCustomerWithName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCustomerWithNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax228:Customer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveSubscriptionOfCustomerByTenant">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveSubscriptionOfCustomerByTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax228:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveSubscriptionOfCustomerBySuperTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveSubscriptionOfCustomerBySuperTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax228:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteBillingData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateActiveSubscriptionByTenant">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateActiveSubscriptionByTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateActiveSubscriptionBySuperTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateActiveSubscriptionBySuperTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSubscriptionForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriptionPlan" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSubscriptionForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSubscriptionByTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriptionPlan" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSubscriptionByTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSubscriptionBySuperTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerId" type="xs:int"/>
                        <xs:element minOccurs="0" name="subscriptionPlan" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSubscriptionBySuperTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscription" nillable="true" type="ax228:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriptionId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dataobjects.core.billing.carbon.wso2.org/xsd">
            <xs:complexType name="Subscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="activeSince" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="activeUntil" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="customer" nillable="true" type="ax227:Customer"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="invoiceSubscriptionId" type="xs:int"/>
                    <xs:element minOccurs="0" name="item" nillable="true" type="ax227:Item"/>
                    <xs:element minOccurs="0" name="payments" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="subscriptionPlan" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeInvoice" nillable="true" type="ax227:Invoice"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="startedDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="totalBandwidth" type="xs:long"/>
                    <xs:element minOccurs="0" name="totalCartridgeCPUHours" type="xs:long"/>
                    <xs:element minOccurs="0" name="totalStorage" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Invoice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="boughtForward" nillable="true" type="ax227:Cash"/>
                    <xs:element minOccurs="0" name="carriedForward" nillable="true" type="ax227:Cash"/>
                    <xs:element minOccurs="0" name="customer" nillable="true" type="ax227:Customer"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="payments" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="subscriptions" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="totalCost" nillable="true" type="ax227:Cash"/>
                    <xs:element minOccurs="0" name="totalPayment" nillable="true" type="ax227:Cash"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash">
                <xs:sequence>
                    <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="decimalNumber" type="xs:int"/>
                    <xs:element minOccurs="0" name="sign" nillable="true" type="ax227:Cash_Sign"/>
                    <xs:element minOccurs="0" name="wholeNumber" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash_Sign">
                <xs:complexContent>
                    <xs:extension base="xs:Enum">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Item">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bandwidthLimit" type="xs:int"/>
                    <xs:element minOccurs="0" name="bandwidthOveruseCharge" nillable="true" type="ax227:Cash"/>
                    <xs:element minOccurs="0" name="cartridgeCPUHourLimit" type="xs:int"/>
                    <xs:element minOccurs="0" name="cartridgeCPUOveruseCharge" nillable="true" type="ax227:Cash"/>
                    <xs:element minOccurs="0" name="children" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="cost" nillable="true" type="ax227:Cash"/>
                    <xs:element minOccurs="0" name="creditLimit" nillable="true" type="ax227:Cash"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parent" nillable="true" type="ax227:Item"/>
                    <xs:element minOccurs="0" name="resourceVolumeLimit" type="xs:int"/>
                    <xs:element minOccurs="0" name="resourceVolumeOveruseCharge" nillable="true" type="ax227:Cash"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="changeSubscriptionByTenantRequest">
        <wsdl:part name="parameters" element="ns:changeSubscriptionByTenant"/>
    </wsdl:message>
    <wsdl:message name="changeSubscriptionByTenantResponse">
        <wsdl:part name="parameters" element="ns:changeSubscriptionByTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="BillingDataAccessServiceException">
        <wsdl:part name="parameters" element="ns:BillingDataAccessServiceException"/>
    </wsdl:message>
    <wsdl:message name="activateSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:activateSubscription"/>
    </wsdl:message>
    <wsdl:message name="activateSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:activateSubscriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="getInactiveSubscriptionsOfCustomerRequest">
        <wsdl:part name="parameters" element="ns:getInactiveSubscriptionsOfCustomer"/>
    </wsdl:message>
    <wsdl:message name="getInactiveSubscriptionsOfCustomerResponse">
        <wsdl:part name="parameters" element="ns:getInactiveSubscriptionsOfCustomerResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteBillingDataRequest">
        <wsdl:part name="parameters" element="ns:deleteBillingData"/>
    </wsdl:message>
    <wsdl:message name="getItemIdWithNameRequest">
        <wsdl:part name="parameters" element="ns:getItemIdWithName"/>
    </wsdl:message>
    <wsdl:message name="getItemIdWithNameResponse">
        <wsdl:part name="parameters" element="ns:getItemIdWithNameResponse"/>
    </wsdl:message>
    <wsdl:message name="deactivateActiveSubscriptionBySuperTenantRequest">
        <wsdl:part name="parameters" element="ns:deactivateActiveSubscriptionBySuperTenant"/>
    </wsdl:message>
    <wsdl:message name="deactivateActiveSubscriptionBySuperTenantResponse">
        <wsdl:part name="parameters" element="ns:deactivateActiveSubscriptionBySuperTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="addSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:addSubscription"/>
    </wsdl:message>
    <wsdl:message name="addSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:addSubscriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="deactivateActiveSubscriptionByTenantRequest">
        <wsdl:part name="parameters" element="ns:deactivateActiveSubscriptionByTenant"/>
    </wsdl:message>
    <wsdl:message name="deactivateActiveSubscriptionByTenantResponse">
        <wsdl:part name="parameters" element="ns:deactivateActiveSubscriptionByTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="getSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:getSubscription"/>
    </wsdl:message>
    <wsdl:message name="getSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:getSubscriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="getCustomerWithNameRequest">
        <wsdl:part name="parameters" element="ns:getCustomerWithName"/>
    </wsdl:message>
    <wsdl:message name="getCustomerWithNameResponse">
        <wsdl:part name="parameters" element="ns:getCustomerWithNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getActiveSubscriptionOfCustomerByTenantRequest">
        <wsdl:part name="parameters" element="ns:getActiveSubscriptionOfCustomerByTenant"/>
    </wsdl:message>
    <wsdl:message name="getActiveSubscriptionOfCustomerByTenantResponse">
        <wsdl:part name="parameters" element="ns:getActiveSubscriptionOfCustomerByTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="getActiveSubscriptionOfCustomerBySuperTenantRequest">
        <wsdl:part name="parameters" element="ns:getActiveSubscriptionOfCustomerBySuperTenant"/>
    </wsdl:message>
    <wsdl:message name="getActiveSubscriptionOfCustomerBySuperTenantResponse">
        <wsdl:part name="parameters" element="ns:getActiveSubscriptionOfCustomerBySuperTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="changeSubscriptionBySuperTenantRequest">
        <wsdl:part name="parameters" element="ns:changeSubscriptionBySuperTenant"/>
    </wsdl:message>
    <wsdl:message name="changeSubscriptionBySuperTenantResponse">
        <wsdl:part name="parameters" element="ns:changeSubscriptionBySuperTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="changeSubscriptionForTenantRequest">
        <wsdl:part name="parameters" element="ns:changeSubscriptionForTenant"/>
    </wsdl:message>
    <wsdl:message name="changeSubscriptionForTenantResponse">
        <wsdl:part name="parameters" element="ns:changeSubscriptionForTenantResponse"/>
    </wsdl:message>
    <wsdl:portType name="BillingDataAccessServicePortType">
        <wsdl:operation name="changeSubscriptionByTenant">
            <wsdl:input message="ns:changeSubscriptionByTenantRequest" wsaw:Action="urn:changeSubscriptionByTenant"/>
            <wsdl:output message="ns:changeSubscriptionByTenantResponse" wsaw:Action="urn:changeSubscriptionByTenantResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:changeSubscriptionByTenantBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="activateSubscription">
            <wsdl:input message="ns:activateSubscriptionRequest" wsaw:Action="urn:activateSubscription"/>
            <wsdl:output message="ns:activateSubscriptionResponse" wsaw:Action="urn:activateSubscriptionResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:activateSubscriptionBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getInactiveSubscriptionsOfCustomer">
            <wsdl:input message="ns:getInactiveSubscriptionsOfCustomerRequest" wsaw:Action="urn:getInactiveSubscriptionsOfCustomer"/>
            <wsdl:output message="ns:getInactiveSubscriptionsOfCustomerResponse" wsaw:Action="urn:getInactiveSubscriptionsOfCustomerResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getInactiveSubscriptionsOfCustomerBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteBillingData">
            <wsdl:input message="ns:deleteBillingDataRequest" wsaw:Action="urn:deleteBillingData"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:deleteBillingDataBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getItemIdWithName">
            <wsdl:input message="ns:getItemIdWithNameRequest" wsaw:Action="urn:getItemIdWithName"/>
            <wsdl:output message="ns:getItemIdWithNameResponse" wsaw:Action="urn:getItemIdWithNameResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getItemIdWithNameBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscriptionBySuperTenant">
            <wsdl:input message="ns:deactivateActiveSubscriptionBySuperTenantRequest" wsaw:Action="urn:deactivateActiveSubscriptionBySuperTenant"/>
            <wsdl:output message="ns:deactivateActiveSubscriptionBySuperTenantResponse" wsaw:Action="urn:deactivateActiveSubscriptionBySuperTenantResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:deactivateActiveSubscriptionBySuperTenantBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <wsdl:input message="ns:addSubscriptionRequest" wsaw:Action="urn:addSubscription"/>
            <wsdl:output message="ns:addSubscriptionResponse" wsaw:Action="urn:addSubscriptionResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:addSubscriptionBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscriptionByTenant">
            <wsdl:input message="ns:deactivateActiveSubscriptionByTenantRequest" wsaw:Action="urn:deactivateActiveSubscriptionByTenant"/>
            <wsdl:output message="ns:deactivateActiveSubscriptionByTenantResponse" wsaw:Action="urn:deactivateActiveSubscriptionByTenantResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:deactivateActiveSubscriptionByTenantBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <wsdl:input message="ns:getSubscriptionRequest" wsaw:Action="urn:getSubscription"/>
            <wsdl:output message="ns:getSubscriptionResponse" wsaw:Action="urn:getSubscriptionResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getSubscriptionBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomerWithName">
            <wsdl:input message="ns:getCustomerWithNameRequest" wsaw:Action="urn:getCustomerWithName"/>
            <wsdl:output message="ns:getCustomerWithNameResponse" wsaw:Action="urn:getCustomerWithNameResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getCustomerWithNameBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomerByTenant">
            <wsdl:input message="ns:getActiveSubscriptionOfCustomerByTenantRequest" wsaw:Action="urn:getActiveSubscriptionOfCustomerByTenant"/>
            <wsdl:output message="ns:getActiveSubscriptionOfCustomerByTenantResponse" wsaw:Action="urn:getActiveSubscriptionOfCustomerByTenantResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getActiveSubscriptionOfCustomerByTenantBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomerBySuperTenant">
            <wsdl:input message="ns:getActiveSubscriptionOfCustomerBySuperTenantRequest" wsaw:Action="urn:getActiveSubscriptionOfCustomerBySuperTenant"/>
            <wsdl:output message="ns:getActiveSubscriptionOfCustomerBySuperTenantResponse" wsaw:Action="urn:getActiveSubscriptionOfCustomerBySuperTenantResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getActiveSubscriptionOfCustomerBySuperTenantBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="changeSubscriptionBySuperTenant">
            <wsdl:input message="ns:changeSubscriptionBySuperTenantRequest" wsaw:Action="urn:changeSubscriptionBySuperTenant"/>
            <wsdl:output message="ns:changeSubscriptionBySuperTenantResponse" wsaw:Action="urn:changeSubscriptionBySuperTenantResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:changeSubscriptionBySuperTenantBillingDataAccessServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="changeSubscriptionForTenant">
            <wsdl:input message="ns:changeSubscriptionForTenantRequest" wsaw:Action="urn:changeSubscriptionForTenant"/>
            <wsdl:output message="ns:changeSubscriptionForTenantResponse" wsaw:Action="urn:changeSubscriptionForTenantResponse"/>
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:changeSubscriptionForTenantBillingDataAccessServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BillingDataAccessServiceSoap11Binding" type="ns:BillingDataAccessServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="changeSubscriptionByTenant">
            <soap:operation soapAction="urn:changeSubscriptionByTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateSubscription">
            <soap:operation soapAction="urn:activateSubscription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInactiveSubscriptionsOfCustomer">
            <soap:operation soapAction="urn:getInactiveSubscriptionsOfCustomer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscriptionBySuperTenant">
            <soap:operation soapAction="urn:deactivateActiveSubscriptionBySuperTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getItemIdWithName">
            <soap:operation soapAction="urn:getItemIdWithName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteBillingData">
            <soap:operation soapAction="urn:deleteBillingData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <soap:operation soapAction="urn:addSubscription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscriptionByTenant">
            <soap:operation soapAction="urn:deactivateActiveSubscriptionByTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <soap:operation soapAction="urn:getSubscription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerWithName">
            <soap:operation soapAction="urn:getCustomerWithName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomerBySuperTenant">
            <soap:operation soapAction="urn:getActiveSubscriptionOfCustomerBySuperTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomerByTenant">
            <soap:operation soapAction="urn:getActiveSubscriptionOfCustomerByTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeSubscriptionBySuperTenant">
            <soap:operation soapAction="urn:changeSubscriptionBySuperTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeSubscriptionForTenant">
            <soap:operation soapAction="urn:changeSubscriptionForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BillingDataAccessServiceSoap12Binding" type="ns:BillingDataAccessServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="changeSubscriptionByTenant">
            <soap12:operation soapAction="urn:changeSubscriptionByTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateSubscription">
            <soap12:operation soapAction="urn:activateSubscription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInactiveSubscriptionsOfCustomer">
            <soap12:operation soapAction="urn:getInactiveSubscriptionsOfCustomer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscriptionBySuperTenant">
            <soap12:operation soapAction="urn:deactivateActiveSubscriptionBySuperTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getItemIdWithName">
            <soap12:operation soapAction="urn:getItemIdWithName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteBillingData">
            <soap12:operation soapAction="urn:deleteBillingData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <soap12:operation soapAction="urn:addSubscription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscriptionByTenant">
            <soap12:operation soapAction="urn:deactivateActiveSubscriptionByTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <soap12:operation soapAction="urn:getSubscription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerWithName">
            <soap12:operation soapAction="urn:getCustomerWithName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomerBySuperTenant">
            <soap12:operation soapAction="urn:getActiveSubscriptionOfCustomerBySuperTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomerByTenant">
            <soap12:operation soapAction="urn:getActiveSubscriptionOfCustomerByTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeSubscriptionBySuperTenant">
            <soap12:operation soapAction="urn:changeSubscriptionBySuperTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeSubscriptionForTenant">
            <soap12:operation soapAction="urn:changeSubscriptionForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BillingDataAccessServiceHttpBinding" type="ns:BillingDataAccessServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="changeSubscriptionByTenant">
            <http:operation location="changeSubscriptionByTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activateSubscription">
            <http:operation location="activateSubscription"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveSubscriptionsOfCustomer">
            <http:operation location="getInactiveSubscriptionsOfCustomer"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscriptionBySuperTenant">
            <http:operation location="deactivateActiveSubscriptionBySuperTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getItemIdWithName">
            <http:operation location="getItemIdWithName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteBillingData">
            <http:operation location="deleteBillingData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <http:operation location="addSubscription"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscriptionByTenant">
            <http:operation location="deactivateActiveSubscriptionByTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <http:operation location="getSubscription"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCustomerWithName">
            <http:operation location="getCustomerWithName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomerBySuperTenant">
            <http:operation location="getActiveSubscriptionOfCustomerBySuperTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomerByTenant">
            <http:operation location="getActiveSubscriptionOfCustomerByTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeSubscriptionBySuperTenant">
            <http:operation location="changeSubscriptionBySuperTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeSubscriptionForTenant">
            <http:operation location="changeSubscriptionForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BillingDataAccessService">
        <wsdl:port name="BillingDataAccessServiceHttpsSoap11Endpoint" binding="ns:BillingDataAccessServiceSoap11Binding">
            <soap:address location="https://192.168.1.102:9443/services/BillingDataAccessService.BillingDataAccessServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BillingDataAccessServiceHttpsSoap12Endpoint" binding="ns:BillingDataAccessServiceSoap12Binding">
            <soap12:address location="https://192.168.1.102:9443/services/BillingDataAccessService.BillingDataAccessServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BillingDataAccessServiceHttpsEndpoint" binding="ns:BillingDataAccessServiceHttpBinding">
            <http:address location="https://192.168.1.102:9443/services/BillingDataAccessService.BillingDataAccessServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>