products/stratos2/stratos_controller/1.0.0/modules/dashboard/src/main/resources/CloudManagerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://services.mgt.services.manager.stratos.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax2298="http://beans.mgt.services.manager.stratos.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://services.mgt.services.manager.stratos.wso2.org">
    <wsdl:documentation>CloudManagerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://beans.mgt.services.manager.stratos.wso2.org/xsd">
            <xs:complexType name="CloudService">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="icon" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="label" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="link" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="productPageURL" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2299="http://beans.mgt.services.manager.stratos.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://services.mgt.services.manager.stratos.wso2.org">
            <xs:import namespace="http://beans.mgt.services.manager.stratos.wso2.org/xsd"/>

            <xs:element name="CloudManagerServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CloudManagerServiceException" nillable="true"
                                    type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>

                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="saveCloudServicesActivity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="activeServiceNames" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="retrieveCloudServiceInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveCloudServiceInfoResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2299:CloudService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cloudServiceName" nillable="true" type="xs:string"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="activate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cloudServiceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="saveCloudServicesActivityRequest">
        <wsdl:part name="parameters" element="ns:saveCloudServicesActivity"/>
    </wsdl:message>
    <wsdl:message name="saveCloudServicesActivityResponse"/>
    <wsdl:message name="CloudManagerServiceException">
        <wsdl:part name="parameters" element="ns:CloudManagerServiceException"/>
    </wsdl:message>

    <wsdl:message name="activateRequest">
        <wsdl:part name="parameters" element="ns:activate"/>
    </wsdl:message>
    <wsdl:message name="activateResponse"/>
    <wsdl:message name="retrieveCloudServiceInfoRequest">
        <wsdl:part name="parameters" element="ns:retrieveCloudServiceInfo"/>
    </wsdl:message>
    <wsdl:message name="retrieveCloudServiceInfoResponse">
        <wsdl:part name="parameters" element="ns:retrieveCloudServiceInfoResponse"/>

    </wsdl:message>
    <wsdl:message name="deactivateRequest">
        <wsdl:part name="parameters" element="ns:deactivate"/>
    </wsdl:message>
    <wsdl:message name="deactivateResponse"/>
    <wsdl:portType name="CloudManagerServicePortType">
        <wsdl:operation name="saveCloudServicesActivity">
            <wsdl:input message="ns:saveCloudServicesActivityRequest" wsaw:Action="urn:saveCloudServicesActivity"/>
            <wsdl:output message="ns:saveCloudServicesActivityResponse"
                         wsaw:Action="urn:saveCloudServicesActivityResponse"/>

            <wsdl:fault message="ns:CloudManagerServiceException" name="CloudManagerServiceException"
                        wsaw:Action="urn:saveCloudServicesActivityCloudManagerServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <wsdl:input message="ns:activateRequest" wsaw:Action="urn:activate"/>
            <wsdl:output message="ns:activateResponse" wsaw:Action="urn:activateResponse"/>
            <wsdl:fault message="ns:CloudManagerServiceException" name="CloudManagerServiceException"
                        wsaw:Action="urn:activateCloudManagerServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveCloudServiceInfo">
            <wsdl:input message="ns:retrieveCloudServiceInfoRequest" wsaw:Action="urn:retrieveCloudServiceInfo"/>

            <wsdl:output message="ns:retrieveCloudServiceInfoResponse"
                         wsaw:Action="urn:retrieveCloudServiceInfoResponse"/>
            <wsdl:fault message="ns:CloudManagerServiceException" name="CloudManagerServiceException"
                        wsaw:Action="urn:retrieveCloudServiceInfoCloudManagerServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deactivate">
            <wsdl:input message="ns:deactivateRequest" wsaw:Action="urn:deactivate"/>
            <wsdl:output message="ns:deactivateResponse" wsaw:Action="urn:deactivateResponse"/>
            <wsdl:fault message="ns:CloudManagerServiceException" name="CloudManagerServiceException"
                        wsaw:Action="urn:deactivateCloudManagerServiceException"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CloudManagerServiceSoap11Binding" type="ns:CloudManagerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="saveCloudServicesActivity">
            <soap:operation soapAction="urn:saveCloudServicesActivity" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="CloudManagerServiceException">
                <soap:fault use="literal" name="CloudManagerServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <soap:operation soapAction="urn:activate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudManagerServiceException">
                <soap:fault use="literal" name="CloudManagerServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveCloudServiceInfo">

            <soap:operation soapAction="urn:retrieveCloudServiceInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudManagerServiceException">
                <soap:fault use="literal" name="CloudManagerServiceException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivate">
            <soap:operation soapAction="urn:deactivate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="CloudManagerServiceException">
                <soap:fault use="literal" name="CloudManagerServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudManagerServiceSoap12Binding" type="ns:CloudManagerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="saveCloudServicesActivity">

            <soap12:operation soapAction="urn:saveCloudServicesActivity" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudManagerServiceException">
                <soap12:fault use="literal" name="CloudManagerServiceException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <soap12:operation soapAction="urn:activate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="CloudManagerServiceException">
                <soap12:fault use="literal" name="CloudManagerServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveCloudServiceInfo">
            <soap12:operation soapAction="urn:retrieveCloudServiceInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudManagerServiceException">
                <soap12:fault use="literal" name="CloudManagerServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivate">

            <soap12:operation soapAction="urn:deactivate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudManagerServiceException">
                <soap12:fault use="literal" name="CloudManagerServiceException"/>

            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudManagerServiceHttpBinding" type="ns:CloudManagerServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="saveCloudServicesActivity">
            <http:operation location="saveCloudServicesActivity"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <http:operation location="activate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveCloudServiceInfo">
            <http:operation location="retrieveCloudServiceInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivate">
            <http:operation location="deactivate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CloudManagerService">
        <wsdl:port name="CloudManagerServiceHttpsSoap11Endpoint" binding="ns:CloudManagerServiceSoap11Binding">
            <soap:address
                    location="https://10.100.0.26:9443/services/CloudManagerService.CloudManagerServiceHttpsSoap11Endpoint/"/>

        </wsdl:port>
        <wsdl:port name="CloudManagerServiceHttpsSoap12Endpoint" binding="ns:CloudManagerServiceSoap12Binding">
            <soap12:address
                    location="https://10.100.0.26:9443/services/CloudManagerService.CloudManagerServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CloudManagerServiceHttpsEndpoint" binding="ns:CloudManagerServiceHttpBinding">
            <http:address
                    location="https://10.100.0.26:9443/services/CloudManagerService.CloudManagerServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>