service-stubs/org.apache.stratos.usage.meteringqueryds.stub/src/main/resources/MeteringQueryDS.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://bam.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.wso2.org/dataservice">
    <wsdl:documentation />
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bam.carbon.wso2.org">
            <xs:element name="getHourlyServiceRequestStats">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" nillable="true" type="xs:int" />
                        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />

                        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="serviceRequestStats" type="ns0:serviceRequestStats" />
            <xs:complexType name="serviceRequestStats">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceRequestStat" type="ns0:serviceRequestStat" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="serviceRequestStat">
                <xs:sequence>
                    <xs:element name="serverUrl" type="xs:string" />
                    <xs:element name="reqCount" type="xs:long" />
                    <xs:element name="resCount" type="xs:long" />
                    <xs:element name="faultCount" type="xs:long" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="getBandwidthStats">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" nillable="true" type="xs:int" />
                        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
                        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="bandwidthStats" type="ns0:bandwidthStats" />
            <xs:complexType name="bandwidthStats">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="BandwidthStat" type="ns0:BandwidthStat" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BandwidthStat">
                <xs:sequence>
                    <xs:element name="serverUrl" type="xs:string" />

                    <xs:element name="bandwidthName" type="xs:string" />
                    <xs:element name="incomingBandwidth" type="xs:long" />
                    <xs:element name="outgoingBandwidth" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getRegistryBandwidthUsageStats">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" nillable="true" type="xs:int" />

                        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
                        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="regBandwidthStats" type="ns0:regBandwidthStats" />
            <xs:complexType name="regBandwidthStats">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="regBandwidthStat" type="ns0:regBandwidthStat" />

                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="regBandwidthStat">
                <xs:sequence>
                    <xs:element name="bandwidthName" type="xs:string" />
                    <xs:element name="registryBandwidth" type="xs:long" />
                    <xs:element name="registryHistoryBandwidth" type="xs:long" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="getInstanceUsageStats">
                <xs:complexType />
            </xs:element>
            <xs:element name="instanceUsageStats" type="ns0:instanceUsageStats" />
            <xs:complexType name="instanceUsageStats">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="instanceUsageStat" type="ns0:instanceUsageStat" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="instanceUsageStat">
                <xs:sequence>
                    <xs:element name="startTimestamp" type="xs:dateTime" />
                    <xs:element name="instanceId" type="xs:integer" />
                    <xs:element name="stopTimestamp" type="xs:dateTime" />
                    <xs:element name="isRunning" type="xs:boolean" />
                    <xs:element name="serverURL" type="xs:string" />
                    <xs:element name="serverName" type="xs:string" />
                </xs:sequence>

            </xs:complexType>
            <xs:element name="getDailyRegistryBandwidthUsageStats">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" nillable="true" type="xs:int" />
                        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
                        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getHourlyBandwidthStats">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" nillable="true" type="xs:int" />
                        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
                        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getServiceRequestStats">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" nillable="true" type="xs:int" />
                        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
                        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="updateInstanceUsage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stopTimestamp" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="isRunning" nillable="true" type="xs:int" />
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:int" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addInstanceUsage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="startTimestamp" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:int" />
                        <xs:element minOccurs="0" name="isRunning" nillable="true" type="xs:int" />

                        <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DataServiceFault" type="xs:string" />
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getHourlyBandwidthStatsRequest">

        <wsdl:part name="parameters" element="ns0:getHourlyBandwidthStats" />
    </wsdl:message>
    <wsdl:message name="getHourlyBandwidthStatsResponse">
        <wsdl:part name="parameters" element="ns0:bandwidthStats" />
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault" />
    </wsdl:message>
    <wsdl:message name="getDailyRegistryBandwidthUsageStatsRequest">

        <wsdl:part name="parameters" element="ns0:getDailyRegistryBandwidthUsageStats" />
    </wsdl:message>
    <wsdl:message name="getDailyRegistryBandwidthUsageStatsResponse">
        <wsdl:part name="parameters" element="ns0:regBandwidthStats" />
    </wsdl:message>
    <wsdl:message name="getServiceRequestStatsRequest">
        <wsdl:part name="parameters" element="ns0:getServiceRequestStats" />
    </wsdl:message>
    <wsdl:message name="getServiceRequestStatsResponse">

        <wsdl:part name="parameters" element="ns0:serviceRequestStats" />
    </wsdl:message>
    <wsdl:message name="addInstanceUsageRequest">
        <wsdl:part name="parameters" element="ns1:addInstanceUsage" />
    </wsdl:message>
    <wsdl:message name="getInstanceUsageStatsRequest">
        <wsdl:part name="parameters" element="ns0:getInstanceUsageStats" />
    </wsdl:message>
    <wsdl:message name="getInstanceUsageStatsResponse">

        <wsdl:part name="parameters" element="ns0:instanceUsageStats" />
    </wsdl:message>
    <wsdl:message name="updateInstanceUsageRequest">
        <wsdl:part name="parameters" element="ns1:updateInstanceUsage" />
    </wsdl:message>
    <wsdl:message name="getHourlyServiceRequestStatsRequest">
        <wsdl:part name="parameters" element="ns0:getHourlyServiceRequestStats" />
    </wsdl:message>
    <wsdl:message name="getHourlyServiceRequestStatsResponse">

        <wsdl:part name="parameters" element="ns0:serviceRequestStats" />
    </wsdl:message>
    <wsdl:message name="getRegistryBandwidthUsageStatsRequest">
        <wsdl:part name="parameters" element="ns0:getRegistryBandwidthUsageStats" />
    </wsdl:message>
    <wsdl:message name="getRegistryBandwidthUsageStatsResponse">
        <wsdl:part name="parameters" element="ns0:regBandwidthStats" />
    </wsdl:message>
    <wsdl:message name="getBandwidthStatsRequest">

        <wsdl:part name="parameters" element="ns0:getBandwidthStats" />
    </wsdl:message>
    <wsdl:message name="getBandwidthStatsResponse">
        <wsdl:part name="parameters" element="ns0:bandwidthStats" />
    </wsdl:message>
    <wsdl:portType name="MeteringQueryDSPortType">
        <wsdl:operation name="getHourlyBandwidthStats">
            <wsdl:documentation />
            <wsdl:input message="ns1:getHourlyBandwidthStatsRequest" wsaw:Action="urn:getHourlyBandwidthStats" />

            <wsdl:output message="ns1:getHourlyBandwidthStatsResponse" wsaw:Action="urn:getHourlyBandwidthStatsResponse" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getHourlyBandwidthStatsDataServiceFault" />
        </wsdl:operation>
        <wsdl:operation name="getDailyRegistryBandwidthUsageStats">
            <wsdl:documentation />
            <wsdl:input message="ns1:getDailyRegistryBandwidthUsageStatsRequest" wsaw:Action="urn:getDailyRegistryBandwidthUsageStats" />
            <wsdl:output message="ns1:getDailyRegistryBandwidthUsageStatsResponse" wsaw:Action="urn:getDailyRegistryBandwidthUsageStatsResponse" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getDailyRegistryBandwidthUsageStatsDataServiceFault" />
        </wsdl:operation>

        <wsdl:operation name="getServiceRequestStats">
            <wsdl:documentation />
            <wsdl:input message="ns1:getServiceRequestStatsRequest" wsaw:Action="urn:getServiceRequestStats" />
            <wsdl:output message="ns1:getServiceRequestStatsResponse" wsaw:Action="urn:getServiceRequestStatsResponse" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getServiceRequestStatsDataServiceFault" />
        </wsdl:operation>
        <wsdl:operation name="addInstanceUsage">
            <wsdl:documentation />
            <wsdl:input message="ns1:addInstanceUsageRequest" wsaw:Action="urn:addInstanceUsage" />

            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:addInstanceUsageDataServiceFault" />
        </wsdl:operation>
        <wsdl:operation name="getInstanceUsageStats">
            <wsdl:documentation />
            <wsdl:input message="ns1:getInstanceUsageStatsRequest" wsaw:Action="urn:getInstanceUsageStats" />
            <wsdl:output message="ns1:getInstanceUsageStatsResponse" wsaw:Action="urn:getInstanceUsageStatsResponse" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getInstanceUsageStatsDataServiceFault" />
        </wsdl:operation>
        <wsdl:operation name="updateInstanceUsage">

            <wsdl:documentation />
            <wsdl:input message="ns1:updateInstanceUsageRequest" wsaw:Action="urn:updateInstanceUsage" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:updateInstanceUsageDataServiceFault" />
        </wsdl:operation>
        <wsdl:operation name="getHourlyServiceRequestStats">
            <wsdl:documentation />
            <wsdl:input message="ns1:getHourlyServiceRequestStatsRequest" wsaw:Action="urn:getHourlyServiceRequestStats" />
            <wsdl:output message="ns1:getHourlyServiceRequestStatsResponse" wsaw:Action="urn:getHourlyServiceRequestStatsResponse" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getHourlyServiceRequestStatsDataServiceFault" />

        </wsdl:operation>
        <wsdl:operation name="getRegistryBandwidthUsageStats">
            <wsdl:documentation />
            <wsdl:input message="ns1:getRegistryBandwidthUsageStatsRequest" wsaw:Action="urn:getRegistryBandwidthUsageStats" />
            <wsdl:output message="ns1:getRegistryBandwidthUsageStatsResponse" wsaw:Action="urn:getRegistryBandwidthUsageStatsResponse" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getRegistryBandwidthUsageStatsDataServiceFault" />
        </wsdl:operation>
        <wsdl:operation name="getBandwidthStats">
            <wsdl:documentation />

            <wsdl:input message="ns1:getBandwidthStatsRequest" wsaw:Action="urn:getBandwidthStats" />
            <wsdl:output message="ns1:getBandwidthStatsResponse" wsaw:Action="urn:getBandwidthStatsResponse" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getBandwidthStatsDataServiceFault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MeteringQueryDSSOAP11Binding" type="ns1:MeteringQueryDSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getHourlyBandwidthStats">
            <soap:operation soapAction="urn:getHourlyBandwidthStats" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getDailyRegistryBandwidthUsageStats">
            <soap:operation soapAction="urn:getDailyRegistryBandwidthUsageStats" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceRequestStats">
            <soap:operation soapAction="urn:getServiceRequestStats" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addInstanceUsage">
            <soap:operation soapAction="urn:addInstanceUsage" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInstanceUsageStats">
            <soap:operation soapAction="urn:getInstanceUsageStats" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="updateInstanceUsage">
            <soap:operation soapAction="urn:updateInstanceUsage" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getHourlyServiceRequestStats">
            <soap:operation soapAction="urn:getHourlyServiceRequestStats" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRegistryBandwidthUsageStats">
            <soap:operation soapAction="urn:getRegistryBandwidthUsageStats" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBandwidthStats">
            <soap:operation soapAction="urn:getBandwidthStats" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MeteringQueryDSSOAP12Binding" type="ns1:MeteringQueryDSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getHourlyBandwidthStats">
            <soap12:operation soapAction="urn:getHourlyBandwidthStats" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDailyRegistryBandwidthUsageStats">
            <soap12:operation soapAction="urn:getDailyRegistryBandwidthUsageStats" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getServiceRequestStats">
            <soap12:operation soapAction="urn:getServiceRequestStats" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addInstanceUsage">
            <soap12:operation soapAction="urn:addInstanceUsage" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInstanceUsageStats">
            <soap12:operation soapAction="urn:getInstanceUsageStats" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateInstanceUsage">
            <soap12:operation soapAction="urn:updateInstanceUsage" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getHourlyServiceRequestStats">
            <soap12:operation soapAction="urn:getHourlyServiceRequestStats" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getRegistryBandwidthUsageStats">
            <soap12:operation soapAction="urn:getRegistryBandwidthUsageStats" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBandwidthStats">
            <soap12:operation soapAction="urn:getBandwidthStats" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MeteringQueryDSHttpBinding" type="ns1:MeteringQueryDSPortType">

        <http:binding verb="POST" />
        <wsdl:operation name="getHourlyBandwidthStats">
            <http:operation location="getHourlyBandwidthStats" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="getDailyRegistryBandwidthUsageStats">
            <http:operation location="getDailyRegistryBandwidthUsageStats" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="getServiceRequestStats">
            <http:operation location="getServiceRequestStats" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="addInstanceUsage">
            <http:operation location="addInstanceUsage" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getInstanceUsageStats">
            <http:operation location="getInstanceUsageStats" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateInstanceUsage">
            <http:operation location="updateInstanceUsage" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getHourlyServiceRequestStats">
            <http:operation location="getHourlyServiceRequestStats" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRegistryBandwidthUsageStats">
            <http:operation location="getRegistryBandwidthUsageStats" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBandwidthStats">
            <http:operation location="getBandwidthStats" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MeteringQueryDS">
        <wsdl:port name="SOAP11Endpoint" binding="ns1:MeteringQueryDSSOAP11Binding">
            <soap:address location="http://10.100.0.19:9763/services/MeteringQueryDS.SOAP11Endpoint/" />
        </wsdl:port>

        <wsdl:port name="SecureSOAP11Endpoint" binding="ns1:MeteringQueryDSSOAP11Binding">
            <soap:address location="https://10.100.0.19:9443/services/MeteringQueryDS.SecureSOAP11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns1:MeteringQueryDSSOAP12Binding">
            <soap12:address location="https://10.100.0.19:9443/services/MeteringQueryDS.SecureSOAP12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns1:MeteringQueryDSSOAP12Binding">
            <soap12:address location="http://10.100.0.19:9763/services/MeteringQueryDS.SOAP12Endpoint/" />
        </wsdl:port>

        <wsdl:port name="HTTPEndpoint" binding="ns1:MeteringQueryDSHttpBinding">
            <http:address location="http://10.100.0.19:9763/services/MeteringQueryDS.HTTPEndpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns1:MeteringQueryDSHttpBinding">
            <http:address location="https://10.100.0.19:9443/services/MeteringQueryDS.SecureHTTPEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
