features/stratos/cloud-controller/org.wso2.carbon.stratos.cloud.controller.feature/2.1.1/src/main/resources/conf/etc/services.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="services">
    <xs:annotation>
      <xs:documentation>Here you specify the service domains related details.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="service" maxOccurs="unbounded" minOccurs="1">
          <xs:annotation>
            <xs:documentation>you can have 0..n service elements</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="cartridge">
                <xs:annotation>
                  <xs:documentation>this element's value should be a reference to an existing cartridge</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="type"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="payload" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
              <xs:element name="host" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
              <xs:element name="property"
    						maxOccurs="unbounded" minOccurs="0">
    						<xs:complexType>
    							<xs:simpleContent>
    								<xs:extension base="xs:string">
    									<xs:attribute type="xs:string"
    										name="name" />
    									<xs:attribute type="xs:string"
    										name="value" />
    								</xs:extension>
    							</xs:simpleContent>
    						</xs:complexType>
    					</xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="domain"/>
            <xs:attribute type="xs:string" name="subDomain"/>
            <xs:attribute type="xs:string" name="tenantRange" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>