service-stubs/org.apache.stratos.common.stub/src/main/resources/PackageInfoServce.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2375="http://packages.common.stratos.apache.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.common.stratos.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.common.stratos.apache.org">
    <wsdl:documentation>PackageInfoService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://packages.common.stratos.apache.org/xsd">
            <xs:complexType name="PackageInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bandwidthLimit" type="xs:int" />
                    <xs:element minOccurs="0" name="bandwidthOveruseCharge" type="xs:int" />
                    <xs:element minOccurs="0" name="chargePerUser" type="xs:int" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="resourceVolumeLimit" type="xs:int" />
                    <xs:element minOccurs="0" name="subscriptionCharge" type="xs:int" />
                    <xs:element minOccurs="0" name="usersLimit" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2376="http://packages.common.stratos.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.common.stratos.apache.org">
            <xs:import namespace="http://packages.common.stratos.apache.org/xsd" />
            <xs:element name="PackageInfoServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="PackageInfoServiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getPackageInfos">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getPackageInfosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2375:PackageInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPackageInfosRequest">
        <wsdl:part name="parameters" element="ns:getPackageInfos" />
    </wsdl:message>
    <wsdl:message name="getPackageInfosResponse">
        <wsdl:part name="parameters" element="ns:getPackageInfosResponse" />
    </wsdl:message>
    <wsdl:message name="PackageInfoServiceException">
        <wsdl:part name="parameters" element="ns:PackageInfoServiceException" />
    </wsdl:message>
    <wsdl:portType name="PackageInfoServicePortType">
        <wsdl:operation name="getPackageInfos">
            <wsdl:input message="ns:getPackageInfosRequest" wsaw:Action="urn:getPackageInfos" />
            <wsdl:output message="ns:getPackageInfosResponse" wsaw:Action="urn:getPackageInfosResponse" />
            <wsdl:fault message="ns:PackageInfoServiceException" name="PackageInfoServiceException" wsaw:Action="urn:getPackageInfosPackageInfoServiceException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PackageInfoServiceSoap11Binding" type="ns:PackageInfoServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getPackageInfos">
            <soap:operation soapAction="urn:getPackageInfos" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="PackageInfoServiceException">
                <soap:fault use="literal" name="PackageInfoServiceException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PackageInfoServiceSoap12Binding" type="ns:PackageInfoServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getPackageInfos">
            <soap12:operation soapAction="urn:getPackageInfos" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="PackageInfoServiceException">
                <soap12:fault use="literal" name="PackageInfoServiceException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PackageInfoServiceHttpBinding" type="ns:PackageInfoServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getPackageInfos">
            <http:operation location="getPackageInfos" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PackageInfoService">
        <wsdl:port name="PackageInfoServiceHttpsSoap11Endpoint" binding="ns:PackageInfoServiceSoap11Binding">
            <soap:address location="https://10.100.2.91:9443/services/PackageInfoService.PackageInfoServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="PackageInfoServiceHttpsSoap12Endpoint" binding="ns:PackageInfoServiceSoap12Binding">
            <soap12:address location="https://10.100.2.91:9443/services/PackageInfoService.PackageInfoServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="PackageInfoServiceHttpsEndpoint" binding="ns:PackageInfoServiceHttpBinding">
            <http:address location="https://10.100.2.91:9443/services/PackageInfoService.PackageInfoServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
