components/org.apache.stratos.account.mgt.ui/2.1.0/src/main/resources/EmailValidationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.account.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.account.carbon.wso2.org">
    <wsdl:documentation>EmailValidationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.account.carbon.wso2.org">
            <xs:element name="proceedUpdateContactException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proceedUpdateContactException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="proceedUpdateContact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="confirmationKey" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="proceedUpdateContactRequest">
        <wsdl:part name="parameters" element="ns:proceedUpdateContact" />
    </wsdl:message>
    <wsdl:message name="proceedUpdateContactResponse" />
    <wsdl:message name="proceedUpdateContactException">
        <wsdl:part name="parameters" element="ns:proceedUpdateContactException" />
    </wsdl:message>
    <wsdl:portType name="EmailValidationServicePortType">
        <wsdl:operation name="proceedUpdateContact">
            <wsdl:input message="ns:proceedUpdateContactRequest" wsaw:Action="urn:proceedUpdateContact" />
            <wsdl:output message="ns:proceedUpdateContactResponse" wsaw:Action="urn:proceedUpdateContactResponse" />
            <wsdl:fault message="ns:proceedUpdateContactException" name="proceedUpdateContactException" wsaw:Action="urn:proceedUpdateContactproceedUpdateContactException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailValidationServiceSoap11Binding" type="ns:EmailValidationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="proceedUpdateContact">
            <soap:operation soapAction="urn:proceedUpdateContact" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="proceedUpdateContactException">
                <soap:fault use="literal" name="proceedUpdateContactException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailValidationServiceSoap12Binding" type="ns:EmailValidationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="proceedUpdateContact">
            <soap12:operation soapAction="urn:proceedUpdateContact" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="proceedUpdateContactException">
                <soap12:fault use="literal" name="proceedUpdateContactException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailValidationServiceHttpBinding" type="ns:EmailValidationServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="proceedUpdateContact">
            <http:operation location="proceedUpdateContact" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailValidationService">
        <wsdl:port name="EmailValidationServiceHttpsSoap11Endpoint" binding="ns:EmailValidationServiceSoap11Binding">
            <soap:address location="https://192.168.1.100:9443/services/EmailValidationService.EmailValidationServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EmailValidationServiceHttpsSoap12Endpoint" binding="ns:EmailValidationServiceSoap12Binding">
            <soap12:address location="https://192.168.1.100:9443/services/EmailValidationService.EmailValidationServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EmailValidationServiceHttpsEndpoint" binding="ns:EmailValidationServiceHttpBinding">
            <http:address location="https://192.168.1.100:9443/services/EmailValidationService.EmailValidationServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>