service-stubs/org.wso2.carbon.billing.mgt.stub/4.1.0/src/main/resources/MultitenancyBillingService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://beans.mgt.billing.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.billing.carbon.wso2.org" xmlns:ax213="http://dataobjects.core.billing.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax217="http://beans.core.billing.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
    <wsdl:documentation>MultitenancyBillingService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.billing.carbon.wso2.org/xsd">
            <xs:complexType name="MultitenancyInvoice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="billingDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="boughtForward" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="carriedForward" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="invoiceId" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastInvoice" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrders" nillable="true" type="ax215:MultitenancyPurchaseOrder"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptions" nillable="true" type="ax215:MultitenancySubscription"/>
                    <xs:element minOccurs="0" name="totalCost" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalPayments" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MultitenancyPurchaseOrder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="payment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paymentDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MultitenancySubscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="activeSince" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="activeUntil" nillable="true" type="xs:date"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="billedEntries" nillable="true" type="ax215:BilledEntry"/>
                    <xs:element minOccurs="0" name="subscribedPackage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BilledEntry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cost" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BillingPeriod">
                <xs:sequence>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="invoiceDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="invoiceId" type="xs:int"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://dataobjects.core.billing.carbon.wso2.org/xsd" xmlns:ax216="http://beans.mgt.billing.carbon.wso2.org/xsd" xmlns:ax218="http://beans.core.billing.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
            <xs:import namespace="http://dataobjects.core.billing.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.mgt.billing.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.core.billing.carbon.wso2.org/xsd"/>
            <xs:element name="MultitenancyBillingServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MultitenancyBillingServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="makeAdjustment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payment" nillable="true" type="ax214:Payment"/>
                        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="makeAdjustmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPastInvoice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="invoiceId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPastInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:MultitenancyInvoice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedBalances">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedBalancesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax217:PaginatedBalanceInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutstandingBalance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutstandingBalanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax217:OutstandingBalanceInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentInvoice">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:MultitenancyInvoice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriodsBySuperTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriodsBySuperTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax215:BillingPeriod"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriods">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriodsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax215:BillingPeriod"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRegistrationPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payment" nillable="true" type="ax214:Payment"/>
                        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="usagePlan" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRegistrationPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payment" nillable="true" type="ax214:Payment"/>
                        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addDiscount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="discount" nillable="true" type="ax214:Discount"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addDiscountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dataobjects.core.billing.carbon.wso2.org/xsd">
            <xs:complexType name="Payment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="ax213:Cash"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="invoice" nillable="true" type="ax213:Invoice"/>
                    <xs:element minOccurs="0" name="subscriptions" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash">
                <xs:sequence>
                    <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="decimalNumber" type="xs:int"/>
                    <xs:element minOccurs="0" name="sign" nillable="true" type="ax213:Cash_Sign"/>
                    <xs:element minOccurs="0" name="wholeNumber" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash_Sign">
                <xs:complexContent>
                    <xs:extension base="xs:Enum">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Invoice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="boughtForward" nillable="true" type="ax213:Cash"/>
                    <xs:element minOccurs="0" name="carriedForward" nillable="true" type="ax213:Cash"/>
                    <xs:element minOccurs="0" name="customer" nillable="true" type="ax213:Customer"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="payments" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="subscriptions" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="totalCost" nillable="true" type="ax213:Cash"/>
                    <xs:element minOccurs="0" name="totalPayment" nillable="true" type="ax213:Cash"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeInvoice" nillable="true" type="ax213:Invoice"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="startedDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="totalBandwidth" type="xs:long"/>
                    <xs:element minOccurs="0" name="totalStorage" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Discount">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" type="xs:float"/>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="percentage" type="xs:float"/>
                    <xs:element minOccurs="0" name="percentageType" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.core.billing.carbon.wso2.org/xsd">
            <xs:complexType name="PaginatedBalanceInfoBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="balanceInfoBeans" nillable="true" type="ax217:OutstandingBalanceInfoBean"/>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutstandingBalanceInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="carriedForward" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="invoiceId" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastInvoiceDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="lastPaidAmount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastPaymentDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="subscription" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAvailableBillingPeriodsRequest">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriods"/>
    </wsdl:message>
    <wsdl:message name="getAvailableBillingPeriodsResponse">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriodsResponse"/>
    </wsdl:message>
    <wsdl:message name="MultitenancyBillingServiceException">
        <wsdl:part name="parameters" element="ns:MultitenancyBillingServiceException"/>
    </wsdl:message>
    <wsdl:message name="getPastInvoiceRequest">
        <wsdl:part name="parameters" element="ns:getPastInvoice"/>
    </wsdl:message>
    <wsdl:message name="getPastInvoiceResponse">
        <wsdl:part name="parameters" element="ns:getPastInvoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="getOutstandingBalanceRequest">
        <wsdl:part name="parameters" element="ns:getOutstandingBalance"/>
    </wsdl:message>
    <wsdl:message name="getOutstandingBalanceResponse">
        <wsdl:part name="parameters" element="ns:getOutstandingBalanceResponse"/>
    </wsdl:message>
    <wsdl:message name="addDiscountRequest">
        <wsdl:part name="parameters" element="ns:addDiscount"/>
    </wsdl:message>
    <wsdl:message name="addDiscountResponse">
        <wsdl:part name="parameters" element="ns:addDiscountResponse"/>
    </wsdl:message>
    <wsdl:message name="getCurrentInvoiceRequest">
        <wsdl:part name="parameters" element="ns:getCurrentInvoice"/>
    </wsdl:message>
    <wsdl:message name="getCurrentInvoiceResponse">
        <wsdl:part name="parameters" element="ns:getCurrentInvoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="makeAdjustmentRequest">
        <wsdl:part name="parameters" element="ns:makeAdjustment"/>
    </wsdl:message>
    <wsdl:message name="makeAdjustmentResponse">
        <wsdl:part name="parameters" element="ns:makeAdjustmentResponse"/>
    </wsdl:message>
    <wsdl:message name="addPaymentRequest">
        <wsdl:part name="parameters" element="ns:addPayment"/>
    </wsdl:message>
    <wsdl:message name="addPaymentResponse">
        <wsdl:part name="parameters" element="ns:addPaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="getAvailableBillingPeriodsBySuperTenantRequest">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriodsBySuperTenant"/>
    </wsdl:message>
    <wsdl:message name="getAvailableBillingPeriodsBySuperTenantResponse">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriodsBySuperTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="addRegistrationPaymentRequest">
        <wsdl:part name="parameters" element="ns:addRegistrationPayment"/>
    </wsdl:message>
    <wsdl:message name="addRegistrationPaymentResponse">
        <wsdl:part name="parameters" element="ns:addRegistrationPaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedBalancesRequest">
        <wsdl:part name="parameters" element="ns:getPaginatedBalances"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedBalancesResponse">
        <wsdl:part name="parameters" element="ns:getPaginatedBalancesResponse"/>
    </wsdl:message>
    <wsdl:portType name="MultitenancyBillingServicePortType">
        <wsdl:operation name="getAvailableBillingPeriods">
            <wsdl:input message="ns:getAvailableBillingPeriodsRequest" wsaw:Action="urn:getAvailableBillingPeriods"/>
            <wsdl:output message="ns:getAvailableBillingPeriodsResponse" wsaw:Action="urn:getAvailableBillingPeriodsResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:getAvailableBillingPeriodsMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getPastInvoice">
            <wsdl:input message="ns:getPastInvoiceRequest" wsaw:Action="urn:getPastInvoice"/>
            <wsdl:output message="ns:getPastInvoiceResponse" wsaw:Action="urn:getPastInvoiceResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:getPastInvoiceMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getOutstandingBalance">
            <wsdl:input message="ns:getOutstandingBalanceRequest" wsaw:Action="urn:getOutstandingBalance"/>
            <wsdl:output message="ns:getOutstandingBalanceResponse" wsaw:Action="urn:getOutstandingBalanceResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:getOutstandingBalanceMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="addDiscount">
            <wsdl:input message="ns:addDiscountRequest" wsaw:Action="urn:addDiscount"/>
            <wsdl:output message="ns:addDiscountResponse" wsaw:Action="urn:addDiscountResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:addDiscountMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <wsdl:input message="ns:getCurrentInvoiceRequest" wsaw:Action="urn:getCurrentInvoice"/>
            <wsdl:output message="ns:getCurrentInvoiceResponse" wsaw:Action="urn:getCurrentInvoiceResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:getCurrentInvoiceMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="makeAdjustment">
            <wsdl:input message="ns:makeAdjustmentRequest" wsaw:Action="urn:makeAdjustment"/>
            <wsdl:output message="ns:makeAdjustmentResponse" wsaw:Action="urn:makeAdjustmentResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:makeAdjustmentMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <wsdl:input message="ns:addPaymentRequest" wsaw:Action="urn:addPayment"/>
            <wsdl:output message="ns:addPaymentResponse" wsaw:Action="urn:addPaymentResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:addPaymentMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriodsBySuperTenant">
            <wsdl:input message="ns:getAvailableBillingPeriodsBySuperTenantRequest" wsaw:Action="urn:getAvailableBillingPeriodsBySuperTenant"/>
            <wsdl:output message="ns:getAvailableBillingPeriodsBySuperTenantResponse" wsaw:Action="urn:getAvailableBillingPeriodsBySuperTenantResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:getAvailableBillingPeriodsBySuperTenantMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="addRegistrationPayment">
            <wsdl:input message="ns:addRegistrationPaymentRequest" wsaw:Action="urn:addRegistrationPayment"/>
            <wsdl:output message="ns:addRegistrationPaymentResponse" wsaw:Action="urn:addRegistrationPaymentResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:addRegistrationPaymentMultitenancyBillingServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedBalances">
            <wsdl:input message="ns:getPaginatedBalancesRequest" wsaw:Action="urn:getPaginatedBalances"/>
            <wsdl:output message="ns:getPaginatedBalancesResponse" wsaw:Action="urn:getPaginatedBalancesResponse"/>
            <wsdl:fault message="ns:MultitenancyBillingServiceException" name="MultitenancyBillingServiceException" wsaw:Action="urn:getPaginatedBalancesMultitenancyBillingServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MultitenancyBillingServiceSoap11Binding" type="ns:MultitenancyBillingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPastInvoice">
            <soap:operation soapAction="urn:getPastInvoice" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <soap:operation soapAction="urn:getAvailableBillingPeriods" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOutstandingBalance">
            <soap:operation soapAction="urn:getOutstandingBalance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addDiscount">
            <soap:operation soapAction="urn:addDiscount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <soap:operation soapAction="urn:getCurrentInvoice" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="makeAdjustment">
            <soap:operation soapAction="urn:makeAdjustment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <soap:operation soapAction="urn:addPayment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRegistrationPayment">
            <soap:operation soapAction="urn:addRegistrationPayment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriodsBySuperTenant">
            <soap:operation soapAction="urn:getAvailableBillingPeriodsBySuperTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedBalances">
            <soap:operation soapAction="urn:getPaginatedBalances" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultitenancyBillingServiceSoap12Binding" type="ns:MultitenancyBillingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPastInvoice">
            <soap12:operation soapAction="urn:getPastInvoice" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <soap12:operation soapAction="urn:getAvailableBillingPeriods" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOutstandingBalance">
            <soap12:operation soapAction="urn:getOutstandingBalance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addDiscount">
            <soap12:operation soapAction="urn:addDiscount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <soap12:operation soapAction="urn:getCurrentInvoice" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="makeAdjustment">
            <soap12:operation soapAction="urn:makeAdjustment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <soap12:operation soapAction="urn:addPayment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRegistrationPayment">
            <soap12:operation soapAction="urn:addRegistrationPayment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriodsBySuperTenant">
            <soap12:operation soapAction="urn:getAvailableBillingPeriodsBySuperTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedBalances">
            <soap12:operation soapAction="urn:getPaginatedBalances" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultitenancyBillingServiceException">
                <soap12:fault use="literal" name="MultitenancyBillingServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultitenancyBillingServiceHttpBinding" type="ns:MultitenancyBillingServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getPastInvoice">
            <http:operation location="getPastInvoice"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <http:operation location="getAvailableBillingPeriods"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutstandingBalance">
            <http:operation location="getOutstandingBalance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addDiscount">
            <http:operation location="addDiscount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <http:operation location="getCurrentInvoice"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeAdjustment">
            <http:operation location="makeAdjustment"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <http:operation location="addPayment"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRegistrationPayment">
            <http:operation location="addRegistrationPayment"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriodsBySuperTenant">
            <http:operation location="getAvailableBillingPeriodsBySuperTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedBalances">
            <http:operation location="getPaginatedBalances"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MultitenancyBillingService">
        <wsdl:port name="MultitenancyBillingServiceHttpsSoap11Endpoint" binding="ns:MultitenancyBillingServiceSoap11Binding">
            <soap:address location="https://10.100.2.80:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MultitenancyBillingServiceHttpsSoap12Endpoint" binding="ns:MultitenancyBillingServiceSoap12Binding">
            <soap12:address location="https://10.100.2.80:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MultitenancyBillingServiceHttpsEndpoint" binding="ns:MultitenancyBillingServiceHttpBinding">
            <http:address location="https://10.100.2.80:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>