products/stratos_controller/modules/login/src/main/resources/TenantService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax223="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://services.mgt.tenant.multitenancy.carbon.wso2.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax226="http://util.mgt.tenant.multitenancy.carbon.wso2.com/xsd" targetNamespace="http://services.mgt.tenant.multitenancy.carbon.wso2.com">
    <wsdl:documentation>TenantConfigService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax225="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax227="http://util.mgt.tenant.multitenancy.carbon.wso2.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.tenant.multitenancy.carbon.wso2.com">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" />
            <xs:import namespace="http://util.mgt.tenant.multitenancy.carbon.wso2.com/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="RegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax225:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateOrSuggestDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="successKey" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateOrSuggestDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax226:TenantInfoBean" />
                        <xs:element minOccurs="0" name="oldAdminPassword" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="proceedTenantAdding">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax226:TenantInfoBean" />
                        <xs:element minOccurs="0" name="confirmationKey" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="proceedTenantAddingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax226:TenantInfoBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax226:TenantInfoBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkDomainAvailability">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkDomainAvailabilityResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax226:TenantInfoBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax224="http://services.mgt.tenant.multitenancy.carbon.wso2.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://services.mgt.tenant.multitenancy.carbon.wso2.com" />
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax224:Exception">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.mgt.tenant.multitenancy.carbon.wso2.com/xsd">
            <xs:complexType name="TenantInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean" />
                    <xs:element minOccurs="0" name="admin" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="successKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deactivateTenantRequest">
        <wsdl:part name="parameters" element="ns:deactivateTenant" />
    </wsdl:message>
    <wsdl:message name="deactivateTenantResponse" />
    <wsdl:message name="RegistryException">
        <wsdl:part name="parameters" element="ns:RegistryException" />
    </wsdl:message>
    <wsdl:message name="activateTenantRequest">
        <wsdl:part name="parameters" element="ns:activateTenant" />
    </wsdl:message>
    <wsdl:message name="activateTenantResponse" />
    <wsdl:message name="validateOrSuggestDomainRequest">
        <wsdl:part name="parameters" element="ns:validateOrSuggestDomain" />
    </wsdl:message>
    <wsdl:message name="validateOrSuggestDomainResponse">
        <wsdl:part name="parameters" element="ns:validateOrSuggestDomainResponse" />
    </wsdl:message>
    <wsdl:message name="addTenantRequest">
        <wsdl:part name="parameters" element="ns:addTenant" />
    </wsdl:message>
    <wsdl:message name="addTenantResponse" />
    <wsdl:message name="proceedTenantAddingRequest">
        <wsdl:part name="parameters" element="ns:proceedTenantAdding" />
    </wsdl:message>
    <wsdl:message name="proceedTenantAddingResponse">
        <wsdl:part name="parameters" element="ns:proceedTenantAddingResponse" />
    </wsdl:message>
    <wsdl:message name="getTenantsRequest" />
    <wsdl:message name="getTenantsResponse">
        <wsdl:part name="parameters" element="ns:getTenantsResponse" />
    </wsdl:message>
    <wsdl:message name="checkDomainAvailabilityRequest">
        <wsdl:part name="parameters" element="ns:checkDomainAvailability" />
    </wsdl:message>
    <wsdl:message name="checkDomainAvailabilityResponse">
        <wsdl:part name="parameters" element="ns:checkDomainAvailabilityResponse" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception" />
    </wsdl:message>
    <wsdl:message name="getTenantRequest">
        <wsdl:part name="parameters" element="ns:getTenant" />
    </wsdl:message>
    <wsdl:message name="getTenantResponse">
        <wsdl:part name="parameters" element="ns:getTenantResponse" />
    </wsdl:message>
    <wsdl:message name="updateTenantRequest">
        <wsdl:part name="parameters" element="ns:updateTenant" />
    </wsdl:message>
    <wsdl:message name="updateTenantResponse" />
    <wsdl:portType name="TenantConfigServicePortType">
        <wsdl:operation name="deactivateTenant">
            <wsdl:input message="ns:deactivateTenantRequest" wsaw:Action="urn:deactivateTenant" />
            <wsdl:output message="ns:deactivateTenantResponse" wsaw:Action="urn:deactivateTenantResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:deactivateTenantRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <wsdl:input message="ns:activateTenantRequest" wsaw:Action="urn:activateTenant" />
            <wsdl:output message="ns:activateTenantResponse" wsaw:Action="urn:activateTenantResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:activateTenantRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="validateOrSuggestDomain">
            <wsdl:input message="ns:validateOrSuggestDomainRequest" wsaw:Action="urn:validateOrSuggestDomain" />
            <wsdl:output message="ns:validateOrSuggestDomainResponse" wsaw:Action="urn:validateOrSuggestDomainResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:validateOrSuggestDomainRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <wsdl:input message="ns:addTenantRequest" wsaw:Action="urn:addTenant" />
            <wsdl:output message="ns:addTenantResponse" wsaw:Action="urn:addTenantResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:addTenantRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="proceedTenantAdding">
            <wsdl:input message="ns:proceedTenantAddingRequest" wsaw:Action="urn:proceedTenantAdding" />
            <wsdl:output message="ns:proceedTenantAddingResponse" wsaw:Action="urn:proceedTenantAddingResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:proceedTenantAddingRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="getTenants">
            <wsdl:input message="ns:getTenantsRequest" wsaw:Action="urn:getTenants" />
            <wsdl:output message="ns:getTenantsResponse" wsaw:Action="urn:getTenantsResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:getTenantsRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="checkDomainAvailability">
            <wsdl:input message="ns:checkDomainAvailabilityRequest" wsaw:Action="urn:checkDomainAvailability" />
            <wsdl:output message="ns:checkDomainAvailabilityResponse" wsaw:Action="urn:checkDomainAvailabilityResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:checkDomainAvailabilityException" />
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <wsdl:input message="ns:getTenantRequest" wsaw:Action="urn:getTenant" />
            <wsdl:output message="ns:getTenantResponse" wsaw:Action="urn:getTenantResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:getTenantRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <wsdl:input message="ns:updateTenantRequest" wsaw:Action="urn:updateTenant" />
            <wsdl:output message="ns:updateTenantResponse" wsaw:Action="urn:updateTenantResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:updateTenantRegistryException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TenantConfigServiceSoap11Binding" type="ns:TenantConfigServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deactivateTenant">
            <soap:operation soapAction="urn:deactivateTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <soap:operation soapAction="urn:activateTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateOrSuggestDomain">
            <soap:operation soapAction="urn:validateOrSuggestDomain" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <soap:operation soapAction="urn:addTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="proceedTenantAdding">
            <soap:operation soapAction="urn:proceedTenantAdding" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenants">
            <soap:operation soapAction="urn:getTenants" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkDomainAvailability">
            <soap:operation soapAction="urn:checkDomainAvailability" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <soap:operation soapAction="urn:getTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap:operation soapAction="urn:updateTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantConfigServiceSoap12Binding" type="ns:TenantConfigServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deactivateTenant">
            <soap12:operation soapAction="urn:deactivateTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <soap12:operation soapAction="urn:activateTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateOrSuggestDomain">
            <soap12:operation soapAction="urn:validateOrSuggestDomain" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <soap12:operation soapAction="urn:addTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="proceedTenantAdding">
            <soap12:operation soapAction="urn:proceedTenantAdding" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenants">
            <soap12:operation soapAction="urn:getTenants" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkDomainAvailability">
            <soap12:operation soapAction="urn:checkDomainAvailability" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <soap12:operation soapAction="urn:getTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap12:operation soapAction="urn:updateTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantConfigServiceHttpBinding" type="ns:TenantConfigServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="deactivateTenant">
            <http:operation location="deactivateTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="deactivateTenant" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deactivateTenant" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <http:operation location="activateTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="activateTenant" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="activateTenant" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateOrSuggestDomain">
            <http:operation location="validateOrSuggestDomain" />
            <wsdl:input>
                <mime:content type="text/xml" part="validateOrSuggestDomain" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="validateOrSuggestDomain" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <http:operation location="addTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="addTenant" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addTenant" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="proceedTenantAdding">
            <http:operation location="proceedTenantAdding" />
            <wsdl:input>
                <mime:content type="text/xml" part="proceedTenantAdding" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="proceedTenantAdding" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTenants">
            <http:operation location="getTenants" />
            <wsdl:input>
                <mime:content type="text/xml" part="getTenants" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTenants" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkDomainAvailability">
            <http:operation location="checkDomainAvailability" />
            <wsdl:input>
                <mime:content type="text/xml" part="checkDomainAvailability" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="checkDomainAvailability" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <http:operation location="getTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="getTenant" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTenant" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <http:operation location="updateTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="updateTenant" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="updateTenant" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TenantConfigService">
        <wsdl:port name="TenantConfigServiceHttpsSoap11Endpoint" binding="ns:TenantConfigServiceSoap11Binding">
            <soap:address location="https://10.100.1.125:9443/services/TenantConfigService.TenantConfigServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="TenantConfigServiceHttpsSoap12Endpoint" binding="ns:TenantConfigServiceSoap12Binding">
            <soap12:address location="https://10.100.1.125:9443/services/TenantConfigService.TenantConfigServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="TenantConfigServiceHttpsEndpoint" binding="ns:TenantConfigServiceHttpBinding">
            <http:address location="https://10.100.1.125:9443/services/TenantConfigService.TenantConfigServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
