service-stubs/org.wso2.carbon.tenant.mgt.stub/4.1.0/src/main/resources/TenantMgtAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.tenant.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2388="http://beans.common.stratos.carbon.wso2.org/xsd" xmlns:ax2390="http://beans.mgt.tenant.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.tenant.carbon.wso2.org">
    <wsdl:documentation>TenantMgtAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2392="http://beans.mgt.tenant.carbon.wso2.org/xsd" xmlns:ax2389="http://beans.common.stratos.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.tenant.carbon.wso2.org">
            <xs:import namespace="http://beans.common.stratos.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.mgt.tenant.carbon.wso2.org/xsd"/>
            <xs:element name="TenantMgtAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="TenantMgtAdminServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax2388:TenantInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveTenants">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2388:TenantInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePartialSearchTenants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePartialSearchTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2388:TenantInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedTenants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2392:PaginatedTenantInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedPartialSearchTenants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedPartialSearchTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2392:PaginatedTenantInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2388:TenantInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax2388:TenantInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.common.stratos.carbon.wso2.org/xsd">
            <xs:complexType name="TenantInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="admin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="originatedService" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="successKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    <xs:element minOccurs="0" name="usagePlan" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2391="http://beans.common.stratos.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.tenant.carbon.wso2.org/xsd">
            <xs:import namespace="http://beans.common.stratos.carbon.wso2.org/xsd"/>
            <xs:complexType name="PaginatedTenantInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tenantInfoBeans" nillable="true" type="ax2391:TenantInfoBean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="retrieveTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrieveTenants"/>
    </wsdl:message>
    <wsdl:message name="retrieveTenantsResponse">
        <wsdl:part name="parameters" element="ns:retrieveTenantsResponse"/>
    </wsdl:message>
    <wsdl:message name="TenantMgtAdminServiceException">
        <wsdl:part name="parameters" element="ns:TenantMgtAdminServiceException"/>
    </wsdl:message>
    <wsdl:message name="getTenantRequest">
        <wsdl:part name="parameters" element="ns:getTenant"/>
    </wsdl:message>
    <wsdl:message name="getTenantResponse">
        <wsdl:part name="parameters" element="ns:getTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="deactivateTenantRequest">
        <wsdl:part name="parameters" element="ns:deactivateTenant"/>
    </wsdl:message>
    <wsdl:message name="deactivateTenantResponse"/>
    <wsdl:message name="retrievePartialSearchTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrievePartialSearchTenants"/>
    </wsdl:message>
    <wsdl:message name="retrievePartialSearchTenantsResponse">
        <wsdl:part name="parameters" element="ns:retrievePartialSearchTenantsResponse"/>
    </wsdl:message>
    <wsdl:message name="retrievePaginatedTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrievePaginatedTenants"/>
    </wsdl:message>
    <wsdl:message name="retrievePaginatedTenantsResponse">
        <wsdl:part name="parameters" element="ns:retrievePaginatedTenantsResponse"/>
    </wsdl:message>
    <wsdl:message name="updateTenantRequest">
        <wsdl:part name="parameters" element="ns:updateTenant"/>
    </wsdl:message>
    <wsdl:message name="updateTenantResponse"/>
    <wsdl:message name="addTenantRequest">
        <wsdl:part name="parameters" element="ns:addTenant"/>
    </wsdl:message>
    <wsdl:message name="addTenantResponse">
        <wsdl:part name="parameters" element="ns:addTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="retrievePaginatedPartialSearchTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrievePaginatedPartialSearchTenants"/>
    </wsdl:message>
    <wsdl:message name="retrievePaginatedPartialSearchTenantsResponse">
        <wsdl:part name="parameters" element="ns:retrievePaginatedPartialSearchTenantsResponse"/>
    </wsdl:message>
    <wsdl:message name="activateTenantRequest">
        <wsdl:part name="parameters" element="ns:activateTenant"/>
    </wsdl:message>
    <wsdl:message name="activateTenantResponse"/>
    <wsdl:message name="deleteTenantRequest">
        <wsdl:part name="parameters" element="ns:deleteTenant"/>
    </wsdl:message>
    <wsdl:message name="deleteTenantResponse"/>
    <wsdl:portType name="TenantMgtAdminServicePortType">
        <wsdl:operation name="retrieveTenants">
            <wsdl:input message="ns:retrieveTenantsRequest" wsaw:Action="urn:retrieveTenants"/>
            <wsdl:output message="ns:retrieveTenantsResponse" wsaw:Action="urn:retrieveTenantsResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:retrieveTenantsTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <wsdl:input message="ns:getTenantRequest" wsaw:Action="urn:getTenant"/>
            <wsdl:output message="ns:getTenantResponse" wsaw:Action="urn:getTenantResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:getTenantTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <wsdl:input message="ns:deactivateTenantRequest" wsaw:Action="urn:deactivateTenant"/>
            <wsdl:output message="ns:deactivateTenantResponse" wsaw:Action="urn:deactivateTenantResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:deactivateTenantTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="retrievePartialSearchTenants">
            <wsdl:input message="ns:retrievePartialSearchTenantsRequest" wsaw:Action="urn:retrievePartialSearchTenants"/>
            <wsdl:output message="ns:retrievePartialSearchTenantsResponse" wsaw:Action="urn:retrievePartialSearchTenantsResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:retrievePartialSearchTenantsTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedTenants">
            <wsdl:input message="ns:retrievePaginatedTenantsRequest" wsaw:Action="urn:retrievePaginatedTenants"/>
            <wsdl:output message="ns:retrievePaginatedTenantsResponse" wsaw:Action="urn:retrievePaginatedTenantsResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:retrievePaginatedTenantsTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <wsdl:input message="ns:updateTenantRequest" wsaw:Action="urn:updateTenant"/>
            <wsdl:output message="ns:updateTenantResponse" wsaw:Action="urn:updateTenantResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:updateTenantTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <wsdl:input message="ns:addTenantRequest" wsaw:Action="urn:addTenant"/>
            <wsdl:output message="ns:addTenantResponse" wsaw:Action="urn:addTenantResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:addTenantTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedPartialSearchTenants">
            <wsdl:input message="ns:retrievePaginatedPartialSearchTenantsRequest" wsaw:Action="urn:retrievePaginatedPartialSearchTenants"/>
            <wsdl:output message="ns:retrievePaginatedPartialSearchTenantsResponse" wsaw:Action="urn:retrievePaginatedPartialSearchTenantsResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:retrievePaginatedPartialSearchTenantsTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <wsdl:input message="ns:activateTenantRequest" wsaw:Action="urn:activateTenant"/>
            <wsdl:output message="ns:activateTenantResponse" wsaw:Action="urn:activateTenantResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:activateTenantTenantMgtAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <wsdl:input message="ns:deleteTenantRequest" wsaw:Action="urn:deleteTenant"/>
            <wsdl:output message="ns:deleteTenantResponse" wsaw:Action="urn:deleteTenantResponse"/>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:deleteTenantTenantMgtAdminServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TenantMgtAdminServiceSoap11Binding" type="ns:TenantMgtAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTenant">
            <soap:operation soapAction="urn:getTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveTenants">
            <soap:operation soapAction="urn:retrieveTenants" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <soap:operation soapAction="urn:deactivateTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePartialSearchTenants">
            <soap:operation soapAction="urn:retrievePartialSearchTenants" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedTenants">
            <soap:operation soapAction="urn:retrievePaginatedTenants" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap:operation soapAction="urn:updateTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <soap:operation soapAction="urn:addTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedPartialSearchTenants">
            <soap:operation soapAction="urn:retrievePaginatedPartialSearchTenants" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <soap:operation soapAction="urn:deleteTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <soap:operation soapAction="urn:activateTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantMgtAdminServiceSoap12Binding" type="ns:TenantMgtAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTenant">
            <soap12:operation soapAction="urn:getTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveTenants">
            <soap12:operation soapAction="urn:retrieveTenants" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <soap12:operation soapAction="urn:deactivateTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePartialSearchTenants">
            <soap12:operation soapAction="urn:retrievePartialSearchTenants" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedTenants">
            <soap12:operation soapAction="urn:retrievePaginatedTenants" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap12:operation soapAction="urn:updateTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <soap12:operation soapAction="urn:addTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedPartialSearchTenants">
            <soap12:operation soapAction="urn:retrievePaginatedPartialSearchTenants" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <soap12:operation soapAction="urn:deleteTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <soap12:operation soapAction="urn:activateTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantMgtAdminServiceHttpBinding" type="ns:TenantMgtAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getTenant">
            <http:operation location="getTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveTenants">
            <http:operation location="retrieveTenants"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <http:operation location="deactivateTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrievePartialSearchTenants">
            <http:operation location="retrievePartialSearchTenants"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedTenants">
            <http:operation location="retrievePaginatedTenants"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <http:operation location="updateTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <http:operation location="addTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedPartialSearchTenants">
            <http:operation location="retrievePaginatedPartialSearchTenants"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <http:operation location="deleteTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <http:operation location="activateTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TenantMgtAdminService">
        <wsdl:port name="TenantMgtAdminServiceHttpsSoap11Endpoint" binding="ns:TenantMgtAdminServiceSoap11Binding">
            <soap:address location="https://172.16.60.1:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TenantMgtAdminServiceHttpsSoap12Endpoint" binding="ns:TenantMgtAdminServiceSoap12Binding">
            <soap12:address location="https://172.16.60.1:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TenantMgtAdminServiceHttpsEndpoint" binding="ns:TenantMgtAdminServiceHttpBinding">
            <http:address location="https://172.16.60.1:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
