service-stubs/org.wso2.carbon.adc.repositoryinformation.service.stub/4.1.1/src/main/resources/RepositoryInformationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://dao.mgt.adc.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://service.mgt.adc.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.mgt.adc.carbon.wso2.org">
    <wsdl:documentation>RepositoryInformationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax210="http://dao.mgt.adc.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dao.mgt.adc.carbon.wso2.org/xsd"/>
            <xs:element name="RepositoryInformationServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RepositoryInformationServiceException" nillable="true" type="ns1:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getRepositoryUrl">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRepositoryUrlResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRepositoryCredentials">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRepositoryCredentialsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:RepositoryCredentials"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao.mgt.adc.carbon.wso2.org/xsd">
            <xs:complexType name="RepositoryCredentials">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getRepositoryCredentialsRequest">
        <wsdl:part name="parameters" element="ns1:getRepositoryCredentials"/>
    </wsdl:message>
    <wsdl:message name="getRepositoryCredentialsResponse">
        <wsdl:part name="parameters" element="ns1:getRepositoryCredentialsResponse"/>
    </wsdl:message>
    <wsdl:message name="RepositoryInformationServiceException">
        <wsdl:part name="parameters" element="ns1:RepositoryInformationServiceException"/>
    </wsdl:message>
    <wsdl:message name="getRepositoryUrlRequest">
        <wsdl:part name="parameters" element="ns1:getRepositoryUrl"/>
    </wsdl:message>
    <wsdl:message name="getRepositoryUrlResponse">
        <wsdl:part name="parameters" element="ns1:getRepositoryUrlResponse"/>
    </wsdl:message>
    <wsdl:portType name="RepositoryInformationServicePortType">
        <wsdl:operation name="getRepositoryCredentials">
            <wsdl:input message="tns:getRepositoryCredentialsRequest" wsaw:Action="urn:getRepositoryCredentials"/>
            <wsdl:output message="tns:getRepositoryCredentialsResponse" wsaw:Action="urn:getRepositoryCredentialsResponse"/>
            <wsdl:fault message="tns:RepositoryInformationServiceException" name="RepositoryInformationServiceException" wsaw:Action="urn:getRepositoryCredentialsRepositoryInformationServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getRepositoryUrl">
            <wsdl:input message="tns:getRepositoryUrlRequest" wsaw:Action="urn:getRepositoryUrl"/>
            <wsdl:output message="tns:getRepositoryUrlResponse" wsaw:Action="urn:getRepositoryUrlResponse"/>
            <wsdl:fault message="tns:RepositoryInformationServiceException" name="RepositoryInformationServiceException" wsaw:Action="urn:getRepositoryUrlRepositoryInformationServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RepositoryInformationServiceSoap11Binding" type="tns:RepositoryInformationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getRepositoryCredentials">
            <soap:operation soapAction="urn:getRepositoryCredentials" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RepositoryInformationServiceException">
                <soap:fault use="literal" name="RepositoryInformationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRepositoryUrl">
            <soap:operation soapAction="urn:getRepositoryUrl" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RepositoryInformationServiceException">
                <soap:fault use="literal" name="RepositoryInformationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RepositoryInformationServiceSoap12Binding" type="tns:RepositoryInformationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getRepositoryCredentials">
            <soap12:operation soapAction="urn:getRepositoryCredentials" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RepositoryInformationServiceException">
                <soap12:fault use="literal" name="RepositoryInformationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRepositoryUrl">
            <soap12:operation soapAction="urn:getRepositoryUrl" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RepositoryInformationServiceException">
                <soap12:fault use="literal" name="RepositoryInformationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RepositoryInformationServiceHttpBinding" type="tns:RepositoryInformationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getRepositoryCredentials">
            <http:operation location="getRepositoryCredentials"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRepositoryUrl">
            <http:operation location="getRepositoryUrl"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RepositoryInformationService">
        <wsdl:port name="RepositoryInformationServiceHttpsSoap11Endpoint" binding="tns:RepositoryInformationServiceSoap11Binding">
            <soap:address location="https://10.100.2.139:9443/services/RepositoryInformationService.RepositoryInformationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RepositoryInformationServiceHttpsSoap12Endpoint" binding="tns:RepositoryInformationServiceSoap12Binding">
            <soap12:address location="https://10.100.2.139:9443/services/RepositoryInformationService.RepositoryInformationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RepositoryInformationServiceHttpsEndpoint" binding="tns:RepositoryInformationServiceHttpBinding">
            <http:address location="https://10.100.2.139:9443/services/RepositoryInformationService.RepositoryInformationServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>